form.form.form--green.form--callback
    .form__wrap
        button(type="button").callback__btn
            svg.callback__icon: use(xlink:href="assets/images/icons/sprite.svg#close")
        .block-title.block-title--with-margin
            .block-title__number.block-title__number--light
            h2.block-title__text.block-title__text--light заказать
                br 
                | звонок
        .form__column
            .form__row.form__row--callback
                label.form__block
                    input(type="text" name="user-name" placeholder="Имя" required).form__input
                lanel.form__block
                    select.form__callback-select
                        option.form__callback-option 12.00
                        option.form__callback-option 12.30
                        option.form__callback-option 13.00
            .form__row.form__row--callback
                label.form__block
                    input(type="text" name="user-number" placeholder="Телефон" required).form__input
        button(type="submit").form__button.form__button--callback
            .form__btn-text отправить
            svg.form__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")