.drop-down
    .container
        .drop-menu
            .drop-menu__col.visuallyhidden
                .drop-menu__heading
                    button(type="button").drop-menu__btn
                        svg.drop-menu__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#arrow2")
                    a(href="contacts.html").drop-menu__title контакти
            .drop-menu__col
                ul.drop-menu__list
                    li.drop-menu__item
                        a(href="#").drop-menu__link 79 концертний сезон (2015/2016)
                    li.drop-menu__item
                        a(href="#").drop-menu__link 80 концертний сезон (2015/2016)
            .drop-menu__col
                ul.drop-menu__list
                    li.drop-menu__item
                        a(href="contacts.html").drop-menu__link Квитки
                    li.drop-menu__item
                        a(href="events.html").drop-menu__link Події
            .drop-menu__col
                .drop-menu__subtitle Абонементи
                ul.drop-menu__list
                    li.drop-menu__item
                        a(href="#").drop-menu__link Слухай, співай та грай українське
                    li.drop-menu__item
                        a(href="#").drop-menu__link Вечори з «Аркатою»
                    li.drop-menu__item
                        a(href="#").drop-menu__link У фокусі — голос
                    li.drop-menu__item
                        a(href="#").drop-menu__link Steinway & K°
                    li.drop-menu__item
                        a(href="#").drop-menu__link Jazz у моєму місті
                    li.drop-menu__item
                        a(href="#").drop-menu__link Знай наших