footer.footer.footer--within
    .calendar
        .container
            .calendar__row
                .calendar__controls
                    a.calendar__link(href="#")
                        svg.calendar__link-icon: use(xlink:href="assets/images/icons/sprite.svg#arrow1")
                    button(type="button").calendar__month 2018 листопад
                    a.calendar__link(href="#")
                        svg.calendar__link-icon: use(xlink:href="assets/images/icons/sprite.svg#arrow1")
                ul.calendar__list
                    li.calendar__item
                        a.calendar__date(href="#") 01
                        .calendar__day пн
                    li.calendar__item
                        a.calendar__date.active(href="#") 02
                        .calendar__day вт
                    li.calendar__item
                        a.calendar__date(href="#") 03
                        .calendar__day ср
                    li.calendar__item
                        a.calendar__date(href="#") 04
                        .calendar__day чт
                    li.calendar__item
                        a.calendar__date(href="#") 05
                        .calendar__day пт
                    li.calendar__item
                        a.calendar__date(href="#") 06
                        .calendar__day сб
                    li.calendar__item
                        a.calendar__date(href="#") 07
                        .calendar__day вс
                    li.calendar__item
                        a.calendar__date.active(href="#") 08
                        .calendar__day пн
                    li.calendar__item
                        a.calendar__date(href="#") 09
                        .calendar__day вт
                    li.calendar__item
                        a.calendar__date(href="#") 10
                        .calendar__day ср
                    li.calendar__item
                        a.calendar__date(href="#") 11
                        .calendar__day чт
                    li.calendar__item
                        a.calendar__date(href="#") 12
                        .calendar__day пт
                    li.calendar__item
                        a.calendar__date(href="#") 13
                        .calendar__day сб
                    li.calendar__item
                        a.calendar__date.active(href="#") 14
                        .calendar__day нд
                    li.calendar__item
                        a.calendar__date.active(href="#") 15
                        .calendar__day пн
                    li.calendar__item
                        a.calendar__date.active(href="#") 16
                        .calendar__day вт
                    li.calendar__item
                        a.calendar__date(href="#") 17
                        .calendar__day ср
                    li.calendar__item
                        a.calendar__date.active(href="#") 18
                        .calendar__day чт
                    li.calendar__item
                        a.calendar__date(href="#") 19
                        .calendar__day пт
                    li.calendar__item
                        a.calendar__date(href="#") 20
                        .calendar__day сб
                    li.calendar__item
                        a.calendar__date(href="#") 21
                        .calendar__day вс
                    li.calendar__item
                        a.calendar__date(href="#") 22
                        .calendar__day пн
                    li.calendar__item
                        a.calendar__date(href="#") 23
                        .calendar__day вт
                    li.calendar__item
                        a.calendar__date(href="#") 24
                        .calendar__day ср
                    li.calendar__item
                        a.calendar__date(href="#") 25
                        .calendar__day чт
                    li.calendar__item
                        a.calendar__date(href="#") 26
                        .calendar__day пт
                    li.calendar__item
                        a.calendar__date(href="#") 27
                        .calendar__day сб
                    li.calendar__item
                        a.calendar__date.active(href="#") 28
                        .calendar__day нд
                    li.calendar__item
                        a.calendar__date(href="#") 29
                        .calendar__day пн
                    li.calendar__item
                        a.calendar__date(href="#") 30
                        .calendar__day вт
                    li.calendar__item
                        a.calendar__date(href="#") 31
                        .calendar__day ср
    .footer__row.footer__row--with-line.container
        .contacts
            a.contacts__mail(href="mailto:luganskaoblastnafilarmonia@gmail.com")
                svg.contacts__icon-mail: use(xlink:href="assets/images/icons/sprite.svg#mail")
                .contacts__text e-mail:
                .contacts__link luganskaoblastnafilarmonia@gmail.com
            a.contacts__phone(href="tel:+380500050055")
                svg.contacts__icon-phone: use(xlink:href="assets/images/icons/sprite.svg#phone")
                .contacts__text квиткова каса:
                .contacts__link +38 050 005 00 55
        .socials
            a.socials__link.socials__link--youtube(href="https://www.youtube.com/" target="blanc")
                svg.socials__icon.socials__icon--youtube: use(xlink:href="assets/images/icons/sprite.svg#youtube")
            a.socials__link.socials__link--facebook(href="https://www.facebook.com/lugansk.philharmonic/" target="blanc")
                svg.socials__icon.socials__icon--facebook: use(xlink:href="assets/images/icons/sprite.svg#facebook")
    .footer__row.footer__row--dark.footer__row--bottom
        .container.container--footer-bg
            .footer__col
                .footer__copy © Луганська обласна філармонія 2013-2018
            .footer__col
                .footer__partners
                    img.footer__img(src='./assets/images/icons/karabas.png' alt="karabas")
                    img.footer__img(src='./assets/images/icons/stv.png' alt="stv")