footer.footer
    .container
        .footer__wrap
            .footer__row.footer__row--main
                .footer__contacts
                    .footer__logo
                        a.footer__link(href="index.html")
                            img.footer__pic(src="./assets/images/icons/Logo.png" alt="logo")
                    .footer__phone  
                        a.footer__call(href="tel:") 8 (926) 289-42-23
                    .footer__adress
                        .footer__desk Россия, Москва
                            br 
                            | ул. Перерва д. 45 офис 8 
                        .footer__metro
                            .footer__metro-icon
                            .footer__metro-name Братиславская
                .footer__menu
                    .footer__col
                        .footer__subtitle разделы
                        ul.footer__list
                            li.footer__item
                                a.footer__action(href="index.html") главная
                            li.footer__item
                                a.footer__action(href="works.html") галерея работ
                            li.footer__item
                                a.footer__action(href="#") стоимость
                            li.footer__item
                                a.footer__action(href="calculator.html") калькулятор
                            li.footer__item
                                a.footer__action(href="feedback.html") отзывы
                            li.footer__item
                                a.footer__action(href="contacts.html") контакты
                    .footer__col
                        .footer__subtitle услуги
                        ul.footer__list
                            li.footer__item
                                a.footer__action(href="#") Заборы из профнастила
                            li.footer__item
                                a.footer__action(href="#") Заборы из сетки рабицы
                            li.footer__item
                                a.footer__action(href="#") Заборы из дерева
                            li.footer__item
                                a.footer__action(href="#") Заборы из евроштакетника
                            li.footer__item
                                a.footer__action(href="#") Заборы из 3D сетки
                    .footer__col
                        .footer__subtitle услуги
                        ul.footer__list
                            li.footer__item
                                a.footer__action(href="#") Монолитные заборы    
                            li.footer__item
                                a.footer__action(href="#") Ворота и калитки
                            li.footer__item
                                a.footer__action(href="#") Откатные ворота
                            li.footer__item
                                a.footer__action(href="#") Теплицы из поликарбоната
                            li.footer__item
                                a.footer__action(href="#") Навесы и беседки из поликарбоната
                .footer__socials
                    .social
                        ul.social__list
                            li.social__item
                                a.social__link.social__link--insta(href="#" target="blanc") Instagram
                            li.social__item
                                a.social__link.social__link--vk(href="#" target="blanc") VKontakte
                            li.social__item
                                a.social__link.social__link--fb(href="#" target="blanc") Facebook
                            li.social__item.social__item--with-label
                                .social__label создание
                                    br
                                    | и продвижение
                                a.social__link.social__link--seo(href="#" target="blanc") Умные SEO
                                    br 
                                    | технологии
            .footer__row
                .footer__info
                    .footer__info-col
                        .footer__copy 2014 - 2018 © Склад-Заборов.ру Все права защищены.
                    .footer__info-col
                        a(href="#" target="blanc").footer__policy Политика обработки персональных данных
                    .footer__info-col
                        a(href="mailto:info@sclad-zaborov.ru").footer__mail info@sclad-zaborov.ru
