footer.footer
    ul.footer__nav
        li.footer__item.footer__item--slogan
            .slogan
                .slogan__text Расточка головки блока цилиндров в Москве 
                    br
                    | ремонт ГБЦ по самым низким ценами
        li.footer__item
            .address.address--footer
                .address__caption ул. Южнопортовая, д.9, стр.2
                .address__line время работы: с 8:00 до 20:00
        li.footer__item.footer__item--call
            .call.call--footer
                a(href="tel:84994903804").call__caption 8 (499) 490-38-04
                a(href="#").call__line перезвонить мне
        li.footer__item.footer__item--last
            .socials 
                a(href="#" target="blanc").socials__link.socials__link--viber
                a(href="#" target="blanc").socials__link.socials__link--whatsapp
            .create
                .create__sub создание 
                    br
                    | и продвижение
                a(href="#" target="blanc").create__link умные 
                    span.create__bold seo
                    br
                    | технологии
    .footer__line
        .footer__copy.footer__copy--first Pit-Stop Motor © 2008-2018 Все права защищены.
        .footer__copy.footer__copy--second Pit-Stop Motor © 2008-2018
        a(href="#" target="blanc").footer__policy Политика обработки персональных данных
        a(href="mailto:info@pitstopmotor.ru").footer__mail info@pitstopmotor.ru