footer.footer.container
    .footer__row.footer__row--with-line
        .contacts
            a.contacts__mail(href="mailto:luganskaoblastnafilarmonia@gmail.com")
                svg.contacts__icon-mail: use(xlink:href="assets/images/icons/sprite.svg#mail")
                .contacts__text e-mail:
                .contacts__link luganskaoblastnafilarmonia@gmail.com
            a.contacts__phone(href="tel:+380500050055")
                svg.contacts__icon-phone: use(xlink:href="assets/images/icons/sprite.svg#phone")
                .contacts__text квиткова каса:
                .contacts__link +38 050 005 00 55
    .footer__row
        .footer__col
            .footer__copy © Луганська обласна філармонія  2013-2018
        .footer__col
            .footer__partners
                img.footer__img(src='./assets/images/icons/karabas.png' alt="karabas")
                img.footer__img(src='./assets/images/icons/stv.png' alt="stv")