.photo.photo--with-padding
    .photo__columns
        .photo__col-l
            .photo__image(style="background-image: url(./assets/images/gallery/fence-1.jpg)")
                .photo__image-wrap
                    .photo__content
                        h2.photo__title галерея заборов 
                            br 
                            | из профнастила
                        .photo__obj Страница 1 из 3
                        .slider__buttons.slider__buttons--second.slider__buttons--photo
                            button(type="button").controls.slider__prev.controls--second
                                svg.slider__icon.slider__icon--second: use(xlink:href="assets/images/icons/sprite.svg#left")
                            button(type="button").controls.slider__next.controls--second
                                svg.slider__icon.slider__icon--second: use(xlink:href="assets/images/icons/sprite.svg#right")
        .photo__col-r
            ul.photo__list.selected
                li.photo__item
                    ul.photo__sub-list
                        li.photo__sub-item.visible
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-2.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                        li.photo__sub-item
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-3.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                        li.photo__sub-item
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-4.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                li.photo__item
                    ul.photo__sub-list
                        li.photo__sub-item.visible
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-3.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                        li.photo__sub-item
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-2.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                        li.photo__sub-item
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-4.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                li.photo__item
                    ul.photo__sub-list
                        li.photo__sub-item.visible
                            a.photo__link(href="#")
                                .photo__pic
                                    img.photo__img(src="./assets/images/gallery/fence-4.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                li.photo__item
                    ul.photo__sub-list
                        li.photo__sub-item.visible
                            a.photo__link(href="#")
                                .photo__pic
                                    img.photo__img(src="./assets/images/gallery/fence-5.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                li.photo__item
                    ul.photo__sub-list
                        li.photo__sub-item.visible
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-5.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                        li.photo__sub-item
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-3.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                        li.photo__sub-item
                            a.photo__link(href="#")
                                .photo__pic.photo__pic--more
                                    img.photo__img(src="./assets/images/gallery/fence-4.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                li.photo__item
                    ul.photo__sub-list
                        li.photo__sub-item.visible
                            a.photo__link(href="#")
                                .photo__pic
                                    img.photo__img(src="./assets/images/gallery/fence-6.jpg" alt="gallery")
                                svg.photo__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")