header.header
    .container
        .header__wrap
            .header__logo
                a.header__link(href="index.html")
                    img.header__pic(src="./assets/images/icons/Logo.png" alt="logo")
            .header__menu
                ul.menu
                    li.menu__item
                        a.menu__link(href="index.html") главная 
                    li.menu__item
                        a.menu__link(href="#") услуги
                        ul.dropdown
                            li.dropdown__item
                                a.dropdown__link(href="calculator.html") Заборы из профнастила
                            li.dropdown__item
                                a.dropdown__link(href="#") Заборы из сетки рабицы
                            li.dropdown__item
                                a.dropdown__link(href="#") Заборы из дерева
                            li.dropdown__item
                                a.dropdown__link(href="#") Заборы из евроштакетника
                            li.dropdown__item
                                a.dropdown__link(href="#") Заборы из евроштакетника
                            li.dropdown__item
                                a.dropdown__link(href="#") Монолитные заборы
                            li.dropdown__item
                                a.dropdown__link(href="#") Ворота и калитки
                            li.dropdown__item
                                a.dropdown__link(href="#") Откатные ворота
                            li.dropdown__item
                                a.dropdown__link(href="#") Теплицы из поликарбоната
                            li.dropdown__item
                                a.dropdown__link(href="#") Навесы и беседки из поликарбоната
                    li.menu__item
                        a.menu__link(href="#") наши работы 
                    li.menu__item
                        a.menu__link(href="contacts.html") контакты
            .header__contacts
                a.header__call(href="tel:")
                    .header__icon
                        svg.header__icon-phone: use(xlink:href="assets/images/icons/sprite.svg#phone")
                    .header__phone
                        .header__number 8 (926) 289-42-23
                        .header__text перезвонить мне
            