header.header
    .header__left
        .logo
            a.logo__link(href="index.html")
                img.logo__image(src="./assets/images/icons/Logo.png")
    .header__right
        .nav
            button.nav__search(type="button")
                svg.nav__search-icon: use(xlink:href="assets/images/icons/sprite.svg#search")
                //-https://ru.freepik.com/free-icons
            .lang
                .lang__item
                    a.lang__link(href="#") укр
                .lang__item
                    a.lang__link(href="#") eng
