header.header
    .container
        .header__wrap.header__wrap--border
            .header__logo
                a.header__link(href="index.html")
                    .header__pic
                    .header__pic-text
                        .header__pic-text1 склад
                        .header__pic-text2 заборов
            .header__menu
                ul.menu
                    li.menu__item
                        a.menu__link(href="index.html") главная 
                    li.menu__item
                        a.menu__link(href="#") услуги
                        ul.dropdown
                            li.dropdown__item
                                a.dropdown__link(href="calculator-prof.html") Заборы из профнастила
                            li.dropdown__item
                                a.dropdown__link(href="calculator-rabica.html") Заборы из сетки рабицы
                            li.dropdown__item
                                a.dropdown__link(href="calculator-wood.html") Заборы из дерева
                            li.dropdown__item
                                a.dropdown__link(href="calculator-3d.html") Заборы из 3D
                            li.dropdown__item
                                a.dropdown__link(href="calculator-ramka.html") Заборы из рабицы в рамке
                            li.dropdown__item
                                a.dropdown__link(href="calculator-euro.html") Забор из евроштакетника
                            li.dropdown__item
                                a.dropdown__link(href="#") Ворота и калитки
                            li.dropdown__item
                                a.dropdown__link(href="#") Откатные ворота
                            li.dropdown__item
                                a.dropdown__link(href="#") Теплицы из поликарбоната
                            li.dropdown__item
                                a.dropdown__link(href="#") Навесы и беседки из поликарбоната
                    li.menu__item
                        a.menu__link(href="works.html") наши работы 
                    li.menu__item
                        a.menu__link(href="contacts.html") контакты
            .header__contacts
                a.header__call(href="tel:")
                    .header__icon
                        svg.header__icon-phone: use(xlink:href="assets/images/icons/sprite.svg#phone")
                    .header__phone
                        .header__number 8 (926) 289-42-23
                        .header__text перезвонить мне
            button(type="button").hamburger#openFull
                .hamburger__menu
    .header__mob-menu
        .container
            ul.menu
                li.menu__item
                    a.menu__link(href="index.html") главная 
                li.menu__item
                    a.menu__link#openDrop(href="calculator.html") услуги
                    ul.dropdown
                        li.dropdown__item
                            a.dropdown__link(href="calculator-prof.html") Заборы из профнастила
                        li.dropdown__item
                            a.dropdown__link(href="calculator-rabica.html") Заборы из сетки рабицы
                        li.dropdown__item
                            a.dropdown__link(href="calculator-wood.html") Заборы из дерева
                        li.dropdown__item
                            a.dropdown__link(href="calculator-3d.html") Заборы из 3D
                        li.dropdown__item
                            a.dropdown__link(href="calculator-ramka.html") Заборы из рабицы в рамке
                        li.dropdown__item
                            a.dropdown__link(href="calculator-euro.html") Забор из евроштакетника
                        li.dropdown__item
                            a.dropdown__link(href="#") Ворота и калитки
                        li.dropdown__item
                            a.dropdown__link(href="#") Откатные ворота
                        li.dropdown__item
                            a.dropdown__link(href="#") Теплицы из поликарбоната
                        li.dropdown__item
                            a.dropdown__link(href="#") Навесы и беседки из поликарбоната
                li.menu__item
                    a.menu__link(href="works.html") наши работы 
                li.menu__item
                    a.menu__link(href="contacts.html") контакты