header.header#top
    .header__row.header__row--show-md
        .header__col
            .logo
                a(href="index.html").logo__link
                    img(src="./assets/images/logo.png" alt="logo").logo__img
            button(type="button").hamburger#openFull
                .hamburger__menu
        .header__col
            a(href="#").header__calc
            a(href="#").header__letter
    .header__nav
        .address.address--desktop
            .address__caption Москва
            .address__wrap
                .address__line.address__line--top ул. Южнопортовая, д.9, стр.2
                .address__line время работы с 8:00 до 20:00
        .address.address--notebook
            .address__caption Москва
            .address__line ул. Южнопортовая, д.9, стр.2
        .calc
            a(href="#").calc__caption Калькулятор
            .calc__line расчитать стоимость
        .call
            a(href="tel:84994903804").call__caption 8 (499) 490-38-04
            a(href="#").call__line#popup-two перезвонить мне
    a(href="#").header__letter.header__letter--hide-md