header.header#top
    .header__nav
        .address.address--desktop
            .address__caption Москва
            .address__wrap
                .address__line.address__line--top ул. Южнопортовая, д.9, стр.2
                .address__line время работы с 8:00 до 20:00
        .address.address--notebook
            .address__caption Москва
            .address__line ул. Южнопортовая, д.9, стр.2
        .calc
            a(href="#").calc__caption Калькулятор
            .calc__line расчитать стоимость
        .call
            a(href="tel:84994903804").call__caption 8 (499) 490-38-04
            a(href="#").call__line перезвонить мне
    button(type="button").header__letter