header.header
    .container.container--flex
        .header__l
            .logo
                a.logo__link(href="index.html")
                    img.logo__image(src="./assets/images/icons/Logo.png" alt="logo")
            button(type="button").hamburger#openFull
                .hamburger__menu
        .header__r
            .nav.nav--top
                button.nav__search(type="button")
                    svg.nav__search-icon: use(xlink:href="assets/images/icons/sprite.svg#search")
                .lang
                    a.lang__link.active(href="#") укр
                    a.lang__link(href="#") eng
            .menu
                ul.menu__list
                    li.menu__item
                        a.menu__link.active(href="index.html") головна
                    li.menu__item
                        a.menu__link(href="about.html") про філармонію
                    li.menu__item
                        a.menu__link.menu__link--drop(href="#") виконавці
                        include ../common/drop-menu.pug
                    li.menu__item
                        a.menu__link.menu__link--drop(href="#") концерти
                        include ../common/drop-menu.pug
                    li.menu__item
                        a.menu__link.menu__link--drop(href="#") галерея
                        include ../common/drop-menu.pug
                    li.menu__item
                        a.menu__link(href="#") комунальна власність
                    li.menu__item
                        a.menu__link.menu__link--drop(href="#") контакти
                        include ../common/drop-menu.pug