.pagination
    a.pagination__btn(href="#")
        svg.pagination__icon: use(xlink:href="assets/images/icons/sprite.svg#arrow2")
        .pagination__desk попередні записи
    a.pagination__btn(href="#")
        svg.pagination__icon: use(xlink:href="assets/images/icons/sprite.svg#arrow2")
        .pagination__desk наступні записи