aside.sidebar
    .logo.logo--hide-md
        a(href="index.html").logo__link
            img(src="./assets/images/logo-no-ret.png" alt="logo").logo__img-no-ret
            img(src="./assets/images/logo.png" alt="logo").logo__img
    ul.menu.menu--top#accordion
        li.menu__item
            a(href="#").menu__link Ремонт ГБЦ
                span.icon--arrow
            .sub-menu
                .sub-menu__title иномарки:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки легковые1
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС свыше 3,5л)
                .sub-menu__title отечественные:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные легковые
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС свыше 3,5л)
        li.menu__item
            a(href="#").menu__link Ремонт БЦ
                span.icon--arrow
            .sub-menu
                .sub-menu__title иномарки:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки легковые2
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС свыше 3,5л)
                .sub-menu__title отечественные:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные легковые
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС свыше 3,5л)
        li.menu__item
            a(href="#").menu__link Ремонт КВ
                span.icon--arrow
            .sub-menu
                .sub-menu__title иномарки:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки легковые3
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС свыше 3,5л)
                .sub-menu__title отечественные:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные легковые
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС свыше 3,5л)
        li.menu__item
            a(href="#").menu__link Ремонт шатунов и поршней
                span.icon--arrow
            .sub-menu
                .sub-menu__title иномарки:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки легковые4
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС свыше 3,5л)
                .sub-menu__title отечественные:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные легковые
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС свыше 3,5л)
        li.menu__item
            a(href="#").menu__link Нестандартный и сложный ремонт
                span.icon--arrow
            .sub-menu
                .sub-menu__title иномарки:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки легковые5
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС свыше 3,5л)
                .sub-menu__title отечественные:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные легковые
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС свыше 3,5л)
        li.menu__item
            a(href="#").menu__link Ремонт других деталей
                span.icon--arrow
            .sub-menu
                .sub-menu__title иномарки:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки легковые6
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Иномарки грузовые (объем ДВС свыше 3,5л)
                .sub-menu__title отечественные:
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные легковые
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС до 3,5л)
                    li.sub-menu__item
                        a(href="#").sub-menu__link Отечественные грузовые (объем ДВС свыше 3,5л)
    ul.menu.menu--bottom
        li.menu__item
            a(href="type-service2.html").menu__link Капитальный ремонт ДВС
        li.menu__item
            a(href="price.html").menu__link Прайс-лист 
        li.menu__item
            a(href="#").menu__link Акции и скидки
        li.menu__item
            a(href="#").menu__link Договор по безналу
        li.menu__item
            a(href="tools.html").menu__link Наше оборудование
        li.menu__item
            a(href="#").menu__link Выездная приемка
        li.menu__item
            a(href="contacts.html").menu__link Контакты