extends ../template

block variables
    - var title = 'Про філармонію'

block content
    .wrapper
        .preloader.preloader--light
            .preloader__spinner
                .preloader__animation.preloader__animation--light
                .preloader__percents.preloader__percents--light 0%
        include ../common/header--within.pug
        .crumbs
            .container
                ul.crumbs__list
                    li.crumbs__item
                        a.crumbs__link(href="index.html") Головна
                    li.crumbs__item
                        .crumbs__link.crumbs__link--active Про філармонію
        section.section.about
            .container
                .section__title-wrap
                    h1.section__title Про філармонію
                .about__content
                    h2.about__subtitle Історія Луганської обласної філармонії
                    .about__text
                        p Історія Луганської обласної філармонії почалася з 1943 року. Першим її директором став Д.І. Слащов, а першим художнім керівником - А.Ф. Ковальський.
                        p Спочатку філармонія не мала свого приміщення. Та його відсутність не заважала артистам радувати слухачів концертними програмами, виїжджати в міста і райони. До складу установи культури входили театр естради та комсомольсько-молодіжний ансамбль пісні і танцю. Були також затверджені наступні художні одиниці: симфонічний ансамбль, ансамбль пісні і танцю, ансамбль бандуристів, театральний джаз, група солістів філармонійного плану.
                        p На той час директором філармонії був призначений С. Муратов, а художнім керівником став С. Ратнер, який очолював симфонічний ансамбль. У цей період почалася активна концертно-просвітницька робота. Протягом першого повоєнного концертного сезону у виконанні симфонічного ансамблю прозвучали твори відомих композиторів.артист України Петро Шаповалов, Народна артистка України Джульєтта Якубович, Народна артистка України Галина Мурзай, Народний артист України Володимир Калашников, Народний артист України Володимир Савченко, Народна артистка України Віра Андріяненко, Заслужений артист України Лев Ставицький, Народний артист України Володимир Самарцев.
                        p Вже тоді філармонія була не тільки центром духовного життя регіону, а й однією з провідних концертних організацій країни. У 60 – 80-ті роки на сцені здійснюються виконання опер всесвітньо відомих композиторів, таких як Дж. Верді («Травіата»), Дж. Россіні («Севільський цирульник»), П.І. Чайковський («Іоланта») та інших.
                        p Наступні 15 років були не менш багатими на події. Так, в 1985 році в залі філармонії був встановлений, тоді єдиний в Україні, орган німецької фірми «Олександр Шуке». Цей орган спеціально призначений для такого залу. Надзвичайно якісні регістри, механіка, внутрішній устрій, звуковий результат завжди викликав захоплення гастролерів-органістів. Але його постійною берегинею по праву вважали Заслужену артистку України Анну Мокрову, яка грала на цьому інструменті з 1986 року.
                    .about__desc
                        img.about__img(src="./assets/images/photo/photo-one.jpg" alt="photo")
                        .about__caption Описание фото, например: Якийсь там виступ академічного симфонічного оркестру Луганськоїї філармонії
                    .about__text
                        p Історія Луганської обласної філармонії почалася з 1943 року. Першим її директором став Д.І. Слащов, а першим художнім керівником - А.Ф. Ковальський.
                        p.about__text-interval Спочатку філармонія не мала свого приміщення. Та його відсутність не заважала артистам радувати слухачів концертними програмами, виїжджати в міста і райони. До складу установи культури входили театр естради та комсомольсько-молодіжний ансамбль пісні і танцю. Були також затверджені наступні художні одиниці: симфонічний ансамбль, ансамбль пісні і танцю, ансамбль бандуристів, театральний джаз, група солістів філармонійного плану.
                        p.about__text-interval На той час директором філармонії був призначений С. Муратов, а художнім керівником став С. Ратнер, який очолював симфонічний ансамбль. У цей період почалася активна концертно-просвітницька робота. Протягом першого повоєнного концертного сезону у виконанні симфонічного ансамблю прозвучали твори відомих композиторів.
                        p.about__text-interval Ансамбль пісні і танцю складався з кращих співаків, танцюристів і музикантів краю, які включили до свого репертуару пісні, написані в роки Великої Вітчизняної війни, твори про відродження Донбасу, його людей.
                        p.about__text-interval У 1945 році за ініціативою першого секретаря обласного комітету компартії України А. Гайового в місті був створений симфонічний оркестр.
                        p.about__text-interval У 40-50-ті роки саме у філармонії були закладені основні традиції музичного просвітництва Луганській області: проводилися цикли лекцій-концертів, ряд тематичних програм для школярів, учнів середніх і вищих навчальних закладів, заводських гуртожитків і сільських клубів.
                    .about__desc.about__desc--no-margin
                        img.about__img(src="./assets/images/photo/photo-two.jpg" alt="photo")
                        .about__caption Описание фото, например: Якийсь там виступ академічного симфонічного оркестру Луганськоїї філармонії
                    .about__desc.about__desc--no-margin
                        img.about__img(src="./assets/images/photo/photo-three.jpg" alt="photo")
                        .about__caption Описание фото, например: Якийсь там виступ академічного симфонічного оркестру Луганськоїї філармонії
                    .about__desc
                        img.about__img(src="./assets/images/photo/photo-four.jpg" alt="photo")
                        .about__caption Описание фото, например: Якийсь там виступ академічного симфонічного оркестру Луганськоїї філармонії
                    .about__text
                        p Історія Луганської обласної філармонії почалася з 1943 року. Першим її директором став Д.І. Слащов, а першим художнім керівником - А.Ф. Ковальський.
                        p.about__text-interval Спочатку філармонія не мала свого приміщення. Та його відсутність не заважала артистам радувати слухачів концертними програмами, виїжджати в міста і райони. До складу установи культури входили театр естради та комсомольсько-молодіжний ансамбль пісні і танцю. Були також затверджені наступні художні одиниці: симфонічний ансамбль, ансамбль пісні і танцю, ансамбль бандуристів, театральний джаз, група солістів філармонійного плану.
                        p.about__text-interval На той час директором філармонії був призначений С. Муратов, а художнім керівником став С. Ратнер, який очолював симфонічний ансамбль. У цей період почалася активна концертно-просвітницька робота. Протягом першого повоєнного концертного сезону у виконанні симфонічного ансамблю прозвучали твори відомих композиторів.
                        p.about__text-interval Ансамбль пісні і танцю складався з кращих співаків, танцюристів і музикантів краю, які включили до свого репертуару пісні, написані в роки Великої Вітчизняної війни, твори про відродження Донбасу, його людей.
                    h2.about__subtitle.about__subtitle--big-margin Створення симфоничного оркестру
                    .about__text
                        p.about__text-interval У 1945 році за ініціативою першого секретаря обласного комітету компартії України А. Гайового в місті був створений симфонічний оркестр.
                        p.about__text-interval У 40-50-ті роки саме у філармонії були закладені основні традиції музичного просвітництва Луганській області: проводилися цикли лекцій-концертів, ряд тематичних програм для школярів, учнів середніх і вищих навчальних закладів, заводських гуртожитків і сільських клубів. У цей період симфонічний оркестр філармонії став провідним колективом області, а концертна зала філармонії центром музичної роботи області. Луганчани вперше побачили відомих музикантів: Б. Гольдштейна, Д. Ойстраха, Ю. Ситковецького, Л. Когана, Е. Гілельса, Г. Гінзбурга, Р. Глієра та багатьох інших.
                        p.about__text-interval Багато років свій неймовірний талант дарували такі яскраві представники філармонії, як Народний артист СРСР Юрій Богатиков, Заслужений артист України Петро Шаповалов, Народна артистка України Джульєтта Якубович, Народна артистка України Галина Мурзай, Народний артист України Володимир Калашников, Народний артист України Володимир Савченко, Народна артистка України Віра Андріяненко, Заслужений артист України Лев Ставицький, Народний артист України Володимир Самарцев.
                        p.about__text-interval Вже тоді філармонія була не тільки центром духовного життя регіону, а й однією з провідних концертних організацій країни. У 60 – 80-ті роки на сцені здійснюються виконання опер всесвітньо відомих композиторів, таких як Дж. Верді («Травіата»), Дж. Россіні («Севільський цирульник»), П.І. Чайковський («Іоланта») та інших.
                        p.about__text-interval Наступні 15 років були не менш багатими на події. Так, в 1985 році в залі філармонії був встановлений, тоді єдиний в Україні, орган німецької фірми «Олександр Шуке». Цей орган спеціально призначений для такого залу. Надзвичайно якісні регістри, механіка, внутрішній устрій, звуковий результат завжди викликав захоплення гастролерів-органістів. Але його постійною берегинею по праву вважали Заслужену артистку України Анну Мокрову, яка грала на цьому інструменті з 1986 року.
                    .about__desc
                        img.about__img(src="./assets/images/photo/photo-five.jpg" alt="photo")
                        .about__caption Описание фото, например: Якийсь там виступ академічного симфонічного оркестру Луганськоїї філармонії    
                    .about__text
                        p.about__text-interval Одним з основних творчих цехів філармонії вважався музичний лекторій. Його солістами були  – Лауреати багатьох міжнародних конкурсів і фестивалів Олена Босенко і Ігор Новіков, Заслужений діяч мистецтв України Юрій Калашников, Заслужені артистки України Людмила Колесникова, Людмила Манасян і Анна Мокрова, Народні артисти України Володимир Савченко, Віра Андріяненко, Володимир Самарцев.
                        p.about__text-interval У 80-ті роки починає активно розвиватися естрадний напрямок. В цей час у філармонії працюють рок-групи «Пласт» і «Грані», ВІА «Alma mater», театр пісні «Привіт». Та одною з найяскравіших подій цього періоду стає поява на сцені філармонії артиста естради Валерія Леонтьєва. З 1982 по 1995 роки він працював в Ворошиловградській (нині Луганській) філармонії солістом-вокалістом естрадного жанру, художнім керівником вокально-інструментального ансамблю «Ехо». Саме в цей період (1987 р.) артисту було присвоєно звання Заслуженого артиста Української ССР.
                        p.about__text-interval У 90-ті роки симфонічний оркестр успішно гастролює. В 1999 році відбуваються перші закордонні гастролі в Італію. Пізніше оркестр  гастролює в Іспанії, Австрії, Швеції, Бельгії, Франції, Німеччині, Данії, Японії, Китаї та Норвегії.
                        p.about__text-interval Всеосяжна просвітницька діяльність музичного лекторію, успішні виступи і визнання на державному рівні симфонічного оркестру, привласнення артистам звань «Народний» і «Заслужений», робота дитячої філармонії «Ровесник» - все це успіхи Луганської обласної філармонії з 1980 по 2000 роки. 
                        p.about__text-interval З 2002 р. оркестр очолює австрійський диригент і композитор Курт Шмід, завдяки діяльності якого починається новий етап розвитку симфонічного оркестру, розширення репертуару колективу, карти його гастрольної діяльності. 
                        p.about__text-interval У цей період на базі Академічного симфонічного оркестру Луганської обласної філармонії за ініціативою маестро Курта Шміда створюється Донбаський симфонічний оркестр. У його склад запрошують найкращих музикантів оркестру.
                        p.about__text-interval 2 жовтня 2004 року відбувається презентація новоствореного оркестру, а також початок концертних програм у рамках Міжнародного фестивалю мистецтв "Соляна симфонія". За участю всесвітньовідомої оперної співачки, солістки Віденської опери, Народної артистки України Вікторії Лук'янець і під керівництвом Курта Шміда, з великим успіхом проходить перший концерт у соляній шахті м. Соледар Донецької області на глибині 288 метрів.
                        p.about__text-interval В 2005 році успішний виступ оркестру в рамках проекту «Соляна Симфонія» продовжився у залі Національної опери Києва за участю Заслуженої артистки України Анни Братусь, Народної артистки України Вікторії Лук’янець та соліста Донецького державного академічного театру опери та балету Євгена Удовіна. Під час концерту створити ілюзію знаходження в шахті допомогли екран, де весь час демонструвалися слайди із зображенням соляних скульптур, а також унікальні прикраси залу у вигляді композицій з шматків солі.
                        p.about__text-interval В 2006 році  Міжнародний фестиваль мистецтв «Соляна симфонія» відбувся втретє. Цього разу з артистами Донбаського симфонічного оркестру виступили музиканти Донецького симфонічного оркестру, соліст з Туреччини Ердем Байдар і хор Луганського національного педагогічного університету. Проходив концерт знов у соляній шахті міста Соледар. (До речі, трохи пізніше, єдиний в Україні спелеосанаторій м. Соледар, що спеціалізується на реабілітації пацієнтів в природної соляній шахті, натхненний таким проектом, вирішив назвати свій заклад - «Соляна симфонія»).
                        p.about__text-interval Ще одна цікава музична подія, яка була до речі організована Посольством Австрійський Республіки, відбулася в 2004 році, коли оркестр під керівництвом Курта Шміда виконав шедеври класики на «Віденському балу» спочатку в колонній залі Київської мерії, а в 2005 році – у  Національному театрі опери та балету України. Серед запрошених гостей були присутні дипломати, міністри, політики, бізнесмени та видатні особистості.
                        p.about__text-interval В 2005 році завдяки співробітництву Шміда з Луганським симфонічним оркестром у місті Луганську була вперше виконана Дев'ята симфонія Людвіга ван Бетховена. З цією ж програмою під керівництвом Курта Шміда відбувається гастрольне турне в Австрію, де музиканти оркестру (за участю солістки Національної опери України Наталі Кислої, Народного артиста України Сергія Магери, соліста Донецького державного академічного театру опери та балету Євгена Удовіна, солістки Донецької обласної філармонії, Заслуженої артистки України Анни Братусь, хору Луганського національного педагогічного університету, хору церкви Гайдна в Айзенштадті (Eisenstadt) та хору міста Клостенойбург (Klosterneuburg) виступають у найвідоміших культурних центрах Австрії: Культурний Центр «Kulturzentrum» в Австрії, місто Айзенштадт (Eisenstadt) та у Великому «Золотому залі» Музікферайн (Musikverein) – всесвітньо відомому центрі класичної музики у Відні, де  виступають артисти найвищого рангу. 
                        p.about__text-interval 2006 рік – Луганський симфонічний оркестр виконує «Реквієм» В.А. Моцарта спільно з молодими талановитими вокалістами Оленою Босенко, Ігорем Новіковим, Наталією Паранич, Андрієм Доценко, а також з хором Луганського національного педагогічного університету спочатку у місті Луганську, а потім вперше на Батьківщині видатного композитора Моцарта – в Австрії: Відень, Рум, Айзенштадт, Інсбрук, Грац. В цьому ж році симфонічний оркестр був удостоєний звання «Академічного». 
                        p.about__text-interval В 2007 році в рамках Фестивалю «Дні культури Австрії в Україні» та на честь ювілею маестро, при підтримці Посольства Австрійської Республіки. 
        include ../common/footer--within.pug