extends ../template

block variables
    - var title = 'Калькулятор'

block content
    .wrapper
        include ../common/header.pug
        section.section
            .section__under.section__under--contacts
                .section__under-img.section__under-img--calc
                    .section__image-wrap.section__image-wrap--darken
            .hero
                .container
                    .hero__wrap.hero__wrap--fullwidth
                        h1.section__title.section__title--bold Расчет стоимости забора 
                            br 
                            | из 
                            span.section__title--blue профнастила
                            // если заменить класс на - '.section__title--red' получишь красный цвет
                            |  длиной 
                            span.section__title--blue 100м
            // первый шаг калькулятора (меняются '.tabs' и содержимое '.form__columns')
            .calc
                .container
                    .calc__wrap
                        form.form.form--grey.form--calc
                            .block-title
                                .block-title__number 01.
                                h2.block-title__text расчет 
                                    br 
                                    | стоимости
                            .form__tabs
                                .tabs
                                    ul.tabs__list
                                        li.tabs__item
                                            a.tabs__link.selected(href="#")
                                                .tabs__obj Выбор покрытия
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Высота забора
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Кол-во горизонталей (лаг)
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Кол-во ворот
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Кол-во калиток
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link.tabs__link--result(href="#")
                                                .tabs__result Результат:
                                                .tabs__value 265000 р
                            .form__columns      
                                .form__col-l
                                    .form__row
                                        label.form__block.form__block--no-flex
                                            .form__subtitle.form__subtitle--no-margin.form__subtitle--dark Типы покрытия (7)
                                            label.form__select(for='select')
                                                input#bg(type='radio', name='list', value='not_changed', checked='')
                                                input#select(type='radio', name='list', value='not_changed')
                                                label.bg(for='bg')
                                                .items
                                                    input(type='radio', name='list', value='first_value', id='list[0]')
                                                    label.green(for='list[0]') Нет
                                                    input(type='radio', name='list', value='second_value', id='list[1]')
                                                    label.green(for='list[1]') 1
                                                    input(type='radio', name='list', value='third_value', id='list[2]')
                                                    label.green(for='list[2]') 2
                                                    input(type='radio', name='list', value='fourth_value', id='list[3]')
                                                    label.green(for='list[3]') 3
                                    button(type="submit").form__button.form__button--dark.form__button--calc
                                        .form__btn-text.form__btn-text--dark.form__btn-text--bold продолжить расчет
                                        svg.form__btn-icon.form__btn-icon--dark: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                .form__col-r
                                    .form__image(style="background-image: url(./assets/images/pic/calc-one.jpg)")
                                    .form__caption Вы можете указать интересующий вид профнастила
                                    .form__row
                                        label.form__block
                                            input(type="radio" name="options" value="вид").form__radio.visuallyhidden
                                            .form__radio-fake.form__radio-fake--green
                                            .form__subtitle.form__subtitle--margin-left С-8х1150
                                        label.form__block
                                            input(type="radio" name="options" value="вид").form__radio.visuallyhidden
                                            .form__radio-fake.form__radio-fake--green
                                            .form__subtitle.form__subtitle--margin-left С-21х1000
                                        label.form__block
                                            input(type="radio" name="options" value="вид").form__radio.visuallyhidden
                                            .form__radio-fake.form__radio-fake--green
                                            .form__subtitle.form__subtitle--margin-left МП-20х1100
                                        label.form__block
                                            input(type="radio" name="options" value="вид").form__radio.visuallyhidden
                                            .form__radio-fake.form__radio-fake--green
                                            .form__subtitle.form__subtitle--margin-left МП-35х1035
                                    .form__text.form__text--dark.form__text--90
                                        p Оцинкованный профильный лист с цветным полимерным покрытием с одной стороны и светло-серым грунтовым покрытием, защищенным лаком, с другой стороны. Толщина стального листа от 0,35мм до 0,7мм. Выбор цвета имеет большой ассортимент.
                                    .form__colors 
                                        p Цветовая палитра содержит все 
                                            a.form__colors-link(href="#" target="blanc") цвета стандарта RAL 
                                            | - 213 вариантов.
            // второй шаг калькулятора (меняются '.tabs' и содержимое '.form__columns')
            .calc
                .container
                    .calc__wrap
                        form.form.form--grey.form--calc
                            .block-title
                                .block-title__number 01.
                                h2.block-title__text расчет 
                                    br 
                                    | стоимости
                            .form__tabs
                                .tabs
                                    ul.tabs__list
                                        li.tabs__item
                                            a.tabs__link.active(href="#")
                                                .tabs__obj Выбор покрытия
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link.selected(href="#")
                                                .tabs__obj Высота забора
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Кол-во горизонталей (лаг)
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Кол-во ворот
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link(href="#")
                                                .tabs__obj Кол-во калиток
                                                svg.tabs__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                                        li.tabs__item
                                            a.tabs__link.tabs__link--result(href="#")
                                                .tabs__result Результат:
                                                .tabs__value 265000 р
                            .form__columns      
                                .form__col-l.form__col-l--resize
                                    .form__row
                                        label.form__block.form__block--no-flex
                                            .form__subtitle.form__subtitle--dark Высота забора:
                                            input(type="text" name="length" required).form__input
                                    button(type="submit").form__button.form__button--dark.form__button--calc
                                        .form__btn-text.form__btn-text--dark.form__btn-text--bold продолжить расчет
                                        svg.form__btn-icon.form__btn-icon--dark: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                .form__col-r.form__col-r--resize
                                    .form__image.form__image--resize(style="background-image: url(./assets/images/pic/calc-two.png)")
                                        span.form__obj-one 1.5м
                                    .form__text.form__text--dark.form__text--90.form__text--resize
                                        p Lorem ipsum dolor sit amet consecteturlor sit amet co adipisicing elit. Ducimus deleniti ut nulla aut totam. Nulla maxime repellendus fugit tenetur provident in. Beatae, aliquid. Quo, ea veritatis sint odio labore cum.
            //
            .content
                .container
                    .content__wrap
                        .regions
                            .block-title
                                .block-title__number 04.
                                h2.block-title__text география
                                    br
                                    | работы
                            ul.regions__columns
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                        .reviews
                            .reviews__heading
                                .block-title
                                    .block-title__number.block-title__number--light 05.
                                    h2.block-title__text.block-title__text--light отзывы 
                                        br 
                                        | клиентов
                                .slider__buttons
                                    button(type="button").controls.slider__prev
                                        svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#left")
                                    button(type="button").controls.slider__next
                                        svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                            .reviews__desk
                                .reviews__image
                                    .reviews__avatar
                                .reviews__content
                                    .reviews__name Михаил
                                        br
                                        | Добкин
                                    .reviews__position г. Мытищи
                            .reviews__text
                                p В прошлом месяце заказывал забор для дачного участка. Огораживались с соседями, поэтому ограничились сеткой-рабицей. По бригаде ничего плохого сказать не могу. Монтажники работящие...
                            a.reviews__link(href="#")
                                .reviews__btn-text оставить отзыв
                                svg.reviews__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
        include ../common/footer.pug