extends ../template

block variables
    - var title = 'Концерти'

block content
    .wrapper
        .preloader.preloader--light
            .preloader__spinner
                .preloader__animation.preloader__animation--light
                .preloader__percents.preloader__percents--light 0%
        include ../common/header--within.pug
        .crumbs
            .container
                ul.crumbs__list
                    li.crumbs__item
                        a.crumbs__link(href="index.html") Головна
                    li.crumbs__item
                        a.crumbs__link(href="#") Концерти
                    li.crumbs__item
                        .crumbs__link.crumbs__link--active 80 концертний сезон (2016/2017)
        section.section.concerts-in
            .container
                .section__title-wrap
                    h1.section__title 80 концертний сезон (2016/2017)
                ul.concerts-in__list
                    li.concerts-in__item
                        .concerts-in__image
                            h2.concerts-in__title.concerts-in__title--hiden “Вечори з аркатою”
                            img.concerts-in__pic(src="./assets/images/concerts/one-item.jpg" alt="concerts")
                        .concerts-in__desc
                            h2.concerts-in__title “Вечори з аркатою”
                            .concerts-in__text
                                p Наступні концерти циклу “ВЕЧОРИ З “АРКАТОЮ” не поступаються першому в оригінальності: на честь іншого ювіляра — В.А.Моцарта -  27 січня 2016 у співпраці із Академічним камерним хором “Вінниця” пролунає “Реквієм”.
                                p Сміливим творчим експериментом стане виконання концерту А.Вівальді “Пори року” з електрогітарою (Соліст — Олег Кумпан, Вінниця) в програмі ‘ROCK-BAROCK’ (16 березня), а на традиційне святкування дня народження оркестру 31 травня 2016 аркатівці запросили колишніх випускників вінницьких мистецьких закладів освіти.
                    li.concerts-in__item
                        .concerts-in__image
                            h2.concerts-in__title.concerts-in__title--hiden І80-й концертний сезон Вінницької обласної філармонії  (2016-17 рр.)
                            img.concerts-in__pic(src="./assets/images/concerts/two-item.jpg" alt="concerts")
                        .concerts-in__desc
                            h2.concerts-in__title І80-й концертний сезон Вінницької обласної філармонії  (2016-17 рр.)
                            .concerts-in__text
                                p Цей концертний рік має бути особливо насиченим і цікавим, адже він — ювілейний. Його програму заповнюватимуть події з участю артистів Вінницької обласної філармонії та митців з інших областей нашої держави і закордонних митців. Тому радимо нашим постійним глядачам обов’язково придбати абонемент на концерти нового сезону.
                                h3.concerts-in__subtitle До вашої уваги 6 абонементних циклів:
                                ul.concerts-in__items
                                    li.concerts-in__par Вечори з “Аркатою”,
                                    li.concerts-in__par Steinway & Кº,
                                    li.concerts-in__par Слухай, співай грай українське,
                                    li.concerts-in__par Джаз в моєму місті,
                                    li.concerts-in__par У фокусі — голос,
                                    li.concerts-in__par Знай наших
                                p Придбати абонементи можна, зателефонувавши за номерами: 66-13-50, 66-06-91, 093-027-75-70 та на сайті: 
                                    a(href="www.afisha.vn.ua" target="blanc") www.afisha.vn.ua
                    li.concerts-in__item
                        .concerts-in__image
                            h2.concerts-in__title.concerts-in__title--hiden Мистецькі проекти 79-го концертного сезону Вінницької обласної філармонії  (2015-16 рр.)
                            img.concerts-in__pic(src="./assets/images/concerts/three-item.jpg" alt="concerts")
                        .concerts-in__desc
                            h2.concerts-in__title Мистецькі проекти 79-го концертного сезону Вінницької обласної філармонії  (2015-16 рр.)
                            .concerts-in__text
                                p Новий, 79-й, концертний сезон Вінницької філармонії обіцяє бути насиченим та яскравим, зберігаючи кращі із раніше реалізованих творчих ідей та активно експериментуючи із новими синтезованими жанрами, задовільняючи смаки поціновувачів як високого академічного музичного мистецтва, так і найсучасніших та найнесподіваніших форм музикування.
                                p 
                                    strong Урочисте відкриття відбудеться 25 вересня 
                                    | в рамках відзначення світовим музичним товариством 330-річчя від дня народження Й.С.Баха проектом
                                    strong “Й.С.Бах-330 — ексклюзиви: скрипкові концерти з електробандурою” 
                                    | за участю заслуженого артиста України 
                                    strong К.Стеценка 
                                    | (скрипка, Київ) та 
                                    strong Георгія Матвіїва 
                                    | (електробандура, Одеса).
                    li.concerts-in__item
                        .concerts-in__image
                            h2.concerts-in__title.concerts-in__title--hiden Міжнародний день музики.
                            img.concerts-in__pic(src="./assets/images/concerts/four-item.jpg" alt="concerts")
                        .concerts-in__desc
                            h2.concerts-in__title Міжнародний день музики.
                            .concerts-in__text
                                p Міжнародний день музики 01 жовтня святкуватимемо разом із Національною заслуженою капелою бандуристів України ім.Г.І.Майбороди. Цикл концертів “СЛУХАЙ, СПІВАЙ, ГРАЙ УКРАЇНСЬКЕ” продовжать Ансамбль народного танцю “Надзбручанка” (Тернопіль, 12 листопада), Академічний театр музики, пісні і танцю “Зоряни” (Кіровоград, 16 лютого) та оркестр Національного заслуженого академічного ансамблю танцю України ім.П.П.Вірського (11 березня).
                    li.concerts-in__item
                        .concerts-in__image
                            h2.concerts-in__title.concerts-in__title--hiden ‘STEINWAY & K°’.
                            img.concerts-in__pic(src="./assets/images/concerts/five-item.jpg" alt="concerts")
                        .concerts-in__desc
                            h2.concerts-in__title ‘STEINWAY & K°’.
                            .concerts-in__text
                                p 
                                    strong Вечори фортепіанної музики у рамках циклу ‘STEINWAY & K°’ дарують Сергій Григоренко (Львів, 21 жовтня), 
                                    | Антоній Баришевський (Київ, 02 грудня), Інна Порошина (Київ, 10 лютого) та 
                                    strong Юлія Воропаєва (Веймар, 06 квітня). Вінничани почують як сольні виступи піаністів, так і їх співпрацю  із “Аркатою”.            
                    li.concerts-in__item
                        .concerts-in__image
                            h2.concerts-in__title.concerts-in__title--hiden “ШЛЯГЕРИ ТА СВІЖАК”.
                            img.concerts-in__pic(src="./assets/images/concerts/six-item.jpg" alt="concerts")
                        .concerts-in__desc
                            h2.concerts-in__title “ШЛЯГЕРИ ТА СВІЖАК”.
                            .concerts-in__text
                                p 
                                | Іще однією новинкою сезону стане цикл концертів наймолодшого колективу філармонії — Вокально-інструментального ансамблю “Експромт” — 
                                strong “ШЛЯГЕРИ ТА СВІЖАК”
                                | : “Не тільки про джаз” — композитор та співачка Оксана Славна (04 листопада), “Цимес-шоу” — до свята Хануки в рамках мистецького проекту “Вечори національної музики та кухні” (10 грудня), “Для вас, жінки” — до Міжнародного жіночого Дня — заслужений артист України Станіслав Городинський (03 березня), Beatles Tribute — до75-річчя Джона Леннона, за участю струнного квартету Академічного камерного оркестру “Арката” (20 квітня ).
                .concerts-in__block
                    .concerts-in__excerpt
                        p А на справжніх меломанів чекають нові музичні сюрпризи протягом фестивалів: 
                            strong VINNYTSIA JAZZ FEST, “Музика в монастирських мурах”, Міжнародний фестиваль ім.П.І.Чайковського та Н.Ф.фон Мекк, Форум молодої музики “Барви музики ХХІ сторіччя. Авангард. Класика. Джаз”, Міжнародний дитячо-юнацький естрадний конкурс “Музична парасолька”. На найменших глядачів очікують ряд новинок в рамках Дитячого музичного лекторію, заходів новорічно-різдвяного циклу та проекту “У ритмі літа”.
                    .concerts-in__lead
                        p Дбаючи про зручність обслуговування та заощаджуючи ваші кошти, пропонуємо можливість придбати як разові квитки, так і абонементи, в тому числі — пільгові. Діє гнучка система знижок та акцій для постійних глядачів. На останньому концерті кожного циклу серед власників абонементів буде розіграно цінні призи від наших меценатів.
                    .concerts-in__excerpt
                        p Щиро дякуємо нашим спонсорам та інформаційним партнерам за допомогу у підготовці, проведенні та висвітленні наших мистецьких заходів.
                            | До зустрічі у концертній залі Вінницької обласної філармонії!
        include ../common/footer--within.pug