extends ../template

block variables
    - var title = 'Описание работ'

block content
    include ../common/sidebar.pug
    .wrapper
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percents 0%
        .container
            .bg#bg
            include ../common/header.pug
            section.section.section-wrap.desc-page
                .desc-page__wrap
                    h1.section__title.visuallyhidden price
                    .title механическая обработка гбц
                    ul.description.description--fullwidth
                        li.description__tab
                            .description__title Введение
                            .description__text
                                p Работая на рынке оказания услуг по механической обработке деталей двигателя внутреннего сгорания (ДВС), сталкиваемся с определенным набором вопросов возникающих у наших Заказчиков услуг по механической обработке головок блоков цилиндров (ГБЦ). Мы с удовольствием расскажем об основных операциях при восстановительной механической обработке ГБЦ. Технико- экономические характеристики ДВС, а это мощность, крутящий момент, расход топлива, потребление масла и другие, в первую очередь зависят от совершенства процессов формирующихся правильной работой элементов головки блока цилиндров. Головка блока цилиндров в ДВС выполняет сразу несколько важнейших функций.
                                p ГБЦ — это часть ДВС участвующая в:
                                ul.description__list
                                    li.description__item системе охлаждения ДВС;
                                    li.description__item системе газораспределения ДВС, где конструктивно размещены такие элементы газораспределительного механизма, как системы — «втулка-седло-клапан», как со стороны "впуск", так и со стороны "выпуск"; распределительный вал (или валы) с элементами и механизмами регулировки зазоров; форсунки, свечи зажигания, и другие, не элементы.
                                p Такая сложная система механизмов комплектующих ГБЦ требует очень внимательного обследования и обмера перед началом определения путей проведения ремонта и механической обработки. Перед проведением обследования, ГБЦ разбирается от всего навесного оборудования, тщательно моется, очищается от нагара, отложений в камерах сгорания, коллекторных каналах, полости водяной рубашки, масленых каналах осмотром проверяется на наличие трещин, сколов, кавитационных раковин. Наиболее распространенными дефектами головок блоков цилиндров являются:
                                ul.description__list
                                    li.description__item не герметичность полости водной рубашки, стаканов форсунок и компенсационных заглушек;
                                    li.description__item износ втулок клапанов;
                                    li.description__item износ седел клапанов;
                                    li.description__item износ фасок тарелок клапанов и стержней клапанов;
                                    li.description__item потеря упругости клапанных пружин;
                                    li.description__item трещины перемычек между седлами клапанов, трещины между седлами и отверстиями под распылители форсунок, трещины в отверстиях свечей зажигания или кавитационные разрушения на плоскостях камер сгорания;
                        li.description__tab
                            .description__title Краткое описание технологических операций
                            .description__text
                                p Приводим последовательность выполнения стандартных операций восстановления и механической обработки ГБЦ принятые у нас в сети цехов «ПроМотор». Технологические операции Заказчик может заказать из перечня выполняемых работ. Приводим основные виды выполняемых операций:
                                ul.description__list
                                    li.description__item Обмер ГБЦ;
                                    li.description__item Проверка полости системы охлаждения ГБЦ на герметичность;
                                    li.description__item Замена направляющих втулок клапанов ГБЦ;
                                    li.description__item Восстановление направляющих втулок клапанов путем установки во внутренний диаметр н.в.к. бронзового вкладыша по технологии K-Line (США);
                                    li.description__item Замена седел клапанов, как со стороны «Впуск», так и со стороны «Выпуск»;
                                    li.description__item Механическая обработка плоскости ГБЦ под прокладку блока цилиндров и плоскостей под коллектора «Впуск», «Выпуск»;
                                    li.description__item Шлифовка рабочей фаски «тарелки» клапана;
                                    li.description__item Профилирование рабочих фасок седел клапанов;
                                p При обращении к нам в мастерские, Заказчик специалист по ремонту ДВС, согласно принятых у нас «Правила приема и выполнения работ по механической обработке и восстановительного ремонта деталей двигателя внутреннего сгорания (ДВС)» обязан провести обмер параметров ГБЦ, предоставить параметры по которым необходимо провести механическую обработку. При отсутствии измерительного инструмента у Заказчика работ, Вы можете заказать операцию «Обмер» по параметрам принятых у нас на производстве, для принятия Заказчиком правильных путей выполнения механической обработки ГБЦ. При отсутствии параметров ГБЦ у Заказчика, наши специалисты могут предоставить существующую у нас литературу или усредненные параметры принятые или рекомендованные мировыми лидерами в производстве ДВС.
                    .title-description Описание основных операций механической обработки ГБЦ
                    ul.description.description--fullwidth
                        li.description__tab
                            .description__text
                                p
                                    span.blue-desc Операция «Обмер ГБЦ» 
                                    | (по параметрам, принятым у нас).
                                p Специалист проводит визуальный осмотр детали, фиксирует наличие повреждений, раковин, трещин, сколов.
                            .description__row
                                .description__text
                                    p
                                        span.strong-desc Шаг первый: 
                                        | Обмер направляющих втулок клапана (н.в.к.) со стороны «Впуск» и обмер направляющих втулок клапанов со стороны «Выпуск». Обмер внутреннего диаметра проводится измерительным инструментом — нутромер. Проводим измерения направляющих втулок, как по диаметру, так и по нарушению геометрии поверхности с точностью — 0.01мм; Проводим измерения высоты установки, возвышение н.в.к. над плоскостью. 
                                    p
                                        img(src="./assets/images/desc-1.jpg" alt="desc").description__image
                                        span.description__subject Схема обмера направляющей втулки клапана
                                    p Результаты обмера фиксируются в Карте выполненных работ.
                                    p По результатам обмера выбираются пути ремонта направляющих втулок клапанов.
                            .description__row
                                .description__text
                                    p
                                        span.strong-desc Шаг второй: 
                                        | Обмер клапанов со стороны «Впуск» и обмер клапанов со стороны «Выпуск». Обмер проводится для каждой группы клапанов отдельно. Операция обмера включает в себя замер параметров:
                                    ul.description__list
                                        li.description__item общей длинны клапана; (Штангенрейсмас ц.д 0.01мм);
                                        li.description__item диаметр тарелки клапана; (штангенциркуль ц.д. 0.05мм);
                                        li.description__item высоту цилиндрической части тарелки клапана; (штангенциркуль ц.д. 0.05мм);
                                        li.description__item угол рабочей фаски тарелки клапана; (шаблон специальный или Угломер универсальный УН-127);ск»;
                                        li.description__item диаметр стержня клапана; (микрометр 0...25мм ц.д.0.01мм);
                                        li.description__item параметры канавки под клиновые фиксаторы; (штангенциркуль ц.д. 0.05мм);
                                        li.description__item измерение радиального биения рабочей фаски тарелки клапана, относительно радиального биения стержня клапана. (Прибор специальный ПБК007, ИЧ-10ц.д. 0.01мм 
                                    p
                                        img(src="./assets/images/desc-2.jpg" alt="desc").description__image
                                        span.description__subject Схема обмера направляющей втулки клапана
                                    p Результаты обмера фиксируются в Карте выполненных работ.
                                    .description-attention
                                        p
                                            span.strong-desc Внимание:
                                        p Развертками поправлять размер направляющей втулки с установленным бронзовым вкладышем — запрещено!
                                        | Такая операция со снятием слоя металла вкладыша, уменьшает величину «натяга», что приведет к сдвигу вкладыша во время работы ГБЦ.
                                    p По результатам обмера выбираются пути ремонта направляющих втулок клапанов.
                a(href="#top").top вверх
            include ../common/footer.pug