extends ../template

block variables
    - var title = 'Події'

block content
    .wrapper
        .preloader.preloader--light
            .preloader__spinner
                .preloader__animation.preloader__animation--light
                .preloader__percents.preloader__percents--light 0%
        include ../common/header--within.pug
        .crumbs
            .container
                ul.crumbs__list
                    li.crumbs__item
                        a.crumbs__link(href="index.html") Головна
                    li.crumbs__item
                        a.crumbs__link(href="#") Концерти
                    li.crumbs__item
                        .crumbs__link.crumbs__link--active Події
        section.section.events
            .container
                .section__title-wrap
                    h1.section__title події
                include ../common/pagination.pug
                - var x = 10;
                ul.events__list
                    - for (var i=1; i<=x; i++) {
                        li.events__item
                            .events__col-l
                                .events__date 23.05.2018
                            .events__col-r
                                a.events__link(href="#") 
                                    h2.events__subtitle Інтерактивні концертні програми у дитячих таборах відпочинку
                                .events__text 
                                    p Вінницька обласна філармонія розпочинає цикл інтерактивних концертних програм для дітей, які відпочивають у пришкільних таборах та дитячих оздоровчих закладах області. Довідки за тел.:(0432)66-13-50, (0432)66-06-91, (093)027-75-70
                    - }
                include ../common/pagination.pug
        include ../common/footer--within.pug
                    
