extends ../template

block variables
    - var title = 'Вопрос / Ответ'

block content
    include ../common/sidebar.pug
    .bg-popup
    .popup.popup--one
        form.form
            a(href="#").popup-close
            .title оставить заявку
            .form__column
                .form__row
                    label.form__block
                        input(type="text" name="user-name" placeholder="Имя" required).form__input.form__input--user
                    label.form__block
                        input(type="text" name="telephone" placeholder="Номер телефона" required).form__input.form__input--call
                .form__row
                    label.form__block
                        input(type="text" name="email" placeholder="Email" required).form__input.form__input--email
                    label.form__block
                        input(type="text" name="request" placeholder="Тема обращения" required).form__input.form__input--req
                .form__row
                    label.form__block.form__block--textarea
                        textarea(name="message" placeholder="Ваше сообщение" cols="30" rows="3" required).form__textarea
            button(type="submit").more отправить
    .popup.popup--two
        form.form
            a(href="#").popup-close
            .title заказать звонок
            .form__column
                .form__row
                    label.form__block
                        input(type="text" name="user-name" placeholder="Имя" required).form__input.form__input--user
                .form__row
                    label.form__block
                        input(type="text" name="telephone" placeholder="Номер телефона" required).form__input.form__input--call
            button(type="submit").more отправить
    .wrapper
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percents 0%
        .container
            .bg#bg
            include ../common/header.pug
            section.section.section-wrap.answers
                .answers__wrap
                    h1.section__title.visuallyhidden price
                    .title Вопрос / Ответ
                    ul.answers__list
                        li.answers__item#vopros1
                            .answers__content
                                .answers__heading
                                    .answers__meta 27 Сентября 2018
                                    .answers__name Отвечает: главный инженер компании PitStop Motors
                                .answers__title Гильзовка блока цилиндров или замена на новый двигатель («шорт-блок», блок цилиндров)?
                                .answers__text
                                    p Часто производитель авто предусматривает расточку блока цилиндров под больший размер поршня в ремонтных целях. Но не всегда такой ремонт возможен. К категории исключений стоит отнести трещины, задиры и глубокие царапины в цилиндре после разрушения поршня, а также его избыточный износ, отсутствие комплекта, необходимого для ремонта или их высокая стоимость. В случае с определёнными двигателями такой ремонт вовсе не предусмотрен. Гильзовка блока цилиндров является альтернативным вариантом ремонта в упомянутых ситуациях.
                        li.answers__item#vopros2
                            .answers__content
                                .answers__heading
                                    .answers__meta 20 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Можно немножко подробнее о том, что такое «алюсил»?
                                .answers__text
                                    p Алюсил — это заэвтектический алюминиевокремниевый сплав, содержащий около 78 % алюминия и 17 % кремния. Этот сплав был создан Швайцером и Ференбахом и в дальнейшем совершенствовался компанией Kolbenschmidt. Сплав широко используется для создания безгильзовых блоков цилиндров двигателей внутреннего сгорания.При травлении алюсила на поверхности остается прочная пленка кремния, это покрытие достаточно пористое для задерживания масла и в то же время износостойкое. BMW отказалась в пользу алюсила от использования покрытых никасилом цилиндров в 1996 году с целью устранения проблемы коррозии при использовании бензина с высоким содержанием серы.
                        li.answers__item#vopros3
                            .answers__content
                                .answers__heading
                                    .answers__meta 15 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Для расточки блока под поршни сами поршни к вам привозить обязательно?
                                .answers__text
                                    p Расточка блока – это процесс физической проточки стенок цилиндров двигателя (на специальных станках) для восстановления правильной (почти идеальной) геометрической формы.
                        li.answers__item
                            .answers__content
                                .answers__heading
                                    .answers__meta 27 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Гильзовка блока цилиндров или замена на новый двигатель («шорт-блок», блок цилиндров)?
                                .answers__text
                                    p Часто производитель авто предусматривает расточку блока цилиндров под больший размер поршня в ремонтных целях. Но не всегда такой ремонт возможен. К категории исключений стоит отнести трещины, задиры и глубокие царапины в цилиндре после разрушения поршня, а также его избыточный износ, отсутствие комплекта, необходимого для ремонта или их высокая стоимость. В случае с определёнными двигателями такой ремонт вовсе не предусмотрен. Гильзовка блока цилиндров является альтернативным вариантом ремонта в упомянутых ситуациях.
                        li.answers__item
                            .answers__content
                                .answers__heading
                                    .answers__meta 20 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Можно немножко подробнее о том, что такое «алюсил»?
                                .answers__text
                                    p Алюсил — это заэвтектический алюминиевокремниевый сплав, содержащий около 78 % алюминия и 17 % кремния. Этот сплав был создан Швайцером и Ференбахом и в дальнейшем совершенствовался компанией Kolbenschmidt. Сплав широко используется для создания безгильзовых блоков цилиндров двигателей внутреннего сгорания.При травлении алюсила на поверхности остается прочная пленка кремния, это покрытие достаточно пористое для задерживания масла и в то же время износостойкое. BMW отказалась в пользу алюсила от использования покрытых никасилом цилиндров в 1996 году с целью устранения проблемы коррозии при использовании бензина с высоким содержанием серы.
                        li.answers__item
                            .answers__content
                                .answers__heading
                                    .answers__meta 20 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Можно немножко подробнее о том, что такое «алюсил»?
                                .answers__text
                                    p Алюсил — это заэвтектический алюминиевокремниевый сплав, содержащий около 78 % алюминия и 17 % кремния. Этот сплав был создан Швайцером и Ференбахом и в дальнейшем совершенствовался компанией Kolbenschmidt. Сплав широко используется для создания безгильзовых блоков цилиндров двигателей внутреннего сгорания.При травлении алюсила на поверхности остается прочная пленка кремния, это покрытие достаточно пористое для задерживания масла и в то же время износостойкое. BMW отказалась в пользу алюсила от использования покрытых никасилом цилиндров в 1996 году с целью устранения проблемы коррозии при использовании бензина с высоким содержанием серы.
                        li.answers__item
                            .answers__content
                                .answers__heading
                                    .answers__meta 20 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Можно немножко подробнее о том, что такое «алюсил»?
                                .answers__text
                                    p Алюсил — это заэвтектический алюминиевокремниевый сплав, содержащий около 78 % алюминия и 17 % кремния. Этот сплав был создан Швайцером и Ференбахом и в дальнейшем совершенствовался компанией Kolbenschmidt. Сплав широко используется для создания безгильзовых блоков цилиндров двигателей внутреннего сгорания.При травлении алюсила на поверхности остается прочная пленка кремния, это покрытие достаточно пористое для задерживания масла и в то же время износостойкое. BMW отказалась в пользу алюсила от использования покрытых никасилом цилиндров в 1996 году с целью устранения проблемы коррозии при использовании бензина с высоким содержанием серы.
                        li.answers__item
                            .answers__content
                                .answers__heading
                                    .answers__meta 20 Сентября 2018
                                    .answers__name Отвечает: мастер приемщик Денис
                                .answers__title Можно немножко подробнее о том, что такое «алюсил»?
                                .answers__text
                                    p Алюсил — это заэвтектический алюминиевокремниевый сплав, содержащий около 78 % алюминия и 17 % кремния. Этот сплав был создан Швайцером и Ференбахом и в дальнейшем совершенствовался компанией Kolbenschmidt. Сплав широко используется для создания безгильзовых блоков цилиндров двигателей внутреннего сгорания.При травлении алюсила на поверхности остается прочная пленка кремния, это покрытие достаточно пористое для задерживания масла и в то же время износостойкое. BMW отказалась в пользу алюсила от использования покрытых никасилом цилиндров в 1996 году с целью устранения проблемы коррозии при использовании бензина с высоким содержанием серы.
            include ../common/footer.pug