extends ../template

block variables
    - var title = 'Філармонія'

block content
    .wrapper
        .container
            include ../common/header.pug
        section.section
        .split-slideshow
            .slideshow
                .slider
                    .item
                        img.item__img(src='./assets/images/slides/slide-one.jpg' alt="slide")
                        .image-wrap
                    .item
                        img.item__img(src='./assets/images/slides/slide-two.jpg' alt="slide")
                        .image-wrap
                    .item
                        img.item__img(src='./assets/images/slides/slide-three.jpg' alt="slide")
                        .image-wrap
                    .item
                        img.item__img(src='./assets/images/slides/slide-four.jpg' alt="slide")
                        .image-wrap
                    .item
                        img.item__img(src='./assets/images/slides/slide-fifth.jpg' alt="slide")
                        .image-wrap
            .slideshow-text
                .slideshow-text__title Canyon
                    .slideshow-text__subtitle Canyon-1111
                .slideshow-text__title Canyon
                    .slideshow-text__subtitle Canyon-2222
                .slideshow-text__title Desert
                    .slideshow-text__subtitle Canyon-3333
                .slideshow-text__title Erosion
                    .slideshow-text__subtitle Canyon-4444
                .slideshow-text__title Shape
                    .slideshow-text__subtitle Canyon-5555