extends ../template

block variables
    - var title = 'Філармонія'

block content
    .wrapper.wrapper--overflow
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percents 0%
        include ../common/header.pug
        section.section.section--slider
            .split-slideshow
                .slideshow
                    .slider
                        .item
                            img.item__img(src='./assets/images/slides/slide-one.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-two.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-three.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-four.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-fifth.jpg' alt="slide")
                            .image-wrap
        .slideshow-text
            a(href="#").slideshow-text__title «Радани»
                .slideshow-text__subtitle Ансамбль пісні та танцю
            a(href="#").slideshow-text__title «Вот это да»
                .slideshow-text__subtitle Знаменитый человек 
            a(href="#").slideshow-text__title «Радани»
                .slideshow-text__subtitle Ансамбль пісні та танцю
            a(href="#").slideshow-text__title «Вот это да»
                .slideshow-text__subtitle Знаменитый человек 
            a(href="#").slideshow-text__title «Радани»
                .slideshow-text__subtitle Ансамбль пісні та танцю
        .appendArrows
        include ../common/footer.pug