extends ../template

block variables
    - var title = 'Філармонія'

block content
    .wrapper.wrapper--overflow
        include ../common/header.pug
        section.section.section--slider
            .split-slideshow
                .slideshow
                    .slider
                        .item
                            img.item__img(src='./assets/images/slides/slide-one.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-two.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-three.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-four.jpg' alt="slide")
                            .image-wrap
                        .item
                            img.item__img(src='./assets/images/slides/slide-fifth.jpg' alt="slide")
                            .image-wrap
        .slideshow-text
            a(href="#").slideshow-text__title «Радани»
                .slideshow-text__subtitle Ансамбль пісні та танцю
            a(href="#").slideshow-text__title «Вот это да»
                .slideshow-text__subtitle Знаменитый человек 
            a(href="#").slideshow-text__title «Радани»
                .slideshow-text__subtitle Ансамбль пісні та танцю
            a(href="#").slideshow-text__title «Вот это да»
                .slideshow-text__subtitle Знаменитый человек 
            a(href="#").slideshow-text__title «Радани»
                .slideshow-text__subtitle Ансамбль пісні та танцю
        .appendArrows
        footer.footer.footer--abs
            .audio.container
                .js--audio-wrap
                    audio.js--audio-cont
                        //source(src='vivaldi.mp3', type='audio/mpeg')
                        source(src='mocart.mp3', type='audio/mpeg')
                        | 	    Тег audio не поддерживается вашим браузером.
                        //-a(href='/path/to/file.mp3') Скачайте музыку
                        | .
                    a.js--audio-play(href='#')
                        span.glyphicon.glyphicon-play(data-toggle-class='glyphicon glyphicon-pause')
                    .js--timeline
                        a.js--timeline-control(href='#')
                    a.js--audio-mute(href='#')
                        span.glyphicon.glyphicon-volume-up(data-toggle-class='glyphicon glyphicon-volume-off')
            .footer__row.footer__row--with-line.container
                .contacts
                    a.contacts__mail(href="mailto:luganskaoblastnafilarmonia@gmail.com")
                        svg.contacts__icon-mail: use(xlink:href="assets/images/icons/sprite.svg#mail")
                        .contacts__text e-mail:
                        .contacts__link luganskaoblastnafilarmonia@gmail.com
                    a.contacts__phone(href="tel:+380500050055")
                        svg.contacts__icon-phone: use(xlink:href="assets/images/icons/sprite.svg#phone")
                        .contacts__text квиткова каса:
                        .contacts__link +38 050 005 00 55
                .socials
                    a.socials__link.socials__link--youtube(href="#" target="blanc")
                        svg.socials__icon.socials__icon--youtube: use(xlink:href="assets/images/icons/sprite.svg#youtube")
                    a.socials__link.socials__link--facebook(href="#" target="blanc")
                        svg.socials__icon.socials__icon--facebook: use(xlink:href="assets/images/icons/sprite.svg#facebook")
            .footer__row.container
                .footer__col
                    .footer__copy © Луганська обласна філармонія 2013-2018
                .footer__col
                    .footer__partners
                        img.footer__img(src='./assets/images/icons/karabas.png' alt="karabas")
                        img.footer__img(src='./assets/images/icons/stv.png' alt="stv")