extends ../template

block variables
    - var title = 'Філармонія'

block content
    .wrapper
        .container
            include ../common/header.pug
        section.section.slider
            .image-wrap
            