extends ../template

block variables
    - var title = 'Главная'

block content
    .wrapper
        include ../common/header.pug
        section.section
            .section__under
                .section__under-img(style="background-image: url(./assets/images/bg-one.jpg)")
                    .section__image-wrap.section__image-wrap--darken
            .hero
                .container
                    .hero__wrap
                        h1.section__title Заборы для дачи
                            br
                            | под ключ
                        .hero__desk
                            p Быстрая доставка и монтаж, высокое качество материалов и работ, цена от производителя
            .slider#slider
                .container
                    .slider__wrap
                        .slider__buttons
                            button(type="button").controls.slider__prev
                                svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#left")
                            button(type="button").controls.slider__next
                                svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                        ul.slider__list
                            li.slider__item
                                .flipper
                                    .flipper__wrap
                                        a.flipper__front(href="#")
                                            img.flipper__icon(src="./assets/images/icons/front-1-retina.png" alt="icon")
                                            .flipper__text Заборы из профнастила
                                        a.flipper__back(href="#")
                                            img.flipper__icon(src="./assets/images/icons/back-1-retina.png" alt="icon")
                                            .flipper__text Навесы и беседки из поликарбоната
                            li.slider__item
                                .flipper
                                    .flipper__wrap
                                        a.flipper__front(href="#")
                                            img.flipper__icon(src="./assets/images/icons/front-2-retina.png" alt="icon")
                                            .flipper__text Заборы из сетки рабицы
                                        a.flipper__back(href="#")
                                            img.flipper__icon(src="./assets/images/icons/back-2-retina.png" alt="icon")
                                            .flipper__text Теплицы из поликарбоната
                            li.slider__item
                                .flipper
                                    .flipper__wrap
                                        a.flipper__front(href="#")
                                            img.flipper__icon(src="./assets/images/icons/front-3-retina.png" alt="icon")
                                            .flipper__text Заборы из дерева
                                        a.flipper__back(href="#")
                                            img.flipper__icon(src="./assets/images/icons/back-3-retina.png" alt="icon")
                                            .flipper__text Откатные ворота
                            li.slider__item
                                .flipper
                                    .flipper__wrap
                                        a.flipper__front(href="#")
                                            img.flipper__icon(src="./assets/images/icons/front-4-retina.png" alt="icon")
                                            .flipper__text Заборы из евроштакетника
                                        a.flipper__back(href="#")
                                            img.flipper__icon(src="./assets/images/icons/back-4-retina.png" alt="icon")
                                            .flipper__text Ворота и калитки
                            li.slider__item
                                .flipper
                                    .flipper__wrap
                                        a.flipper__front(href="#")
                                            img.flipper__icon(src="./assets/images/icons/front-5-retina.png" alt="icon")
                                            .flipper__text Заборы из монолита
                                        .flipper__back(href="#")
                                            //img.flipper__icon(src="./assets/images/icons/back-4.png" alt="icon")
                                            //.flipper__text Ворота и калитки
                            li.slider__item
                                .flipper
                                    .flipper__wrap
                                        a.flipper__front(href="#")
                                            img.flipper__icon(src="./assets/images/icons/front-6-retina.png" alt="icon")
                                            .flipper__text Заборы из 3D сетки
                                        .flipper__back(href="#")
                                            //img.flipper__icon(src="./assets/images/icons/back-4.png" alt="icon")
                                            //.flipper__text Ворота и калитки
            .info 
                .container
                    .info__wrap
                        .info__col-l
                            .info__row
                                .info__desk
                                    .block-title.block-title--visible
                                        .block-title__number 01.
                                        h2.block-title__text информация 
                                            br
                                            | о компании 
                                    .block-title.block-title--hide
                                        .block-title__number 02.
                                        h2.block-title__text информация 
                                            br
                                            | о компании
                                    .info__text
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                    a.info__link(href="#")
                                        .info__btn-text задать вопрос
                                        svg.info__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                            .info__row
                                ul.info__list
                                    li.info__item
                                        .advantage
                                            .advantage__wrap
                                                .advantage__front
                                                    img.advantage__icon(src="./assets/images/icons/advantage-1-retina.png" alt="icon")
                                                    .advantage__text Качественные
                                                        br
                                                        | материалы
                                                .advantage__back
                                                    .advantage__desk 
                                                        p В нашей команде работают самые опытные монтажники. На счету каждого более 10 километров смонтированных заборов и ограждений. Многие из них уже выполняли работы в самых тяжелых условиях.
                                    li.info__item
                                        .advantage
                                            .advantage__wrap
                                                .advantage__front
                                                    img.advantage__icon(src="./assets/images/icons/advantage-2-retina.png" alt="icon")
                                                    .advantage__text Опыт
                                                        br
                                                        | монтажа
                                                .advantage__back
                                                    .advantage__desk 
                                                        p В нашей команде работают самые опытные монтажники. На счету каждого более 10 километров смонтированных заборов и ограждений. Многие из них уже выполняли работы в самых тяжелых условиях.
                                    li.info__item
                                        .advantage
                                            .advantage__wrap
                                                .advantage__front
                                                    img.advantage__icon(src="./assets/images/icons/advantage-3-retina.png" alt="icon")
                                                    .advantage__text Скорость
                                                        br
                                                        | монтажа
                                                .advantage__back
                                                    .advantage__desk 
                                                        p В нашей команде работают самые опытные монтажники. На счету каждого более 10 километров смонтированных заборов и ограждений. Многие из них уже выполняли работы в самых тяжелых условиях.
                        .info__col-r
                            form.form.form--green
                                .form__wrap
                                    .block-title.block-title--visible
                                        .block-title__number.block-title__number--light 02.
                                        h2.block-title__text.block-title__text--light расчет
                                            br
                                            | стоимости
                                    .block-title.block-title--hide
                                        .block-title__number.block-title__number--light 01.
                                        h2.block-title__text.block-title__text--light расчет
                                            br
                                            | стоимости
                                    .form__row.form__row--flex
                                        .form__box.form__box--100
                                            label.form__block.form__block--no-flex
                                                .form__subtitle Длина забора:
                                                input(type="text" name="length" required).form__input.form__input--short
                                        .form__box.form__box--hide
                                            label.form__block.form__block--flex
                                                .form__subtitle.form__subtitle--radio Метры -
                                                input(type="radio" name="options" value="метры").form__radio.visuallyhidden
                                                .form__radio-fake
                                            label.form__block.form__block--flex
                                                .form__subtitle.form__subtitle--radio Сотки -
                                                input(type="radio" name="options" value="сотки").form__radio.visuallyhidden
                                                .form__radio-fake
                                        .form__box.form__box--abs
                                            label.form__block.form__block--abs
                                                input(type="radio" name="options" value="метры").form__radio.visuallyhidden
                                                .form__radio-fake.form__radio-fake--abs ар
                                            label.form__block.form__block--abs
                                                input(type="radio" name="options" value="сотки").form__radio.visuallyhidden
                                                .form__radio-fake.form__radio-fake--abs2 м
                                    .form__row
                                        label.form__block.form__block--no-flex
                                            .form__subtitle.form__subtitle--no-margin Тип забора:
                                            label.form__select(for='select')
                                                input#bg(type='radio', name='fence-type', value='not_changed', checked='')
                                                input#select(type='radio', name='fence-type', value='not_changed')
                                                label.bg(for='bg')
                                                .items.custom-scroll
                                                    input(type='radio', name='fence-type', value='first_value', id='list[0]')
                                                    label(for='list[0]') Заборы из профнастила
                                                    input(type='radio', name='fence-type', value='second_value', id='list[1]')
                                                    label(for='list[1]') Заборы из дерева
                                                    input(type='radio', name='fence-type', value='second_value', id='list[2]')
                                                    label(for='list[2]') Заборы из сетки рабицы
                                                    input(type='radio', name='fence-type', value='second_value', id='list[3]')
                                                    label(for='list[3]') Заборы из евроштакетника
                                                    input(type='radio', name='fence-type', value='second_value', id='list[4]')
                                                    label(for='list[4]') Монолитные заборы
                                                    input(type='radio', name='fence-type', value='second_value', id='list[5]')
                                                    label(for='list[5]') Откатные ворота
                                                    span.text#text Заборы из профнастила
                                    .form__text.form__text--margin
                                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    a.form__link(href="#")
                                        .form__btn-text рассчитать стоимость
                                        svg.form__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
            .projects
                .container
                    .projects__wrap
                        .projects__col-l
                            .projects__box.projects__box--blue
                                .projects__box-head
                                    .block-title
                                        .block-title__number.block-title__number--light 03.
                                        h2.block-title__text.block-title__text--light реализованные
                                            br
                                            | проекты
                                    .slider__buttons.slider__buttons--second
                                        button(type="button").controls.slider__prev.controls--second
                                            svg.slider__icon.slider__icon--second: use(xlink:href="assets/images/icons/sprite.svg#left")
                                        button(type="button").controls.slider__next.controls--second
                                            svg.slider__icon.slider__icon--second: use(xlink:href="assets/images/icons/sprite.svg#right")
                                .projects__text
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            .projects__box.projects__box--no-padings
                                .carousel
                                    ul.carousel__list
                                        // по дефолту li display:none; | при добавлении класса 'selected' - display:block; 
                                        li.carousel__item.selected
                                            .carousel__image(style="background-image: url(./assets/images/slide-one.jpg)")
                                            .carousel__image-wrap
                                                .carousel__heading
                                                    .carousel__question Хотите окраску
                                                        br
                                                        | забора 
                                                        span.carousel__question-color в подарок?
                                                    .carousel__sticky
                                                        .carousel__sticky-inner акция
                                                .carousel__title промокод 
                                                    span.carousel__title-color "лето"
                                                a.carousel__link(href="#") 
                                                    .carousel__btn-text подробнее
                                                    svg.carousel__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .slider__buttons.slider__buttons--rotate
                                        button(type="button").controls.slider__prev
                                            svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#left")
                                        button(type="button").controls.slider__next
                                            svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                        .projects__col-r
                            ul.projects__list.selected
                                li.projects__item.projects__item--hide
                                    .gallery.gallery--visible
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-2.jpg)")
                                                svg.gallery__icon.gallery__icon--front: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .gallery.gallery--hide
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-1.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                li.projects__item.projects__item--hide
                                    .gallery.gallery--visible
                                        .gallery__wrap(style="background-image: url(./assets/images/gallery/gallery-1.jpg)")
                                            .gallery__front
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .gallery.gallery--hide
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-3.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                li.projects__item.projects__item--hide
                                    .gallery.gallery--visible
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-3.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .gallery.gallery--hide
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-4.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                li.projects__item.projects__item--inst(style="background-image: url(./assets/images/gallery/gallery-6.jpg)")
                                    a.gallery.gallery--instagram(href="#" target="blanc")
                                        svg.gallery__icon.gallery__icon--instagram: use(xlink:href="assets/images/icons/sprite.svg#instagram")
                                        .gallery__text.gallery__text--instagram Еще больше
                                            br
                                            | работ в instagram
                                li.projects__item.projects__item--hide
                                    .gallery.gallery--visible
                                        .gallery__wrap(style="background-image: url(./assets/images/gallery/gallery-4.jpg)")
                                            .gallery__front
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .gallery.gallery--hide
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-5.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                li.projects__item.projects__item--hide
                                    .gallery.gallery--visible
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-5.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .gallery.gallery--hide
                                        .gallery__wrap
                                            .gallery__front(style="background-image: url(./assets/images/gallery/gallery-3.jpg)")
                                            .gallery__back
                                                .gallery__desk
                                                    .gallery__pic
                                                        svg.gallery__icon: use(xlink:href="assets/images/icons/sprite.svg#eye")
                                                    .gallery__text
                                                        p Забор из профнастила 230 м на дачном участке в городе Раменское
                                                    .gallery__meta
                                                        .gallery__object 32 фото
                                                        .gallery__links
                                                            a.gallery__view
                                                                .gallery__btn-text смотреть 
                                                                svg.gallery__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                            .projects__box.projects__box--no-padings.projects__box--mobile
                                .carousel
                                    ul.carousel__list
                                        // по дефолту li display:none; | при добавлении класса 'selected' - display:block; 
                                        li.carousel__item.selected
                                            .carousel__image(style="background-image: url(./assets/images/slide-one.jpg)")
                                            .carousel__image-wrap
                                                .carousel__heading
                                                    .carousel__question Хотите окраску
                                                        br
                                                        | забора 
                                                        span.carousel__question-color в подарок?
                                                    .carousel__sticky
                                                        .carousel__sticky-inner акция
                                                .carousel__title промокод 
                                                    span.carousel__title-color "лето"
                                                a.carousel__link(href="#") 
                                                    .carousel__btn-text подробнее
                                                    svg.carousel__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
                                    .slider__buttons.slider__buttons--rotate
                                        button(type="button").controls.slider__prev.controls--second
                                            svg.slider__icon.slider__icon--second: use(xlink:href="assets/images/icons/sprite.svg#left")
                                        button(type="button").controls.slider__next.controls--second
                                            svg.slider__icon.slider__icon--second: use(xlink:href="assets/images/icons/sprite.svg#right")
            .content
                .container
                    .content__wrap
                        .regions
                            .block-title
                                .block-title__number 04.
                                h2.block-title__text география
                                    br
                                    | работы
                            ul.regions__columns
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                                li.regions__col
                                    ul.regions__list
                                        li.regions__item
                                            .regions__letter а.
                                            .regions__city
                                                a.regions__object(href="#") Апрелевка
                                        li.regions__item
                                            .regions__letter б.
                                            .regions__city
                                                a.regions__object(href="#") Балашиха
                                                a.regions__object(href="#") Бронницы
                                        li.regions__item
                                            .regions__letter в.
                                            .regions__city
                                                a.regions__object(href="#") Верея
                                                a.regions__object(href="#") Волоколамск
                                                a.regions__object(href="#") Воскресенск
                                                a.regions__object(href="#") Высоковск
                                        li.regions__item
                                            .regions__letter г.
                                            .regions__city
                                                a.regions__object(href="#") Голицино
                                        li.regions__item
                                            .regions__letter д.
                                            .regions__city
                                                a.regions__object(href="#") Дедовск
                                                a.regions__object(href="#") Дзержинский
                                                a.regions__object(href="#") Дмитров
                                                a.regions__object(href="#") Долгопрудный
                                                a.regions__object(href="#") Домодедово
                                        li.regions__item
                                            .regions__letter е.
                                            .regions__city
                                                a.regions__object(href="#") Егорьевск
                        .reviews
                            .reviews__heading
                                .block-title
                                    .block-title__number.block-title__number--light 05.
                                    h2.block-title__text.block-title__text--light отзывы 
                                        br 
                                        | клиентов
                                .slider__buttons.slider__buttons--reviews
                                    button(type="button").controls.slider__prev
                                        svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#left")
                                    button(type="button").controls.slider__next
                                        svg.slider__icon: use(xlink:href="assets/images/icons/sprite.svg#right")
                            ul.reviews__list
                                // по дефолту li display:none; | при добавлении класса 'selected' - display:block;
                                li.reviews__item.selected
                                    .reviews__desk
                                        .reviews__image(style="background-image: url(./assets/images/pic/avatar.jpg)")
                                        .reviews__content
                                            .reviews__name Михаил
                                                br
                                                | Добкин
                                            .reviews__position г. Мытищи
                                    .reviews__text
                                        p В прошлом месяце заказывал забор для дачного участка. Огораживались с соседями, поэтому ограничились сеткой-рабицей. По бригаде ничего плохого сказать не могу. Монтажники работящие...
                            a.reviews__link(href="#")
                                .reviews__btn-text оставить отзыв
                                svg.reviews__btn-icon: use(xlink:href="assets/images/icons/sprite.svg#right-arrow")
        include ../common/footer.pug          
                                
                            



