extends ../template

block variables
    - var title = 'Наше Оборудование'

block content
    include ../common/sidebar.pug
    .wrapper
        .container
            include ../common/header.pug
            section.section.tools
                .tools__wrap
                    h1.section__title.visuallyhidden price
                    .title Наше Оборудование
                    ul.tools__list
                        li.tools__item 1
                        li.tools__item 2
                        li.tools__item 3
                        li.tools__item 4
                        li.tools__item 5
                        li.tools__item 6
                        li.tools__item 7
                        li.tools__item 8
                        li.tools__item 9
                        li.tools__item 10
                        li.tools__item 11
                        li.tools__item 12
                        li.tools__item 13
                        li.tools__item 14
                        li.tools__item 15
                        li.tools__item 16
                        li.tools__item 17
                        li.tools__item 18
                        li.tools__item 19
                        li.tools__item 20
            include ../common/footer.pug