extends ../template

block variables
    - var title = 'Наше Оборудование'

block content
    include ../common/sidebar.pug
    .wrapper
        .container
            include ../common/header.pug
            section.section.section-wrap.tools
                .tools__wrap
                    h1.section__title.visuallyhidden price
                    .title Наше Оборудование
                    ul.tools__list
                        - var x = 2;
                            - for (var i=1; i<=x; i++) {
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-1.jpg)")
                                    .tools__title Обработка плоскости - станок Berco (Италия)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-2.jpg)")
                                    .tools__title Хонинговка цилиндров - станок Sunnen (США)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-3.jpg)")
                                    .tools__title Расточка постели станок AZ (Италия)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-4.jpg)")
                                    .tools__title Шлифовка клапанов - станок Kwik-way (США)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-5.jpg)")
                                    .tools__title Приемка деталей в ремонт - проверка, контроль
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-6.jpg)")
                                    .tools__title Обработка плоскости - станок Berco (Италия)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-7.jpg)")
                                    .tools__title Обработка плоскости - станок Berco (Италия)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-8.jpg)")
                                    .tools__title Обработка плоскости - станок Berco (Италия)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-9.jpg)")
                                    .tools__title Обработка плоскости - станок Berco (Италия)
                            li.tools__item
                                a(href="#").tools__link
                                    .tools__image(style="background-image: url(./assets/images/tools-10.jpg)")
                                    .tools__title Обработка плоскости - станок Berco (Италия)
                            - }
                .gallery
                    .gallery__wrap
                        .gallery__featured(style="background-image: url(./assets/images/tools-1-big.jpg)")
                        .gallery__panel
                            .gallery__desc Обработка плоскости - станок Berco 
                                br
                                | (Италия)
                            .controls.controls--gallery
                                button(type="button").controls__btn.controls__prev
                                .gallery__count
                                    span.gallery__count-one 1
                                    span.gallery__count-two 20
                                button(type="button").controls__btn.controls__next
                            button(type="button").close
            include ../common/footer.pug