extends ../template

block variables
    - var title = 'Сервисы'

block content
    include ../common/sidebar.pug
    .bg-popup
    .popup.popup--one
        form.form
            a(href="#").popup-close
            .title оставить заявку
            .form__column
                .form__row
                    label.form__block
                        input(type="text" name="user-name" placeholder="Имя" required).form__input.form__input--user
                    label.form__block
                        input(type="text" name="telephone" placeholder="Номер телефона" required).form__input.form__input--call
                .form__row
                    label.form__block
                        input(type="text" name="email" placeholder="Email" required).form__input.form__input--email
                    label.form__block
                        input(type="text" name="request" placeholder="Тема обращения" required).form__input.form__input--req
                .form__row
                    label.form__block.form__block--textarea
                        textarea(name="message" placeholder="Ваше сообщение" cols="30" rows="3" required).form__textarea
            button(type="submit").more отправить
    .popup.popup--two
        form.form
            a(href="#").popup-close
            .title заказать звонок
            .form__column
                .form__row
                    label.form__block
                        input(type="text" name="user-name" placeholder="Имя" required).form__input.form__input--user
                .form__row
                    label.form__block
                        input(type="text" name="telephone" placeholder="Номер телефона" required).form__input.form__input--call
            button(type="submit").more отправить
    .wrapper
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percents 0%
        .container
            .bg#bg
            include ../common/header.pug
            section.section.section-wrap.type-service
                .type-service__wrap.type-service__wrap--two
                    h1.section__title.visuallyhidden type-service
                    .title ремонт блока цилиндров
                    .type-service__col
                        .service-tabs
                            ul.service-tabs__list
                                li.service-tabs__item
                                    a(href="#").service-tabs__link.active
                                        img(src="./assets/images/icons/type-service-1.png" alt="type-service").service-tabs__image
                                        .service-tabs__title Иномарки
                                            br 
                                            | легковые
                                li.service-tabs__item
                                    a(href="#").service-tabs__link
                                        img(src="./assets/images/icons/type-service-2.png" alt="type-service").service-tabs__image
                                        .service-tabs__title Иномарки
                                            br 
                                            | грузовые
                                        .service-tabs__sub (объем до 3.5 л)
                                li.service-tabs__item
                                    a(href="#").service-tabs__link
                                        img(src="./assets/images/icons/type-service-3.png" alt="type-service").service-tabs__image
                                        .service-tabs__title Иномарки
                                            br 
                                            | грузовые
                                        .service-tabs__sub (объем от 3.5 л)
                                li.service-tabs__item
                                    a(href="#").service-tabs__link
                                        img(src="./assets/images/icons/type-service-4.png" alt="type-service").service-tabs__image
                                        .service-tabs__title Отечественные
                                            br 
                                            | легковые
                                li.service-tabs__item
                                    a(href="#").service-tabs__link
                                        img(src="./assets/images/icons/type-service-5.png" alt="type-service").service-tabs__image
                                        .service-tabs__title Отечественные
                                            br 
                                            | грузовые
                                        .service-tabs__sub (объем до 3.5 л)
                                li.service-tabs__item
                                    a(href="#").service-tabs__link
                                        img(src="./assets/images/icons/type-service-6.png" alt="type-service").service-tabs__image
                                        .service-tabs__title Отечественные
                                            br 
                                            | грузовые
                                        .service-tabs__sub (объем от 3.5 л)
                        .service-tabs__feautured(style="background-image: url(./assets/images/type-service-bg.jpg)")
                    ul.description
                        li.description__tab
                            .description__title Ремонт блока цилиндров - иномарки легковые
                            .description__text
                                p Работая на рынке оказания услуг по механической обработке деталей двигателя внутреннего сгорания (ДВС), сталкиваемся с определенным набором вопросов возникающих у наших Заказчиков услуг по механической обработке головок блоков цилиндров (ГБЦ). Мы с удовольствием расскажем об основных операциях при восстановительной механической обработке ГБЦ. Технико- экономические характеристики ДВС, а это мощность, крутящий момент, расход топлива, потребление масла и другие, в первую очередь зависят от совершенства процессов формирующихся правильной работой элементов головки блока цилиндров. Головка блока цилиндров в ДВС выполняет сразу несколько важнейших функций.
                                p ГБЦ — это часть ДВС участвующая в:
                                ul.description__list
                                    li.description__item системе охлаждения ДВС;
                                    li.description__item системе газораспределения ДВС, где конструктивно размещены такие элементы газораспределительного механизма, как системы — «втулка-седло-клапан», как со стороны "впуск", так и со стороны "выпуск"; распределительный вал (или валы) с элементами и механизмами регулировки зазоров; форсунки, свечи зажигания, и другие, не элементы.
                                p Такая сложная система механизмов комплектующих ГБЦ требует очень внимательного обследования и обмера перед началом определения путей проведения ремонта и механической обработки. Перед проведением обследования, ГБЦ разбирается от всего навесного оборудования, тщательно моется, очищается от нагара, отложений в камерах сгорания, коллекторных каналах, полости водяной рубашки, масленых каналах осмотром проверяется на наличие трещин, сколов, кавитационных раковин. Наиболее распространенными дефектами головок блоков цилиндров являются:
                                ul.description__list
                                    li.description__item не герметичность полости водной рубашки, стаканов форсунок и компенсационных заглушек;
                                    li.description__item износ втулок клапанов;
                                    li.description__item износ седел клапанов;
                                    li.description__item износ фасок тарелок клапанов и стержней клапанов;
                                    li.description__item потеря упругости клапанных пружин;
                                    li.description__item трещины перемычек между седлами клапанов, трещины между седлами и отверстиями под распылители форсунок, трещины в отверстиях свечей зажигания или кавитационные разрушения на плоскостях камер сгорания;
                    .tabs
                        ul.tabs__list.tabs__list--our.active
                            li.tabs__item
                                a(href="#our-price-1").tabs__link Головка блока цилиндров (ГБЦ)
                            li.tabs__item
                                a(href="#our-price-2").tabs__link Блок цилиндров (БЦ)
                            li.tabs__item
                                a(href="#our-price-3").tabs__link Коленчатый вал (КВ)
                            li.tabs__item
                                a(href="#our-price-4").tabs__link Шатуны, поршни
                            li.tabs__item
                                a(href="#our-price-5").tabs__link Маслонасос
                            li.tabs__item
                                a(href="#our-price-6").tabs__link Поддон
                            li.tabs__item
                                a(href="#our-price-7").tabs__link Коллектор
                            li.tabs__item
                                a(href="#our-price-8").tabs__link Другие детали
                            li.tabs__item
                                a(href="#our-price-9").tabs__link Сварка
                        ul.tabs__list.tabs__list--import
                            li.tabs__item
                                a(href="#import-price-1").tabs__link Головка блока цилиндров (ГБЦ)
                            li.tabs__item
                                a(href="#import-price-2").tabs__link Блок цилиндров (БЦ)
                            li.tabs__item
                                a(href="#").tabs__link Коленчатый вал (КВ)
                            li.tabs__item
                                a(href="#").tabs__link Шатуны, поршни
                            li.tabs__item
                                a(href="#").tabs__link Маслонасос
                            li.tabs__item
                                a(href="#").tabs__link Поддон
                            li.tabs__item
                                a(href="#").tabs__link Коллектор
                            li.tabs__item
                                a(href="#").tabs__link Другие детали
                            li.tabs__item
                                a(href="#").tabs__link Сварка
                        .tabs__xs.tabs__xs--our.active
                            label.select(for='select')
                                input#bg-sel(type='radio', name='list', value='not_changed', checked='')
                                input#select(type='radio', name='list', value='not_changed')
                                label.bg-sel(for='bg-sel')
                                .items
                                    input(type='radio', name='list', value='our-price-1', id='list[0]')
                                    label(for='list[0]') Головка блока цилиндров (ГБЦ)
                                    input(type='radio', name='list', value='our-price-2', id='list[1]')
                                    label(for='list[1]') Блок цилиндров (БЦ)
                                    input(type='radio', name='list', value='our-price-3', id='list[2]')
                                    label(for='list[2]') Коленчатый вал (КВ)
                                    input(type='radio', name='list', value='our-price-4', id='list[3]')
                                    label(for='list[3]') Шатуны, поршни
                                    input(type='radio', name='list', value='our-price-5', id='list[4]')
                                    label(for='list[4]') Маслонасос
                                    input(type='radio', name='list', value='our-price-6', id='list[5]')
                                    label(for='list[5]') Поддон
                                    input(type='radio', name='list', value='our-price-7', id='list[6]')
                                    label(for='list[6]') Коллектор
                                    input(type='radio', name='list', value='our-price-8', id='list[7]')
                                    label(for='list[7]') Другие детали
                                    input(type='radio', name='list', value='our-price-9', id='list[8]')
                                    label(for='list[8]') Сварка
                                    span#text Весь прайс (1)
                        .tabs__xs.tabs__xs--import
                            label.select2(for='select2')
                                input#bg-sel2(type='radio', name='list', value='not_changed', checked='')
                                input#select2(type='radio', name='list', value='not_changed')
                                label.bg-sel2(for='bg-sel2')
                                .items
                                    input(type='radio', name='list', value='our-price-1', id='list[0]')
                                    label(for='list[0]') Головка блока цилиндров (ГБЦ)
                                    input(type='radio', name='list', value='our-price-2', id='list[1]')
                                    label(for='list[1]') Блок цилиндров (БЦ)
                                    input(type='radio', name='list', value='our-price-3', id='list[2]')
                                    label(for='list[2]') Коленчатый вал (КВ)
                                    input(type='radio', name='list', value='our-price-4', id='list[3]')
                                    label(for='list[3]') Шатуны, поршни
                                    input(type='radio', name='list', value='our-price-5', id='list[4]')
                                    label(for='list[4]') Маслонасос
                                    input(type='radio', name='list', value='our-price-6', id='list[5]')
                                    label(for='list[5]') Поддон
                                    input(type='radio', name='list', value='our-price-7', id='list[6]')
                                    label(for='list[6]') Коллектор
                                    input(type='radio', name='list', value='our-price-8', id='list[7]')
                                    label(for='list[7]') Другие детали
                                    input(type='radio', name='list', value='our-price-9', id='list[8]')
                                    label(for='list[8]') Сварка
                                    span#text2 Весь прайс (2)
                    .type-service__table
                        .type-service__buttons#tsb2
                            a(href="" target="blanc").more.more--download.more--service.more--desktop скачать прайс 
                                span (pdf, 220кб)
                            a(href="" target="blanc").more.more--service.more--desktop прайс на все услуги
                        .table.active#table-our
                            .table__heading
                                .table__name Наименование работ
                                .table__unit Ед. изм.
                                .table__cost Стоимость, руб.
                            .table__block#our-price-1
                                .table__title Головка блока цилиндров (ГБЦ)
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-2
                                .table__title блок цилиндров (БЦ)
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-3
                                .table__title Коленчатый вал (КВ)
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-4
                                .table__title Шатуны, поршни
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-5
                                .table__title Маслонасос
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-6
                                .table__title Поддон
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-7
                                .table__title Коллектор
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-8
                                .table__title Другие детали
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                            .table__block#our-price-9
                                .table__title Сварка
                                .table__subtitle Предварительные работы
                                .table__row
                                    .table__name Мойка предварительная (технологическая)
                                    .table__unit ГБЦ
                                    .table__cost 60
                                .table__row
                                    .table__name Мойка повторная (технологическая) перед сборкой
                                    .table__unit ГБЦ
                                    .table__cost 40
                                .table__row
                                    .table__name Снятие/установка предкамер (М-В 601 и т.п.)
                                    .table__unit операция
                                    .table__cost 396
                                .table__row
                                    .table__name Снятие форсунок
                                    .table__unit операция
                                    .table__cost 150       
                                .notes
                                    .notes__title примечания:
                                    ol.notes__list
                                        li.notes__item При работах по одному цилиндру: + 20% к стоимости работ
                                        li.notes__item Гильзовка при наличии трещины: + 20% к стоимости работ
                                        li.notes__item Гильзовка блоков с тонкими стенками: + 20% к стоимости работ
                    a(href="" target="blanc").more.more--download скачать прайс 
                        span (pdf, 220кб)
                    a(href="" target="blanc").more.more--service прайс на все услуги
            .type-service__line
                .repair
                    .repair__video
                    .repair__content
                        .repair__sticky услуга
                        .title.title--white
                            .title__line-top срочный
                            .title__line-bottom.title__red-text ремонт
                        .repair__text
                            p У вас совсем нет времени ждать? Не беда, наша компания предлагает Вам услугу «срочный ремонт».  Мы вполним ваш заказ в течении 4х часов с момента приема детали и заключения договора. 
                        .repair__subject Экономия до 70% времени
                            br
                            | Доплата всего 20%
                        a(href="#").more.more--white подать заявку
                .request
                    form.form
                        .title задать вопрос
                        .form__column
                            .form__row
                                label.form__block
                                    input(type="text" name="user-name" placeholder="Имя" required).form__input.form__input--user
                                label.form__block
                                    input(type="text" name="telephone" placeholder="Номер телефона" required).form__input.form__input--call
                            .form__row
                                label.form__block
                                    input(type="text" name="email" placeholder="Email" required).form__input.form__input--email
                                label.form__block
                                    input(type="text" name="request" placeholder="Тема обращения" required).form__input.form__input--req
                            .form__row
                                label.form__block.form__block--textarea
                                    textarea(name="message" placeholder="Ваше сообщение" cols="30" rows="3" required).form__textarea
                        button(type="submit").more отправить
            include ../common/footer.pug