.calc__wrap {
    padding-top: rem(164px);
}

.tabs {
    padding-top: rem(36px);
}

.tabs__list {
    display: flex;
    flex-direction: row;
}

.tabs__item {
    display: flex;
    justify-content: center;
    flex: 1 auto;
}

.tabs__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #9dacb4;
    border-bottom: 1px solid #9dacb4;
    border-left: 1px solid #9dacb4;
    padding: rem(4px) 0;
    transition: .3s;

    &.selected {
        background-color: $green;

        .tabs__obj {
            color: $w;
        }

        .tabs__icon {
            fill: $w;
        }
    }

    &.active {
        background-color: $blue;

        .tabs__obj {
            color: $w;
        }

        .tabs__icon {
            fill: $w;
        }
    }

    &:hover:not(.selected) {
        background-color: $blue;

        .tabs__obj {
            color: $w;
        }

        .tabs__icon {
            fill: $w;
        }
    }
}

.tabs__link.tabs__link--result:hover {
    background-color: $w;
}

.tabs__link.tabs__link--result.selected {
    background-color: $green;

    .tabs__result {
        color: $w;
    }

    .tabs__value {
        color: $w;
    }
}

.tabs__link--result {
    border: 2px solid $b;
}

.tabs__obj {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9dacb4;
    margin-right: rem(7px);
    transition: .3s;
}

.tabs__icon {
    height: rem(30px);
    width: rem(25px);
    fill: #9dacb4;
    transition: .3s;
}

.tabs__result {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    margin-right: rem(4px);
    transition: .3s;
}

.tabs__value {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $green;
    transition: .3s;
}

.form__item {
    display: none;

    &.visible {
        display: block;
    }
}

.form__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(31px);
}

.form__col-l {
    width: rem(342px);
}

.form__col-l--resize {
    width: rem(281px);
}

.form__col-r {
    width: rem(776px);
    padding-top: rem(31px);
}

.form__col-r--resize {
    width: rem(829px);
}

.form__image {
    height: rem(139px);
    width: rem(776px);
    position: relative;
}

.form__pic {
    height: 100%;
    width: 100%;
}

.form__image--resize {
    height: rem(161px);
    width: rem(829px);
    position: relative;
}

.form__image--resize-2 {
    height: rem(209px);
    width: rem(829px);
    position: relative;
}

.form__obj-one {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-40%, -50%);
    background: $green;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.form__image--resize-2 .form__obj-one {
    top: 50%;
    top: calc(50% - 23px);
}

.form__obj-two {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    top: calc(50% - 23px);
    left: 325px;
    background: $blue;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.form__obj-three {
    position: absolute;
    left: rem(325px);
    bottom: rem(-21px);
    transform: translate(-50%, -50%);
    background: $green;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.form__obj-four {
    position: absolute;
    left: rem(642px);
    top: calc(50% - 23px);
    transform: translate(-50%, -50%);
    background: $blue;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.form__caption {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    margin-top: rem(25px);
    margin-bottom: rem(26px);
}

.form__colors {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
}

.form__colors-link {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $green;
    text-decoration: underline;
    transition: .3s;

    &:hover {
        color: $blue;
    }
}

.form__result {
    padding-top: rem(30px);
}

.form-table {
    margin-bottom: rem(30px);
    max-width: rem(793px);

    &:last-child {
        margin-bottom: 0;
    }
}

.form-table__title {
    font-family: $m-s;
    font-size: rem(18px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    margin-bottom: rem(12px);
}


.form-table__list {
    display: flex;
    flex-direction: column;
}

.form-table__item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $grey;

    &:last-child {
        border-bottom: none;
    }
}

.form-table__item--title {
    border-bottom: 2px solid $grey;
}

.form-table__left {
    width: rem(535px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $w;
    padding: rem(18px) rem(26px) rem(14px) rem(26px);
    border-right: 1px solid $grey;
}

.form-table__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #3b444e;
}

.form-table__text--title {
    font-family: $m-s;
}

.form-table__text--total {
    font-family: $m-s;
    color: $green;
}

.form-table__info {
    height: rem(19px);
    width: rem(19px);
    line-height: rem(19px);
    text-align: center;
    background-color: $blue;
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    border-radius: 50%;
    position: relative;

    &:before {
        content: '';
        height: 0;
        width: 0;
        border: 16px solid transparent;
        border-right-color: $blue;
        border-left-width: 0;
        position: absolute;
        left: 100%;
        left: calc(100% + 14px);
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    &:after {
        content: attr(data-tooltip);
        color: $w;
        font-family: $m-r;
        font-size: rem(12px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 100%;
        left: calc(100% + 30px);
        top: 50%;
        transform: translate(0, -50%);
        transition: .3s;
        background-color: $blue;
        width: rem(194px);
        padding: rem(20px) rem(15px);
    }

    &:hover {
        &:after {
            opacity: 1;
            visibility: visible;
        }

        &:before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.form-table__right {
    width: rem(258px);
    background-color: $w;
    padding: rem(18px) rem(26px) rem(14px) rem(26px);
}

// select fence-view
.form-calc input {
    display: none;
}

.form-calc {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc input[name="fence-type"]:not(:checked) ~ #text {
    color: black;
    background: white;
}

.form-calc input[name="fence-type"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select:disabled ~ .items-calc #text {
    background: #eee;
}

.items-calc {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select:not(:checked) ~ .items-calc {
    height: rem(52px);
}

.items-calc label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc label:hover {
    background-color: $green;
    color: $w;
}

#select:checked ~ .items-calc {
    padding-top: rem(52px);
}

#select:checked ~ .items-calc label {
    display: block;
}

.items-calc input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select:checked ~ .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-view end

// select fence-height
.form-calc-height input {
    display: none;
}

.form-calc-height {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-height:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-height input[name="height-of-gates"]:not(:checked) ~ #text {
    color: black;
    background: white;
}

.form-calc-height input[name="height-of-gates"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-height:disabled ~ .items-calc-height #text {
    background: #eee;
}

.items-calc-height {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
    z-index: 1;
}

#select-height:not(:checked) ~ .items-calc-height {
    height: rem(52px);
}

.items-calc-height label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc-height label:hover {
    background-color: $green;
    color: $w;
}

#select-height:checked ~ .items-calc-height {
    padding-top: rem(52px);
}

#select-height:checked ~ .items-calc-height label {
    display: block;
}

.items-calc-height input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-height:checked ~ .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-height end

// select number-of-gates 
.form-calc-number input {
    display: none;
}

.form-calc-number {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-number:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 4;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-number input[name="number-of-gates"]:not(:checked) ~ #text {
    color: black;
    background: white;
}

.form-calc-number input[name="number-of-gates"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-number:disabled ~ .items-calc-number #text {
    background: #eee;
}

.items-calc-number {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-number:not(:checked) ~ .items-calc-number {
    height: rem(52px);
}

.items-calc-number label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc-number label:hover {
    background-color: $green;
    color: $w;
}

#select-number:checked ~ .items-calc-number {
    padding-top: rem(52px);
    z-index: 3;
}

#select-number:checked ~ .items-calc-number label {
    display: block;
}

.items-calc-number input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-number:checked ~ .bg-two {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-view end

// select fence-width
.form-calc-width input {
    display: none;
}

.form-calc-width {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-width:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-width input[name="number-of-gates"]:not(:checked) ~ #text {
    color: black;
    background: white;
}

.form-calc-width input[name="number-of-gates"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-width:disabled ~ .items-calc-width #text {
    background: #eee;
}

.items-calc-width {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-width:not(:checked) ~ .items-calc-width {
    height: rem(52px);
}

.items-calc-width label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc-width label:hover {
    background-color: $green;
    color: $w;
}

#select-width:checked ~ .items-calc-width {
    padding-top: rem(52px);
    z-index: 1;
}

#select-width:checked ~ .items-calc-width label {
    display: block;
}

.items-calc-width input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-width:checked ~ .bg-width {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-view end

// select number-of-door
.form-calc-door input {
    display: none;
}

.form-calc-door {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-door:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-door input[name="number-of-gates"]:not(:checked) ~ #text {
    color: black;
    background: white;
}

.form-calc-door input[name="number-of-gates"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-door:disabled ~ .items-calc-door #text {
    background: #eee;
}

.items-calc-door {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-door:not(:checked) ~ .items-calc-door {
    height: rem(52px);
}

.items-calc-door label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc-door label:hover {
    background-color: $green;
    color: $w;
}

#select-door:checked ~ .items-calc-door {
    padding-top: rem(52px);
    z-index: 1;
}

#select-door:checked ~ .items-calc-door label {
    display: block;
}

.items-calc-door input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-door:checked ~ .bg-door {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select number-of-door end

// Form-price
.form-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: rem(793px);
    padding-top: rem(7px);
}

.form-price__text {
    font-family: $m-s;
    font-size: rem(16px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: $b;
}

.form-price__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-price__pic {
    width: rem(35px);
    height: rem(19px);
    fill: $b;
    transition: .3s;
}

.form-price__field {
    width: rem(91px);
}

.form-price__input {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    padding: rem(17px) rem(25px);
    font-family: $m-s;
    font-size: rem(16px);
    letter-spacing: normal;
    transition: .3s;
    width: 100%;

    &:hover,
    &:focus {
        border: 1px solid $blue;
    }
}

.rail {
    width: rem(183px);
    height: rem(9px);
    background: #fff;
    position:relative;
    margin:0 auto;
    padding:0 10px;
}
     
.ui-slider-handle {
    width: rem(15px);
    height: rem(15px);
    position:absolute;
    top: 50%;
    z-index:200;
    background:$grey;
    transform: translate(-50%, -50%);
    border: 2px solid $blue;
    outline: none;
}
     
.ui-widget-header {
    background:#9dacb4;
    height:100%;
    left: 0;
    position:absolute;
}

#rail-result {
    text-align:center;
    position:absolute;
    left: 50%;
    background:$w;
    padding: rem(4px) rem(7px);
    width: rem(50px);
    bottom: 100%;
    bottom: calc(100% + 13px);
    transform: translate(-50%, 0);
    font-family: $m-s;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $b;

    &:after {
        content: '';
        height: 0;
        width: 0;
        border: 13px solid transparent;
        border-top-color: $w;
        border-bottom-width: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: rem(-7px);
    }
}

.rail__value-start {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9dacb4;
    position: absolute;
    transform: translate(-50%, 0);
    top: 100%;
    top: calc(100% + 9px);
    left: 0;
}

.rail__value-end {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9dacb4;
    position: absolute;
    transform: translate(50%, 0);
    top: 100%;
    top: calc(100% + 9px);
    right: 0;
}

.form-total {
    border-top: 1px solid #b9cad3;
    border-bottom: 1px solid #b9cad3;
    max-width: rem(793px);
    display: flex;
    flex-direction: row;
    margin-top: rem(27px);
    padding: rem(15px) 0;
}

.form-total__col-l {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.form-total__text {
    font-family: $m-s;
    font-size: rem(20px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $b;
}

.form-total__text-value {
    color: $green;
    margin-left: rem(9px);
}

.form-total__col-r {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.form-total__action {
    &:hover {
        .form-total__icon {
            fill: $green;
        }
    }
}

.form-total__action {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.form-total__icon {
    height: rem(27px);
    width: rem(27px);
    fill: #b9cad3;
    transition: .3s;
}

.form__application {
    max-width: rem(793px);
    margin-top: rem(36px);
}