.calc__wrap {
    padding-top: rem(164px);

    @include tablets {
        padding-top: rem(104px);
    }

    @include phones {
        padding-top: rem(20px);
    }
}

.tabs {
    padding-top: rem(36px);

    @include tablets {
        padding-top: rem(26px);
    }
}

.tabs__list {
    display: flex;
    flex-direction: row;

    @include desktop {
        flex-flow: row wrap;
    }
}

.tabs__item {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;

    &:last-child {
        flex: 0 auto;
    }

    @include desktop {
        margin-right: rem(10px);
        margin-bottom: rem(10px);
        flex: initial;
    }
}

.tabs__item--hide-mobile {
    @include phones-large {
        display: none;
    }
}

.tabs__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #9dacb4;
    border-bottom: 1px solid #9dacb4;
    border-left: 1px solid #9dacb4;
    padding: rem(4px) 0;
    transition: .3s;
    padding-left: rem(21px);
    padding-right: rem(17px);

    &.selected {
        background-color: $green!important;

        .tabs__obj {
            color: $w;
        }

        .tabs__icon {
            fill: $w;
        }
    }

    &.active {
        background-color: $blue;

        .tabs__obj {
            color: $w;
        }

        .tabs__icon {
            fill: $w;
        }
    }

    &:hover:not(.selected) {
        background-color: $blue;

        .tabs__obj {
            color: $w;
        }

        .tabs__icon {
            fill: $w;
        }
    }

    @include desktop {
        border-right: 1px solid #9dacb4;
        padding: rem(10px) rem(20px);
        justify-content: center;
    }

    @include tablets {
        padding: rem(10px) rem(10px);
    }

    @include phones-large {
        border: none;
    }
}

.tabs__link.tabs__link--result:hover {
    background-color: $w;
}

.tabs__link.tabs__link--result.selected {
    background-color: $green;

    .tabs__result {
        color: $w;
    }

    .tabs__value {
        color: $w;
    }
}

.tabs__link--result {
    border: 2px solid $b;
    justify-content: center;
    min-width: max-content;
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
}

.tabs__obj {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9dacb4;
    transition: .3s;

    @include phones-large {
        display: none;
    }
}

.tabs__obj-mobile {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $w;
    display: none;

    @include phones-large {
        display: flex;
    }
}

.tabs__icon {
    height: rem(30px);
    width: rem(25px);
    fill: #9dacb4;
    transition: .3s;

    @include desktop {
        display: none;
    }
}

.tabs__result {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    margin-right: rem(4px);
    transition: .3s;
}

.tabs__value {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $green;
    transition: .3s;
}

.form__list {
    padding-top: rem(10px);
}

.form__item {
    display: none;

    &.visible {
        display: block;
    }
}

.form__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(31px);

    @include desktop {
        padding-top: rem(25px);
    }

    @include laptop {
        flex-direction: column;
    }

    @include phones-large {
        padding-top: 0;
    }
}

.form__col-l {
    width: rem(342px);

    @include desktop {
        width: rem(290px);
    }

    @include laptop {
        width: rem(342px);
        padding-bottom: rem(60px);
    }

    @include phones-large {
        width: 100%;
    }
}

.form__col-l--resize {
    width: rem(281px);

    @include desktop {
        width: rem(280px);
    }

    @include phones-large {
        width: 100%;
    }
}

.form__col-l--no-gap {
    @include laptop {
        padding-bottom: rem(10px);
    }
}

.form__col-r {
    width: rem(776px);
    padding-top: rem(31px);

    @include desktop {
        width: rem(580px);
    }

    @include laptop {
        width: 100%;
    }

    @include phones {
        padding-top: 0;
    }
}

.form__col-r--resize {
    width: rem(829px);

    @include desktop {
        width: rem(580px);
    }

    @include laptop {
        width: 100%;
    }
}

.form__image {
    height: rem(139px);
    width: rem(776px);
    position: relative;

    @include desktop {
        height: rem(125px);
        width: rem(580px);
    }

    @include laptop {
        width: 100%;
        height: rem(141px);
    }

    @include tablets {
        height: rem(121px);
    }

    @include phones-large {
        display: none;
    }
}

.form__image--visible {
    display: block;

    @include phones-large {
        height: rem(65px);
    }
}

.form__pic {
    height: 100%;
    width: 100%;
}

.form__pic--hide-mobile {
    @include phones-large {
        display: none;
    }
}

.form__pic--retina {
    display: none;

    @include phones-large {
        display: block;
    }
}

.form__image--resize {
    height: rem(161px);
    width: rem(829px);
    position: relative;

    @include desktop {
        height: rem(121px);
        width: rem(580px);
    }

    @include laptop {
        height: rem(141px);
        width: 100%;
        width: calc(100% - 20px);
        margin-left: auto;
    }

    @include tablets {
        height: rem(111px);
    }
}

.form__image--resize-2 {
    height: rem(209px);
    width: rem(829px);
    position: relative;

    @include desktop {
        height: rem(161px);
        width: rem(580px);
    }

    @include laptop {
        height: rem(171px);
        width: 100%;
        width: calc(100% - 20px);
        margin-left: auto;
    }

    @include tablets {
        height: rem(141px);
    }
}

.form__obj-one {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-40%, -50%);
    background: $green;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    @include desktop {
        padding: rem(2px) rem(10px);
    }
}

.form__image--resize-2 .form__obj-one {
    top: 50%;
    top: calc(50% - 23px);

    @include desktop {
        top: calc(50% - 15px);
    }
}

.form__obj-two {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    top: calc(50% - 23px);
    left: rem(325px);
    background: $blue;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    @include desktop {
        padding: rem(2px) rem(10px);
        top: calc(50% - 15px);
        left: rem(228px);
    }

    @include laptop {
        left: rem(263px);
    }

    @include tablets {
        left: rem(200px);
    }
}

.form__obj-three {
    position: absolute;
    left: rem(325px);
    bottom: rem(-21px);
    transform: translate(-50%, -50%);
    background: $green;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    @include desktop {
        padding: rem(2px) rem(10px);
        left: rem(228px);
    }

    @include laptop {
        left: rem(263px);
    }

    @include tablets {
        left: rem(200px);
    }
}

.form__obj-four {
    position: absolute;
    left: rem(642px);
    top: calc(50% - 23px);
    transform: translate(-50%, -50%);
    background: $blue;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    @include desktop {
        padding: rem(2px) rem(10px);
        left: rem(450px);
        top: calc(50% - 15px);
    }

    @include laptop {
        left: rem(519px);
    }

    @include tablets {
        left: rem(395px);
    }
}

.form__obj-five {
    position: absolute;
    left: rem(95px);
    bottom: rem(-38px);
    transform: translate(-40%, -50%);
    background: $green;
    min-width: rem(47px);
    min-height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(2px) rem(15px);
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    
    @include desktop {
        padding: rem(2px) rem(10px);
        left: rem(67px);
    }

    @include laptop {
        left: rem(77px); 
    }

    @include tablets {
        left: rem(57px); 
    }
}

.form__obj-five--euro {
    left: rem(120px);

    @include desktop {
        padding: rem(2px) rem(10px);
        left: rem(83px);
    }

    @include laptop {
        left: rem(96px); 
    }

    @include tablets {
        left: rem(72px); 
    }
}

.form__obj-five--euro2 {
    left: rem(120px);
    bottom: rem(-20px);

    @include desktop {
        padding: rem(2px) rem(10px);
        left: rem(83px);
        bottom: rem(-25px);
    }

    @include laptop {
        left: rem(96px); 
    }

    @include tablets {
        left: rem(72px); 
    }
}

.form__obj-five--resize {
    bottom: rem(-20px);

    @include desktop {
        bottom: rem(-25px);
    }
}

.form__caption {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    margin-top: rem(25px);
    margin-bottom: rem(26px);

    @include desktop {
        margin-top: rem(20px);
        margin-bottom: rem(20px);
    }

    @include laptop {
        margin-top: rem(25px);
        margin-bottom: rem(26px); 
    }

    @include phones {
        margin-top: rem(22px);
        margin-bottom: rem(40px);  
    }
}

.form__caption--label {
    display: none; 

    @include phones-large {
        display: block;
        margin: 0;
    }
}

.form__colors {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;

    @include phones-large {
        padding-right: rem(115px);
        margin-bottom: rem(20px);
    }

    @include phones {
        padding-right: 0;
    }
}

.form__colors-link {
    font-family: $m-b;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $green;
    text-decoration: underline;
    transition: .3s;

    &:hover {
        color: $blue;
    }
}

.form__result {
    padding-top: rem(30px);
}

.form-table {
    margin-bottom: rem(30px);
    max-width: rem(793px);

    &:last-child {
        margin-bottom: 0;
    }

    @include phones-large {
        display: none;
    }
}

.form-table--one {
    &.visible {
        display: block;
    }
}

.form-table--two {
    &.visible {
        display: block;
    }
}

.form-table__title {
    font-family: $m-s;
    font-size: rem(18px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    margin-bottom: rem(12px);

    @include phones-large {
        display: none;
    }
}

.nav {
    width: 100%;
    display: none; 

    @include phones-large {
        display: block;
    }
}

.nav__row {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(20px);

    &:last-child {
        margin-bottom: rem(2px);
    }
}

.nav__button {
    background-color: $w;
    font-family: $m-s;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $b;
    border: initial;
    width: 50%;
    padding: rem(16px) 0;
    outline: none;

    &.active {
        background-color: $green;
        color: $w;
    }
}

.form-table__list {
    display: flex;
    flex-direction: column;
}

.form-table__item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $grey;

    &:last-child {
        border-bottom: none;
    }
}

.form-table__item--title {
    border-bottom: 2px solid $grey;

    @include phones-large {
        display: none;
    }
}

.form-table__left {
    width: rem(535px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $w;
    padding: rem(18px) rem(26px) rem(14px) rem(26px);
    border-right: 1px solid $grey;

    @include tablets {
        padding: rem(15px) rem(15px);
    }

    @include phones-large {
        width: 100%;
        border-right: none;
        display: none;

        &.visible {
            display: flex;
        }
    }
}

.form-table__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #3b444e;

    @include tablets {
        font-size: rem(13px);
    }
}

.form-table__text--title {
    font-family: $m-s;
}

.form-table__text--total {
    font-family: $m-s;
    color: $green;
}

.form-table__info {
    height: rem(19px);
    width: rem(19px);
    line-height: rem(19px);
    text-align: center;
    background-color: $blue;
    color: $w;
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    border-radius: 50%;
    position: relative;

    &:before {
        content: '';
        height: 0;
        width: 0;
        border: 16px solid transparent;
        border-right-color: $blue;
        border-left-width: 0;
        position: absolute;
        left: 100%;
        left: calc(100% + 14px);
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        @include tablets {
            left: calc(100% + 9px); 
        }
    }

    &:after {
        content: attr(data-tooltip);
        color: $w;
        font-family: $m-r;
        font-size: rem(12px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 100%;
        left: calc(100% + 30px);
        top: 50%;
        transform: translate(0, -50%);
        transition: .3s;
        background-color: $blue;
        width: rem(194px);
        padding: rem(20px) rem(15px);

        @include tablets {
            left: calc(100% + 20px);
            padding: rem(13px) rem(10px);
        }
    }

    &:hover {
        &:after {
            opacity: 1;
            visibility: visible;
        }

        &:before {
            opacity: 1;
            visibility: visible;
        }
    }

    @include phones-large {
        display: none;
    }
}

.form-table__right {
    width: rem(258px);
    background-color: $w;
    padding: rem(18px) rem(26px) rem(14px) rem(26px);

    @include phones-large {
        width: 100%;
        text-align: center;
        display: none;

        &.visible {
            display: flex;
        }
    }
}

// select fence-view
.form-calc input {
    display: none;
}

.form-calc {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc input[name="list"]:not(:checked) ~ #text-select {
    color: black;
    background: white;
}

.form-calc input[name="list"]:checked ~ #text-select {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select:disabled ~ .items-calc #text-select {
    background: #eee;
}

.items-calc {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
    z-index: 1;
}

.text-select {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

#select:not(:checked) ~ .items-calc {
    height: rem(52px);
}

.items-calc label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc label:hover {
    background-color: $green;
    color: $w;
}

#select:checked ~ .items-calc {
    padding-top: rem(52px);
    max-height: rem(320px);
    overflow: auto;
}

#select:checked ~ .items-calc label {
    display: block;
}

.items-calc input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select:checked ~ .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-view end

// select fence-height
.form-calc-height input {
    display: none;
}

.form-calc-height {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-height:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-height input[name="height-of-gates"]:not(:checked) ~ #text-height {
    color: black;
    background: white;
}

.form-calc-height input[name="height-of-gates"]:checked ~ #text-height {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-height:disabled ~ .items-calc-height #text-height {
    background: #eee;
}

.items-calc-height {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
    z-index: 1;
}

.text-height {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

#select-height:not(:checked) ~ .items-calc-height {
    height: rem(52px);
}

.items-calc-height label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}

.items-calc-height label:hover {
    background-color: $green;
    color: $w;
}

#select-height:checked ~ .items-calc-height {
    padding-top: rem(52px);
    max-height: rem(320px);
    overflow: auto;
}

#select-height:checked ~ .items-calc-height label {
    display: block;
}

.items-calc-height input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-height:checked ~ .bg-height {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-height end

// select number-of-gates 
.form-calc-number input {
    display: none;
}

.form-calc-number {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-number:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 4;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-number input[name="number-of-gates"]:not(:checked) ~ #text-number {
    color: black;
    background: white;
}

.form-calc-number input[name="number-of-gates"]:checked ~ #text-number {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-number:disabled ~ .items-calc-number #text-number {
    background: #eee;
}

.items-calc-number {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
    z-index: 1;
}

#select-number:not(:checked) ~ .items-calc-number {
    height: rem(52px);
}

.items-calc-number label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-number {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-number label:hover {
    background-color: $green;
    color: $w;
}

#select-number:checked ~ .items-calc-number {
    padding-top: rem(52px);
    z-index: 3;
    max-height: rem(320px);
    overflow: auto;
}

#select-number:checked ~ .items-calc-number label {
    display: block;
}

.items-calc-number input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-number:checked ~ .bg-number {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-view end

// select fence-width
.form-calc-width input {
    display: none;
}

.form-calc-width {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-width:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-width input[name="fence-width"]:not(:checked) ~ #text-width {
    color: black;
    background: white;
}

.form-calc-width input[name="fence-width"]:checked ~ #text-width {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-width:disabled ~ .items-calc-width #text-width {
    background: #eee;
}

.items-calc-width {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-width:not(:checked) ~ .items-calc-width {
    height: rem(52px);
}

.items-calc-width label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-width {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-width label:hover {
    background-color: $green;
    color: $w;
}

#select-width:checked ~ .items-calc-width {
    padding-top: rem(52px);
    z-index: 1;
    max-height: rem(320px);
    overflow: auto;

    @include desktop {
        max-height: rem(200px);
    }

    @include laptop {
        max-height: rem(320px);
    }
}

#select-width:checked ~ .items-calc-width label {
    display: block;
}

.items-calc-width input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-width:checked ~ .bg-width {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-width end

// select number-of-door
.form-calc-door input {
    display: none;
}

.form-calc-door {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-door:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-door input[name="number-of-door"]:not(:checked) ~ #text-door {
    color: black;
    background: white;
}

.form-calc-door input[name="number-of-door"]:checked ~ #text-door {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-door:disabled ~ .items-calc-door #text-door {
    background: #eee;
}

.items-calc-door {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-door:not(:checked) ~ .items-calc-door {
    height: rem(52px);
}

.items-calc-door label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-door {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-door label:hover {
    background-color: $green;
    color: $w;
    z-index: 1;
}

#select-door:checked ~ .items-calc-door {
    padding-top: rem(52px);
    z-index: 1;
    max-height: rem(320px);
    overflow: auto;
}

#select-door:checked ~ .items-calc-door label {
    display: block;
}

.items-calc-door input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-door:checked ~ .bg-door {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select number-of-door end

// Form-price
.form-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: rem(793px);
    padding-top: rem(7px);

    @include tablets {
        flex-flow: row wrap;
        justify-content: initial;
    }

    @include phones-large {
        //flex-flow: initial;
        //align-items: flex-start;
    }
}

.form-price__text {
    font-family: $m-s;
    font-size: rem(16px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: $b;

    @include laptop {
        font-size: rem(15px);
    }

    @include tablets {
        width: 33.3%;

        &:first-child {
            width: 50%;
            margin-bottom: rem(25px);
        }
    }

    @include phones-large {
        width: 100%;

        &:first-child {
            width: 100%;
            margin-bottom: rem(60px);
        }

        &:last-child {
            width: 75%;
            margin-top: rem(15px);
            padding-left: rem(15px);
        }
    }

    @include phones {
        &:last-child {
            width: 60%;
        }
    }
}

.form-price__slider {
    @include tablets {
        width: 50%;
        margin-bottom: rem(25px);   
    }

    @include phones-large {
        width: 100%;
    }
}

.form-price__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        display: none;
    }
}

.form-price__pic {
    width: rem(35px);
    height: rem(19px);
    fill: $b;
    transition: .3s;

    @include laptop {
        width: rem(20px);
    }
}

.form-price__field {
    width: rem(91px);

    @include tablets {
        margin: 0 rem(20px);
    }

    @include phones-large {
        margin: rem(15px) 0 0 0;
    }
}

.form-price__input-fake {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    text-align: center;
    font-family: $m-s;
    font-size: rem(16px);
    letter-spacing: normal;
    transition: .3s;
    width: 100%;
    min-height: rem(58px);
    display: flex;
    justify-content: center;
    align-items: center;

    @include laptop {
        min-height: rem(48px);
    }
}

.rail {
    width: rem(183px);
    height: rem(9px);
    background: #fff;
    position:relative;
    margin:0 auto;
    padding:0 10px;

    @include laptop {
        width: rem(160px);
    }

    @include tablets {
        width: calc(100% - 20px);
    }

    @include phones-large {
        width: calc(100% - 50px);
    }
}
     
.ui-slider-handle {
    width: rem(15px);
    height: rem(15px);
    position:absolute;
    top: 50%;
    z-index:200;
    background:$grey;
    transform: translate(-50%, -50%);
    border: 2px solid $blue;
    outline: none;
}
     
.ui-widget-header {
    background:#9dacb4;
    height:100%;
    left: 0;
    position:absolute;
}

#rail-result {
    text-align:center;
    position:absolute;
    left: 50%;
    background:$w;
    padding: rem(4px) rem(7px);
    width: rem(50px);
    bottom: 100%;
    bottom: calc(100% + 13px);
    transform: translate(-50%, 0);
    font-family: $m-s;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $b;

    &:after {
        content: '';
        height: 0;
        width: 0;
        border: 13px solid transparent;
        border-top-color: $w;
        border-bottom-width: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: rem(-7px);
    }
}

.rail__value-start {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9dacb4;
    position: absolute;
    transform: translate(-50%, 0);
    top: 100%;
    top: calc(100% + 9px);
    left: 0;
}

.rail__value-end {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9dacb4;
    position: absolute;
    transform: translate(50%, 0);
    top: 100%;
    top: calc(100% + 9px);
    right: 0;
}

.form-total {
    border-top: 1px solid #b9cad3;
    border-bottom: 1px solid #b9cad3;
    max-width: rem(793px);
    display: flex;
    flex-direction: row;
    margin-top: rem(27px);
    padding: rem(15px) 0;
}

.form-total__col-l {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;

    @include tablets {
        width: 80%;
    }

    @include phones {
        width: 100%;
    }
}

.form-total__text {
    font-family: $m-s;
    font-size: rem(20px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $b;

    @include phones {
        font-size: rem(18px);
    }
}

.form-total__text-value {
    color: $green;
    margin-left: rem(9px);
}

.form-total__col-r {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    @include tablets {
        width: 20%;
    }

    @include phones-large {
        display: none;
    }
}

.form-total__action {
    &:hover {
        .form-total__icon {
            fill: $green;
        }
    }
}

.form-total__action {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.form-total__icon {
    height: rem(27px);
    width: rem(27px);
    fill: #b9cad3;
    transition: .3s;
}

.form__application {
    max-width: rem(793px);
    margin-top: rem(36px);
}

// select fence-gap
.form-calc-gap input {
    display: none;
}

.form-calc-gap {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-gap:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-gap input[name="fence-gap"]:not(:checked) ~ #text-gap {
    color: black;
    background: white;
}

.form-calc-gap input[name="fence-gap"]:checked ~ #text-gap {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-gap:disabled ~ .items-calc-gap #text-gap {
    background: #eee;
}

.items-calc-gap {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-gap:not(:checked) ~ .items-calc-gap {
    height: rem(52px);
}

.items-calc-gap label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-gap {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-gap label:hover {
    background-color: $green;
    color: $w;
}

#select-gap:checked ~ .items-calc-gap {
    padding-top: rem(52px);
    z-index: 1;
    max-height: rem(320px);
    overflow: auto;
}

#select-gap:checked ~ .items-calc-gap label {
    display: block;
}

.items-calc-gap input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-gap:checked ~ .bg-gap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-gap end

// select fence-coating
.form-calc-coating input {
    display: none;
}

.form-calc-coating {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-coating:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-coating input[name="fence-coating"]:not(:checked) ~ #text-coating {
    color: black;
    background: white;
}

.form-calc-coating input[name="fence-coating"]:checked ~ #text-coating {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-coating:disabled ~ .items-calc-coating #text-coating {
    background: #eee;
}

.items-calc-coating {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-coating:not(:checked) ~ .items-calc-coating {
    height: rem(52px);
}

.items-calc-coating label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-coating {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-coating label:hover {
    background-color: $green;
    color: $w;
}

#select-coating:checked ~ .items-calc-coating {
    padding-top: rem(52px);
    z-index: 1;
    max-height: rem(320px);
    overflow: auto;
}

#select-coating:checked ~ .items-calc-coating label {
    display: block;
}

.items-calc-coating input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-coating:checked ~ .bg-coating {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-coating end

// select fence-panel
.form-calc-panel input {
    display: none;
}

.form-calc-panel {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-panel:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-panel input[name="fence-panel"]:not(:checked) ~ #text-panel {
    color: black;
    background: white;
}

.form-calc-panel input[name="fence-panel"]:checked ~ #text-panel {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-panel:disabled ~ .items-calc-panel #text-panel {
    background: #eee;
}

.items-calc-panel {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-panel:not(:checked) ~ .items-calc-panel {
    height: rem(52px);
}

.items-calc-panel label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-panel {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-panel label:hover {
    background-color: $green;
    color: $w;
}

#select-panel:checked ~ .items-calc-panel {
    padding-top: rem(52px);
    z-index: 1;
    max-height: rem(320px);
    overflow: auto;
}

#select-panel:checked ~ .items-calc-panel label {
    display: block;
}

.items-calc-panel input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-panel:checked ~ .bg-panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-panel end

// select fence-armature
.form-calc-armature input {
    display: none;
}

.form-calc-armature {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-armature:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 2;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-armature input[name="fence-armature"]:not(:checked) ~ #text-armature {
    color: black;
    background: white;
}

.form-calc-armature input[name="fence-armature"]:checked ~ #text-armature {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-armature:disabled ~ .items-calc-armature #text-armature {
    background: #eee;
}

.items-calc-armature {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
}

#select-armature:not(:checked) ~ .items-calc-armature {
    height: rem(52px);
}

.items-calc-armature label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-armature {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-armature label:hover {
    background-color: $green;
    color: $w;
}

#select-armature:checked ~ .items-calc-armature {
    padding-top: rem(52px);
    z-index: 1;
    max-height: rem(320px);
    overflow: auto;
}

#select-armature:checked ~ .items-calc-armature label {
    display: block;
}

.items-calc-armature input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-armature:checked ~ .bg-armature {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select fence-armature end