.calendar__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: rem(1px) solid #cab380;
    padding-top: rem(2px);
    margin-top: rem(38px);
    margin-bottom: rem(22px);
}

.calendar__controls {
    display: flex;
    flex-direction: row;
    background-color: #aa8534;
}

.calendar__link {
    height: rem(36px);
    width: rem(36px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:first-child {
        .calendar__link-icon {
            transform: rotate(180deg);
        }
    }

    &:hover {
        background-color: #2e4f96;
        .calendar__link-icon {
            fill: $text_button;
        }
    }
}

.calendar__link-icon {
    height: rem(15px);
    width: rem(9px);
    fill: $text_button;
    transition: .3s;
}

.calendar__month {
    background: none;
    border: initial;
    font-family: $r-r;
    font-size: rem(12px);
    line-height: rem(16px);
    color: $text_button;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: #2e4f96;
        color: $text_button;
    }
}

.calendar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: rem(990px);
}

.calendar__item {
    text-align: center;
    max-height: rem(36px);
}

.calendar__date {
    font-family: $r-r;
    font-size: rem(14px);
    color: rgba($color: $text, $alpha: 0.7);
    line-height: rem(16px);
    transition: .3s;

    &:hover {
        color: rgba($color: $text, $alpha: 1.0); 
    }

    &.active {
        color: rgba($color: $text, $alpha: 1.0); 
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            border: 0.25rem solid transparent;
            border-top-color: #0f1a32;
            border-bottom-width: 0rem;
            transform: translate(-50%, 0);
            bottom: rem(38px);
            transition: .5s;
        }

        &:hover {

            &:after {
                transform: translate(-50%, 0) rotate(180deg); 
            }

            .tooltip {
                transform: translate(-50%, 0) scale(1);
            }
        }
    }
}

.calendar__day {
    font-family: $r-r;
    font-size: rem(10px);
    color: #8c6d2b;
    line-height: rem(16px);
    text-transform: uppercase;
}

.tooltip {
    position: absolute;
    width: rem(280px);
    bottom: rem(75px);
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    transition: .5s;
    background-color: #f3ead7;
    box-shadow: 0px 5px 26.5px 0.5px rgba(0, 0, 0, 0.16);
}

.tooltip__wrap {
    padding: rem(15px) 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        height: rem(12px);
        width: rem(12px);
        background: #f3ead7;
    }

    &:before {
        content: '';
        top: 98%;
        height: rem(60px);
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.tooltip__heading {
    border-bottom: 1px solid #d4c29a;
    padding: 0 rem(15px);
    text-align: left;
    font-family: $r-r;
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: rem(24px);
    letter-spacing: normal;
    color: #00132f;
    padding-bottom: rem(8px);
}

.tooltip__content {
    padding: 0 rem(15px);
    text-align: left;
    font-family: $r-r;
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: rem(18px);
    letter-spacing: normal;
    color: #00132f;
    padding-top: rem(5px);
}