.calendar__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: rem(1px) solid #cab380;
    padding-top: rem(2px);
    margin-top: rem(38px);
    margin-bottom: rem(22px);
    transition: .5s;
}

.calendar__row--hiden {
    
    @include desktop {
        border-top: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        height: 0;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        position: relative;
    }

    &.active {
        height: 280px;
        visibility: visible;
        opacity: 1;
    }
} 

.calendar__controls {
    display: flex;
    flex-direction: row;
    background-color: #aa8534;

    @include desktop {
        margin-left: 15px;
        width: rem(260px);
    }
}

.calendar__link {
    height: rem(36px);
    width: rem(36px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:first-child {
        .calendar__link-icon {
            transform: rotate(180deg);
        }
    }

    &:hover {
        background-color: #2e4f96;
        .calendar__link-icon {
            fill: $text_button;
        }
    }
}

.calendar__link-icon {
    height: rem(15px);
    width: rem(9px);
    fill: $text_button;
    transition: .3s;
}

.calendar__month {
    background: none;
    border: initial;
    font-family: $r-r;
    font-size: rem(12px);
    line-height: rem(16px);
    color: $text_button;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: #2e4f96;
        color: $text_button;
    }

    @include desktop {
        width: calc(100% - 4.5rem);
    }
}

.calendar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: rem(990px);

    @include desktop {
        width: rem(290px);
        height: rem(200px);
        flex-flow: row wrap;
        align-content: stretch;
        padding: 0 rem(15px);
        border-top: 1px solid #d3b47e;
        border-bottom: 1px solid #d3b47e;
        justify-content: initial;
    }
}

.calendar__item {
    text-align: center;
    max-height: rem(36px);

    @include desktop {
        width: rem(37px);
        height: rem(40px);
        line-height: rem(40px);
    }

    .calendar__day {
        @include desktop {
            display: none;
        }
    }
}

.calendar__date {
    font-family: $r-r;
    font-size: rem(14px);
    color: rgba($color: $text, $alpha: 0.7);
    line-height: rem(16px);
    transition: .3s;

    &:hover {
        color: rgba($color: $text, $alpha: 1.0); 
    }

    &.active {
        color: rgba($color: $text, $alpha: 1.0); 
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            border: 0.25rem solid transparent;
            border-top-color: #0f1a32;
            border-bottom-width: 0rem;
            transform: translate(-50%, 0);
            bottom: rem(38px);
            transition: .5s;

            @include desktop {
                display: none;
            }
        }

        /*&:hover {
            &:after {
                transform: translate(-50%, 0) rotate(180deg); 
            }
        }*/
    }
}

.calendar__day {
    font-family: $r-r;
    font-size: rem(10px);
    color: #8c6d2b;
    line-height: rem(16px);
    text-transform: uppercase;
}

.tooltip {
    position: absolute;
    width: rem(280px);
    bottom: calc(100% + 15px);
    left: rem(7.5px);
    transform: scale(0);
    transition: .5s;
    background-color: #f3ead7;
    box-shadow: 0px 5px 26.5px 0.5px rgba(0, 0, 0, 0.16);
    display: none;

    @include desktop {
        display: block;
    }
}

.tooltip__wrap {
    padding: rem(15px) 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        height: rem(12px);
        width: rem(12px);
        background: #f3ead7;
    }

    &:before {
        content: '';
        top: 98%;
        height: rem(60px);
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.tooltip__heading {
    border-bottom: 1px solid #d4c29a;
    padding: 0 rem(15px);
    text-align: left;
    font-family: $r-r;
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: rem(24px);
    letter-spacing: normal;
    color: #00132f;
    padding-bottom: rem(8px);
}

.tooltip__content {
    padding: 0 rem(15px);
    text-align: left;
    font-family: $r-r;
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: rem(18px);
    letter-spacing: normal;
    color: #00132f;
    padding-top: rem(5px);
}

.calendar__week {
    display: none;
    margin-left: rem(15px);

    @include desktop {
        display: block;
    }
}

.calendar__days {
    display: flex;
    flex-direction: row;
}

.calendar__day {

    @include desktop {
        width: rem(37px);
        height: rem(40px);
        line-height: rem(40px);
        text-align: center;
    }
}

.calendar__row--desktop {
    display: none;
    padding-top: 0;
    margin-bottom: rem(11px);

    @include desktop {
        display: block;
    }
}

.calendar__btn-event {
    position: relative;
    background: none;
    border: initial;
    font-size: rem(14px);
    font-family: $r-r;
    line-height: rem(16px);
    color: #00132f;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    border-top: 2px solid transparent;
    padding: rem(15px) 0;
    outline: none;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        border: 0.25rem solid transparent;
        border-top-color: #0f1a32;
        border-bottom-width: 0rem;
        transform: translate(-50%, 0);
        bottom: rem(60px);
        transition: .5s;
    }

    &:hover {
        color: #aa8534;
        border-top: 2px solid #aa8534;
    }

    &.active {
        color: #aa8534;
        border-top: 2px solid #aa8534; 

        &:before {
            transform: translate(-50%, 0) rotate(180deg);
        }
    }
}