.feedback__wrap {
    padding-top: rem(130px);

    @include phones {
        padding-top: rem(20px);
    }
}

.feedback__list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    @include tablets {
        -moz-column-count: initial;
        -webkit-column-count: initial;
        column-count: initial;
    }
}

.feedback__item {
    background-color: $grey;
    padding: rem(34px) rem(80px) rem(37px) rem(56px);
    width: rem(630px);
    position: relative;
    margin: 0 0 rem(20px);
    display: inline-block;

    &:nth-child(even) {
        background-color: $blue;

        .feedback__name {
            color: $w;
        }

        .feedback__position {
            color: $w;
        }

        .feedback__text {
            color: $w;
        }

        .feedback__link {
            border-color: $w;

            &:hover {
                background-color: $w;

                .feedback__btn-text {
                    color: $blue;
                }
        
                .feedback__btn-icon {
                    fill: $blue;
                }
            }
        }

        .feedback__btn-text {
            color: $w;
        }

        .feedback__btn-icon {
            fill: $w;
        }
    }

    @include desktop {
        width: rem(475px);
        padding: rem(30px) rem(45px) rem(30px) rem(35px);
    }

    @include laptop {
        width: rem(365px);
    }

    @include tablets {
        padding: rem(34px) rem(80px) rem(37px) rem(56px);
        width: 100%;
    }

    @include phones-large {
        padding: rem(30px) rem(45px) rem(35px) rem(35px);
    }

    @include phones {
        padding: rem(39px) rem(30px) rem(37px) rem(29px);
    }
}

.feedback__item--with-form {
    background-color: none;
    padding: 0;
}

.feedback__columns {
    display: flex;
    flex-direction: column;
}

.feedback__desc {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include phones {
        padding-right: rem(10px);
    }
}

.feedback__image {
    padding-right: rem(38px);

    @include desktop {
        padding-right: rem(30px);
    }
}

.feedback__avatar {
    height: rem(107px);
    width: rem(107px);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.feedback__content {
    padding-top: rem(21px);
}

.feedback__name {
    font-family: $m-s;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    margin-bottom: rem(10px);
}

.feedback__position {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    margin-bottom: rem(23px);
}

.feedback__block {
    padding-left: rem(144px);

    @include desktop {
        padding-left: rem(137px);
    }

    @include laptop {
        padding-left: 0;
        padding-top: rem(20px);
    }

    @include tablets {
        padding-top: 0;
        padding-left: rem(137px);
    }

    @include phones-large {
        padding-left: 0;
        padding-top: rem(20px);
    }
}

.feedback__text {
    font-family: $m-i;
    font-size: rem(14px);
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    padding-right: rem(25px);

    @include desktop {
        padding-right: 0;
    }

    @include phones {
        font-size: rem(15px);
    }
}