.footer__wrap {
    border-top: 2px solid #e3ebed;
    padding-top: rem(60px);

    @include phones {
        padding-top: rem(29px);
    }
}

.footer__row--main {
    display: flex;
    flex-direction: row;

    @include laptop {
        flex-flow: column wrap;
        align-content: stretch;
        height: 475px;
    }

    @include tablets {
        height: initial;
        flex-flow: initial;
        align-content: initial;
    }

    @include phones {
        padding-top: rem(35px);
    }
}

.footer__row--hide {
    display: none;

    @include tablets {
        display: flex;
        margin-bottom: rem(25px);
        padding-bottom: rem(25px);
        border-bottom: 1px solid $grey;
    }

    @include phones {
        display: none;
    }
}

.footer__row--mobile {
    display: none;

    @include phones {
        display: block;
        border-bottom: 1px solid $grey;
        padding: 0 rem(28px) rem(27px) rem(28px);
    }
}

.footer__contacts {
    width: 25%;

    @include laptop {
        width: 50%;
        height: 50%;
        order: -1;
    }

    @include phones {
        height: initial;
        width: 55%;
    }
}

.footer__link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__pic {
    height: rem(82px);
    width: rem(102px);
    background-image: url('../images/icons/logo-st.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include desktop {
        height: rem(77px);
        width: rem(97px);
    }

    @include phones {
        height: rem(43px);
        width: rem(52px);
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5){
    .footer__pic  {
        background-image: url('../images/icons/logo-retina.png');
    }
} 

.footer__pic-text {
    display: flex;
    flex-direction: column;
    padding-left: rem(20px);

    @include desktop {
        padding-left: rem(17px);
    }
}

.footer__pic-text1 {
    text-transform: uppercase;
    font-family: $gopro;
    color: #3b444e;
    font-size: rem(26px);
    line-height: rem(24px);

    @include desktop {
        font-size: rem(24px);
    }

    @include phones {
        font-size: rem(16px);
        line-height: rem(18px);
    }
}

.footer__pic-text2 {
    text-transform: uppercase;
    font-family: $goprob;    
    color: $green;
    font-size: rem(26px);
    line-height: rem(24px);

    @include desktop {
        font-size: rem(24px);
    }

    @include phones {
        font-size: rem(16px);
        line-height: rem(18px);
    }    
}

.footer__phone {
    margin-top: rem(8px);

    @include phones {
        margin-top: rem(28px);
    }
}

.footer__call {
    font-family: $m-s;
    font-size: rem(20px);
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    transition: .3s;

    &:hover {
        color: $green;
    }

    @include phones {
        font-size: rem(16px);
    }
}

.footer__adress {
    margin-top: rem(5px);

    @include phones {
        margin-top: rem(22px);
    }
}

.footer__desk {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    @include phones {
        font-size: rem(12px);
        font-weight: 600;
    }
}

.footer__metro {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: rem(22px);

    @include phones {
        margin-top: rem(26px);
    }
}

.footer__metro-icon {
    background-image: url('../images/icons/metro.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: rem(23px);
    width: rem(31px);
}

@media all and (-webkit-min-device-pixel-ratio: 1.5){
    .footer__metro-icon  {
        background-image: url('../images/icons/metro-retina.png');
    }
} 

.footer__metro-name {
    font-family: $m-s;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: rem(8px);

    @include phones {
        font-size: rem(12px);
    }
}

.footer__menu {
    display: flex;
    flex-direction: row;
    padding-top: rem(27px);
    width: 60%;
    justify-content: space-between;
    padding-left: rem(42px);

    @include desktop {
        padding-left: rem(30px);
    }

    @include laptop {
        width: 50%;
        height: 100%;
        flex-direction: column;
        flex-flow: column wrap;
        align-content: stretch;
        justify-content: space-between;
        padding-left: 0;
        padding-top: 0;
    }

    @include tablets {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    @include phones {
        flex-direction: column;
    }
}

.footer__menu--hide {
    @include tablets {
        display: none;
    }
}

.footer__col {
    max-width: rem(210px);

    @include laptop {
        max-width: 50%;
    }

    @include tablets {
        max-width: 33.3%;
    }

    @include phones {
        max-width: 100%;

        &.active .footer__subtitle-icon {
            transform: rotate(270deg);
        }

        &:nth-child(2) {
            .footer__subtitle-icon {
                margin-left: rem(23px);
            }
        }
    }
}

.acco__item {
    margin-bottom: rem(10px);

    &:last-child {
        margin-bottom: 0;
    }
}

.acco__item.active {
    .footer__list {
        margin-top: rem(10px);
        margin-bottom: rem(10px);
        opacity: 1;
    }
}

.footer__subtitle {
    font-family: $m-b;
    font-size: rem(13px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    text-transform: uppercase;
    margin-bottom: rem(22px);

    @include phones {
        font-size: rem(15px);
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: rem(2px);
        cursor: pointer;
    }
}

.footer__subtitle-icon {
    @include phones {
        height: rem(23px);
        width: rem(20px);
        display: inline-block;
        transform: rotate(90deg);
        margin-left: rem(40px);
        transition: .5s;
        vertical-align: middle;
    }
}

.footer__list {
    @include phones {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
        width: 59%;
        margin: 0;
        transition: .5s;
        opacity: 0;
    }
}

.footer__item {
    margin-bottom: rem(11px);

    &:last-child {
        margin-bottom: 0;
    }

    @include desktop {
        margin-bottom: rem(10px);
    }
}

.footer__action {
    font-family: $m-r;
    font-size: rem(13px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7d888e;
    transition: .3s;
    text-transform: uppercase;

    &:hover {
        color: $green;
        text-decoration: underline;
    }

    @include desktop {
        font-size: rem(12px);
    }

    @include phones {
        text-transform: inherit;
    }
}

.footer__socials {
    width: 15%;

    @include laptop {
        width: 50%;
        height: 50%;
        order: -1;
    }

    @include phones {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: initial;
        width: 45%;
    }
}

.social__list {
    padding-top: rem(33px);

    @include tablets {
        padding-top: 0;
    }
}

.social__item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(6px);

    &:last-child {
        margin-bottom: 0;
    }

    @include laptop {
        justify-content: flex-start;
    }

    @include tablets {
        justify-content: flex-end;
    }

    @include phones {
        margin-bottom: 0;
        margin-top: rem(19px);
    }
}

.social__item--with-label {
    width: rem(126px);
    float: right;
    display: block;
    margin-top: rem(10px);

    @include laptop {
        float: left;
    }

    @include tablets {
        float: right;
    }

    @include phones {
        float: left;
        margin-top: rem(48px);
    }
}

.social__item--hide {
    @include phones {
        display: none;
    }
}

.social__label {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b1b7ba;
    line-height: 1.2;
    margin-bottom: rem(6px);
}

.social__link {
    width: rem(126px);
    height: rem(32px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $m-r;
    font-size: rem(12px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: rem(0.6px);
    color: #ffffff;
    transition: .3s;
}

.social__link--insta {
    background-image: url('../images/icons/bg-insta.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;

    &:hover {
        color: #fbf200;
    }
}

.social__link--vk {
    background-color: #6996c7;

    &:hover {
        background-color: darken(#6996c7, 10%);
    }
}

.social__link--fb {
    background-color: #496194;

    &:hover {
        background-color: darken(#496194, 10%);
    }
}

.social__link--seo {
    height: rem(49px);
    border: 2px solid #3b444e;
    color: #3b444e;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        background-color: #3b444e;
        color: $w;
    }
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #b9cad3;
    margin-top: rem(24px);
    padding-top: rem(29px);
    padding-bottom: rem(29px);

    @include desktop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
    }

    @include phones {
        margin-top: rem(40px);
        padding-top: rem(27px);
    }
}

.footer__info-col {
    width: 33.3%;

    @include desktop {
        width: initial;

        &:nth-child(3) {
            order: -2;
        }
    
        &:nth-child(2) {
            order: -1;
            margin: rem(5px) 0;
        }
    }

    @include phones {
        width: 100%;

        &:nth-child(3) {
            order: -1;
        }
    }
}

.footer__info-col--mobile {
    display: none;

    @include phones {
        display: block;
    }
}

.footer__copy {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b1b7ba;

    @include desktop {
        text-align: center;
    }

    @include phones {
        text-align: left;
        padding-right: rem(85px);
    }
}

.footer__policy {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #a6cadb;
    transition: .3s;
    display: flex;
    justify-content: center;

    &:hover {
        color: $green;
        text-decoration: underline;
    }

    @include phones {
        justify-content: flex-start;
        margin-bottom: rem(7px);
    }
}

.footer__mail {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #b1b7ba;
    transition: .3s;
    display: flex;
    justify-content: flex-end;

    &:hover {
        color: $green;
        text-decoration: underline;
    }

    @include desktop {
        justify-content: center;
    }

    @include phones {
        justify-content: flex-start;
        margin-bottom: rem(51px);
    }
}