.footer--abs {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 2;
    opacity: 0;
    transition: 1s;

    &.animate {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include phones-large {
        align-items: flex-end;
    }
}

.footer__row--with-line {
    border-bottom: rem(1px) solid rgba($color: #fff, $alpha: 0.3);
    padding-bottom: rem(2px);
    margin-bottom: rem(38px);

    @include desktop {
        margin-bottom: rem(24px);
    }

    @include laptop {
        margin-bottom: rem(21px);
    }

    @include phones {
        margin-bottom: rem(10px);
    }
}

.footer__row--dark {
    background-color: #32270f;
}

.contacts {
    display: flex;
    flex-direction: row;
    width: 50%;

    @include desktop {
        width: 60%;
    }

    @include laptop {
        width: 70%;
    }

    @include tablets {
        width: 85%;
    }

    @include phones-large {
        flex-direction: column;
    }

    @include phones {
        width: 80%;
    }
}

.contacts__mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: rem(10px) rem(8px) rem(10px) rem(10px);
    margin-right: rem(16px);
    transition: .3s;

    &:hover {
        background-color: #f5f7fc;
        
        .contacts__icon-mail {
            fill: #393c42;
        }

        .contacts__text {
            color: #393c42;
        }

        .contacts__link {
            color: #393c42;
        }
    }

    @include phones-large {
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
    }

    @include phones {
        margin-bottom: rem(15px);
    }
}

.contacts__icon-mail {
    height: rem(12px);
    width: rem(16px);
    margin-right: rem(10px);
    fill: #f5f7fc;
    transition: .3s;
}

.contacts__text {
    font-family: $r-r;
    font-size: rem(12px);
    text-transform: uppercase;
    color: #f5f7fc;
    margin-right: rem(4px);
    transition: .3s;

    @include phones {
        display: none;
    }
}

.contacts__link {
    font-family: $r-r;
    font-size: rem(12px);
    color: #f5f7fc;
    transition: .3s;

    @include phones {
        font-size: rem(16px);
    }
}

.contacts__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: rem(10px) rem(8px) rem(10px) rem(10px);
    transition: .3s;

    &:hover {
        background-color: #f5f7fc;
        
        .contacts__icon-phone {
            fill: #393c42;
        }

        .contacts__text {
            color: #393c42;
        }

        .contacts__link {
            color: #393c42;
        }
    }

    @include phones-large {
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
    }
}

.contacts__icon-phone {
    height: rem(14px);
    width: rem(14px); 
    margin-right: rem(10px);
    fill: #f5f7fc;
    transition: .3s;
}

.socials {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include desktop {
        width: 40%;
    }

    @include laptop {
        width: 30%;
    }

    @include tablets {
        width: 15%;
    }

    @include phones {
        width: 20%;
    }
}

.socials__link {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.socials__link--youtube {
    &:hover {
        background-color: #ff0000;

        .socials__icon--youtube {
            fill: #f5f7fc;
        }
    }
}

.socials__link--facebook {
    &:hover {
        background-color: #3b5998;

        .socials__icon--facebook {
            fill: #f5f7fc;
        }
    }
}

.socials__icon {
    transition: .3s;
}

.socials__icon--youtube {
    height: 14px;
    width: 20px;
    fill: #ff0000;
}

.socials__icon--facebook {
    height: 18px;
    width: 18px;
    fill: #3b5998;
}

.footer__row--bottom {
    @include phones {
        flex-direction: column;
        padding-bottom: rem(15px);
        
        .footer__col:first-child {
            order: 1;
            margin-top: rem(5px);
            text-align: center;
        }

        .footer__col {
            width: 100%;
        }

        .footer__partners {
            justify-content: space-around;
        }
    }
}

.footer__copy {
    font-family: $r-i;
    font-size: rem(14px);
    color: $text_button;

    @include phones {
        font-size: rem(16px);
    }
}

.footer__partners {
    display: flex;
    padding: rem(8px) 0;
}

.footer__img {
    margin-left: rem(8px);
    max-height: rem(44px);

    &:first-child {
        margin-left: 0;
    }
}

// Footer on pages

.footer--within {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    background-color: $bg_header;
    z-index: 1;

    .footer__row--with-line {
        border-bottom: 1px solid #cab380;

        @include phones {
            margin-bottom: rem(20px);
        }
    }

    .contacts__icon-mail {
        fill: $text;
    }

    .contacts__text {
        color: $text;
    }

    .contacts__link {
        color: $text;
    }

    .contacts__mail:hover {
        background-color: #2e4f96;
        .contacts__icon-mail {
            fill: $text_button;
        }
    
        .contacts__text {
            color: $text_button;
        }
    
        .contacts__link {
            color: $text_button;
        }
    }

    .contacts__icon-phone {
        fill: $text;
    }

    .contacts__phone:hover {
        background-color: #2e4f96;
        .contacts__icon-phone {
            fill: $text_button;
        }
    
        .contacts__text {
            color: $text_button;
        }
    
        .contacts__link {
            color: $text_button;
        }
    }
}