.popup_call {
    padding: rem(33px) rem(54px);
    padding-bottom: rem(133px);
    width: rem(745px);
    height: rem(400px);
    padding-top: rem(50px);
    background-color: $green;

    .form {
        padding: 0; 
    }
    .wpcf7-form-control.wpcf7-submit {
        bottom: 0;
    }

    @include laptop {
        width: rem(700px);
    }

    @include tablets {
        width: rem(590px);
        height: rem(370px);
        padding: rem(45px) rem(40px) rem(110px) rem(40px);
    }

    @include phones-large {
        width: rem(470px);
        height: rem(430px);
        .form__row--callback:first-child {
            flex-direction: column;
        }
        .form__block {
            margin-right: 0;
        }
    }

    @include phones {
        width: rem(330px);
        height: rem(415px);
        padding: rem(30px) rem(30px) rem(100px) rem(30px);

        .form__block {
            margin-bottom: 0;
        }
    }

}

.title {
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    margin-bottom: 3.57143rem;

    @include phones {
        margin-bottom: rem(40px);
    }
}

.popup_close_call {
    position: absolute;
    top: rem(21px);
    right: rem(21px);
    cursor: pointer;
    height: rem(30px);
    width: rem(30px);
    background-image: url(../images/icons/close-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wpcf7-form-control.wpcf7-select {
    width: 100%;
    height: 100%;
    border: none;
    padding: 1.21429rem 1.78571rem;
}

.popup_wrapper_feedback {
    .form {
        margin: 0;
        padding: 0;
    }
}

.popup_feedback {
    padding: 2.35714rem 3.85714rem;
    padding-bottom: 9.5rem;
    width: 53.21429rem;
    height: 37.64286rem;
    padding-top: 3.57143rem;
    background-color: #49b7ef;

    .wpcf7-form-control.wpcf7-textarea {
        max-height: initial;

        @include phones-large {
            max-height: 9.35714rem;
        }
    }
    .form__columns--ques {
        padding-top: 0;
    }
    .wpcf7-form-control.wpcf7-submit {
        bottom: 0;
    }
    .form__columns--ques {
        flex-direction: row;

        @include phones-large {
            flex-direction: column;
        }
    }

    .form__column--left {
        @include phones-large {
            margin-right: 0;
            width: 100%;
            margin-bottom: 1.42857rem;
        }
    }

    .form__column--right {
        @include phones-large {
            width: 100%;
        }
    }

    @include desktop {
        height: rem(507px);
    }

    @include laptop {
        width: rem(700px);
    }

    @include tablets {
        width: rem(590px);
        padding: rem(45px) rem(40px) rem(110px) rem(40px);
        height: rem(470px);
    }

    @include phones-large {
        width: rem(470px);
        height: rem(590px);
    }

    @include phones {
        width: rem(330px);
        padding: rem(30px) rem(30px) rem(100px) rem(30px);
        height: rem(570px);
    }
}

.popup_close_feedback {
    position: absolute;
    top: rem(21px);
    right: rem(21px);
    cursor: pointer;
    height: rem(30px);
    width: rem(30px);
    background-image: url(../images/icons/close-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.form__row--application {
    p {
        margin: 0;
        display: flex;
    }

    .wpcf7-form-control.wpcf7-submit.sub {
        right: 0;
        border: 1px solid #000000;
        color: $b;
        padding: 1.21429rem 1.64286rem;
        top: 0;
        bottom: 0;

        &:hover {
            background: $green;
            color: $w;
            border-color: $green
        }
    }
}


//// стили тестовые (Петр)
/*call form*/
.call_link {
     position:fixed; 
     right:0px; 
     top:60%; 
     margin-top:0px; 
     cursor:pointer; 
     z-index:60;
}
.popup_bg_call {
    position:absolute; 
    top:0px; 
    left:0px; 
    width:100%; 
    background:rgba(0,0,0,0.7); 
    display:none; 
    z-index:9999; 
    opacity:0;
}
.popup_wrapper_call {
    position:absolute; 
    margin:0; 
    padding:0; 
    list-style:none; 
    z-index:9999;
    top: 0;
    left: 0;
    right: 0;
}
.popup_wrapper_call > li {
    position:absolute; 
    top:10px; 
    left:50%; 
    transform: translate(-50%, 0); 
    display:none; 
    opacity:0;
}
			

/*feedback form*/
.feedback_link {
    position:fixed; 
    right:0px; 
    top:30%; 
    margin-top:0px; 
    cursor:pointer; 
    z-index:60;
}
.popup_bg_feedback {
    position:absolute; 
    top:0px; left:0px; 
    width:100%; 
    background:rgba(0,0,0,0.7); 
    display:none; 
    z-index:9999; 
    opacity:0;
}
.popup_wrapper_feedback {
    position:absolute; 
    top: 0;
    left: 0;
    right: 0; 
    width:100%; 
    margin:0px; 
    padding:0px; 
    list-style:none; 
    z-index:9999;
}
.popup_wrapper_feedback > li {
    position:absolute; 
    top:10px; 
    display:none; 
    opacity:0;
    left: 50%;
    transform: translate(-50%, 0px);
}
		