.gallery {
    padding-top: rem(50px);
    padding-bottom: rem(60px);
    z-index: 1;
}

.gallery__list {
    padding: 0 rem(15px);
    border-top: 1px solid #d4c29a;
    border-bottom: 1px solid #d4c29a;
    display: flex;
    flex-direction: column;
    margin-top: rem(49px);
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    margin-bottom: rem(47px);
}

.gallery__item {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(30px);

    &:last-child {
        margin-bottom: 0;
    }

    @include phones {
        flex-direction: column;
    }
}

.gallery__block {
    width: rem(540px);
    height: rem(360px);
    margin-right: rem(60px);

    &:last-child {
        margin-right: 0;
    }

    @include desktop {
        margin-right: rem(40px);
        width: rem(464px);
        height: auto;
    }

    @include laptop {
        width: rem(400px);
        margin-right: rem(25px);
        height: auto;
    }

    @include tablets {
        width: 48%;
    }

    @include phones {
        width: 100%;
        margin-right: 0;
        margin-bottom: rem(30px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.gallery__pic {
    width: rem(540px);
    height: rem(360px);

    @include desktop {
        width: rem(464px);
        height: auto;
    }

    @include laptop {
        width: rem(400px);
    }

    @include tablets {
        width: 100%;
    }
}