.header {
    display: flex;
    padding-top: rem(15px);
    position: relative;

    @include tablets {
        height: rem(178px);
    }
}

.header__l {
    width: 17%;
    text-align: right;
    position: relative;
    padding-right: rem(4px);

    &:before {
        content: '';
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        top: rem(23px);
        opacity: .3;
        width: 0;
        transition: 1s;
    }

    &.animate {
        &:before {
            width: rem(71px);
        }

        &:after {
            width: rem(71px);
        }
    }
    @include desktop {
        &.animate {
            &:before {
                width: rem(57px);
            }
    
            &:after {
                width: rem(57px);
            }
        }
    }
    @include laptop {
        &.animate {
            &:before {
                width: rem(32px);
            }
    
            &:after {
                width: rem(32px);
            }
        }
    }
    @include tablets {
        width: calc(100% - 64px);
        &.animate {
            &:before {
                width: calc(100% - 64px);
            }
    
            &:after {
                width: calc(100% - 64px);
            }
        }
    }

    &:after {
        content: '';
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        opacity: 0.3;
        bottom: rem(3px);
        width: 0;
        transition: 1s;

        @include tablets {
            bottom: rem(16px);
        }
    }

    &.animate {
        &:before {
            width: rem(71px);
        }

        &:after {
            width: rem(71px);
        }
    }
    @include desktop {
        &.animate {
            &:before {
                width: rem(57px);
            }
    
            &:after {
                width: rem(57px);
            }
        }
    }
    @include laptop {
        &.animate {
            &:before {
                width: rem(32px);
            }
    
            &:after {
                width: rem(32px);
            }
        }
    }
    @include tablets {
        width: calc(100% - 64px);
        &.animate {
            &:before {
                width: calc(100% - 64px);
            }
    
            &:after {
                width: calc(100% - 64px);
            }
        }
    }

    @include tablets {
        width: 50%;
    }
}

.logo__image {
    position: absolute;
    right: rem(4px);
    z-index: 2;
    max-height: rem(146px);

    @include desktop {
        max-height: rem(129px);
    }

    @include tablets {
        transform: translate(50%, 0);
        max-height: rem(178px);
        right: 0;
    }
}

.header__r {
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: rem(26px);
    position: relative;

    &:before {
        content: '';
        height: 1px;
        background: #fff;
        position: absolute;
        opacity: 0.3;
        width: 0;
        transition: 1s;
        
        @include tablets {
            top: rem(23px);
        }
    }

    &.animate {
        &:before {
            width: 100%;
        }
    }

    @include tablets {
        &.animate {
            &:before {
                width: calc(100% - 64px);
            }
        }
    }

    &:after {
        content: '';
        height: 1px;
        background: #fff;
        position: absolute;
        opacity: 0.3;
        bottom: rem(3px);
        width: 0;
        transition: 1s;

        @include tablets {
            bottom: rem(16px);
        }
    }

    &.animate {
        &:after {
            width: 100%;
        }
    }

    @include tablets {
        &.animate {
            &:after {
                width: calc(100% - 64px);
            }
        }
    }

    @include tablets {
        width: 50%;
    }
}

.nav {
    width: rem(134px);
    height: rem(36px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include desktop {
        width: rem(100px);
        height: rem(30px);
    }

    @include tablets {
        width: rem(134px);
        height: rem(36px);
        flex-direction: column;
        align-items: flex-end;
        height: initial;
    }
}

.nav--top {
    margin-top: rem(2px);
}

.nav__search {
    background: none;
    border: initial;
    width: rem(36px);
    padding: 0;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #f5f7fc;

        .nav__search-icon {
            fill: $text;
        }
    }

    @include desktop {
        width: rem(30px);
    }

    @include tablets {
        width: rem(36px);
        height: rem(36px);
        order: 1;
        margin-top: rem(37px);
    }
}

.nav__search-icon {
    max-height: rem(15px);
    max-width: rem(15px);
    fill: #fff;
    transition: .3s;

    @include desktop {
        max-height: rem(13px);
        max-width: rem(13px);
    }

    @include tablets {
        max-height: rem(15px);
        max-width: rem(15px);
    }
}

.lang {
    width: rem(82px);
    display: flex;

    @include desktop {
        width: rem(60px);
    }

    @include tablets {
        width: rem(82px);
        height: rem(41px);
    }
}

.lang__link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-size: rem(12px);
    transition: .3s;

    &.active {
        color: $text;
        background-color: $text_button;    
    }

    &:hover {
        color: $text;
        background-color: #f5f7fc;    
    }

    @include desktop {
        font-size: rem(11px);
    }

    @include tablets {
        font-size: rem(12px);
    }
}

/* Hamburger menu */
.hamburger {
    display: none;
    cursor: pointer;
    height: rem(36px);
    width: rem(36px);
    background: none;
    border: initial;
    position: absolute;
    bottom: rem(20px);
    transition: .3s;
    outline: none;

    @include tablets {
        display: block;
    }

    &:hover {
        background-color: #f5f7fc;

        .hamburger__menu,
        .hamburger__menu::before,
        .hamburger__menu::after {
            background-color: #393c42;
        }
    }
}

.hamburger__menu {
    display: inline-block;
    vertical-align: middle;
    background: #f5f7fc;
    width: rem(14px);
    height: rem(2px);
    position: relative;
    transition: .3s;
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
    
    &::before, &::after {
        -webkit-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0;
        transition-delay: 0.3s, 0;
    }
    
    &:before {
        content: "";
        background: #f5f7fc;
        width: rem(14px);
        height: rem(2px);
        position: absolute;
        top: rem(5px);
        left: 0;
    }

    &:after {
        content: "";
        background: #f5f7fc;
        width: rem(14px);
        height: rem(2px);
        position: absolute;
        bottom: rem(5px);
        left: 0;
    }
}

.hamburger.active {

    &:hover {
        background-color: #f5f7fc;

        .hamburger__menu::before,
        .hamburger__menu::after {
            background-color: #393c42;
        }
    }

    .hamburger__menu {
        background: none;

        &:before {
            background: #f5f7fc;
        }

        &:after {
            background: #f5f7fc;
        }
        
        &::before {
            top: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &::before, &::after {
            -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
        }
    }
}

.menu {
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    
    @include desktop {
        padding-top: rem(15px);
        padding-bottom: rem(15px);
    }

    @include laptop {
        padding-top: rem(16px);
        padding-bottom: rem(16px);
    }

    @include tablets {
        position: absolute;
        top: calc(100% + 20px);
        background: #2a2c32;
        padding: 0;
        transition: .3s;
        transform: translate(-100%, 0);
        opacity: 0;
    }

    &.active {
        transform: translate(0%, 0);
        opacity: .95;
    }
}

.menu__list {
    display: flex;

    .menu__item {
        &:last-child {
            padding-right: 0;
            padding-left: rem(15px);
        }
    }

    @include tablets {
        flex-direction: column;
        align-items: flex-end;
        max-width: 90%;
        margin: 0 auto;
        border-top: rem(1px) solid rgba($color: #fff, $alpha: 0.3);
        position: relative;
        padding-top: rem(29px);
        padding-bottom: rem(29px);
        padding-right: rem(60px);

        &::after {
            content: '';
            width: 1px;
            height: calc(100% - 3rem);
            background: #fff;
            opacity: .3;
            position: absolute;
            right: 24px;
        }
    }
}

.menu__item {
    padding-left: rem(18px); 
    padding-right: rem(18px);

    &.active {
        .menu__link--drop:before {
            transform: rotate(180deg) translate(50%, 0);
        }
        .menu__link--drop::after {
            opacity: 1;
            color: #fcfaf5;
        }
    }

    @include laptop {
        padding-left: rem(11px); 
        padding-right: rem(11px);
    }

    @include tablets {
        padding: rem(11px) 0;
    }
}

.menu__link {
    text-transform: uppercase;
    color: #f5f7fc;
    font-family: $r-r;
    font-size: rem(14px);
    line-height: rem(16px);
    padding-top: rem(18px); 
    padding-bottom: rem(18px); 
    position: relative;

    @include desktop {
        padding-top: rem(13px); 
        padding-bottom: rem(13px);
    }

    &:after {
        content: '';
        height: rem(2px);
        width: rem(30px);
        background: #f3ead7;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        opacity: 0;
        transition: .3s;

        @include desktop {
            bottom: 0;
        }

        @include tablets {
            height: rem(11px);
            width: rem(5px);
            left: initial;
            right: -24px;
            top: 50%;
            transform: translate(0, -50%);
        }

        @include phones {
            right: -20px;
        }
    }

    &.active {
        &::after {
            opacity: 1;
            color: #fcfaf5;
        }
    }

    &:hover {
        &::after {
            opacity: 1;
            color: #fcfaf5;
        } 
    }

    @include desktop {
        font-size: rem(12px);
    }

    @include tablets {
        font-size: rem(17px);
        padding: 0;
    }
}

.menu__link--drop {
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        height: 0;
        width: 0;
        border: rem(4px) solid transparent;
        border-bottom-color: #f5f7fc;
        border-top-width: 0rem;
        bottom: rem(-20px);
        transition: .6s;
        z-index: 2;
        
        @include desktop {
            bottom: rem(-16px);
        }

        @include tablets {
            top: 50%;
            transform: translate(0, -50%) rotate(-90deg);
            right: -44px;
            left: initial;
        }
    }
}

// Dropdown-menu

.drop-down {
    position: absolute;
    width: 100%;
    top: rem(124px);
    background: #2a2d33;
    z-index: -1;
    left: 9999px;
    padding-top: rem(38px);
    padding-bottom: rem(38px);
    opacity: .8;

    &:before {
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        top: -8px;
    }

    @include desktop {
        top: rem(109px);
        padding-top: rem(32px);
        padding-bottom: rem(32px);
    }

    @include laptop {
        padding-top: rem(29px);
        padding-bottom: rem(29px);
    }

    @include tablets {
        top: 0;
        left: initial;
        transition: .3s;
        padding: 0;

        &.active {
            z-index: 3;
            opacity: .99;
        }
    }
}

.drop-menu {
    border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    width: 100%;
    padding-top: rem(30px);
    padding-bottom: rem(38px);
    display: flex;
    flex-direction: row;

    @include desktop {
        padding-top: rem(24px);
        padding-bottom: rem(32px);
    }

    @include tablets {
        flex-direction: column;
        align-items: flex-end;
        border-bottom: none;
    }

    @include phones {
        padding-top: rem(16px);
        padding-bottom: rem(16px);
    }
}

.drop-menu__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: rem(14px) 0;
    margin-bottom: rem(16px);

    @include phones {
        padding: rem(8px) 0;
    }
}

.drop-menu__btn {
    background: none;
    border: initial;
    outline: none;
    padding: 4px;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
        .drop-menu__btn-icon {
            color: #f7f2e6;
        }
    } 
}

.drop-menu__btn-icon {
    height: rem(14px);
    width: rem(14px);
    fill: #f4f6fb;
    transition: .3s;
}

.drop-menu__title {
    text-transform: uppercase;
    font-size: rem(17px);
    font-weight: 400;
    line-height: rem(30px);
    color: #f7f2e6;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.3);
    padding-right: rem(29px);
    margin-right: rem(47px);

    &:after {
        content: '';
        height: 0;
        width: 0;
        border: 0.3rem solid transparent;
        border-bottom-color: #f5f7fc;
        border-top-width: 0rem;
        top: 50%;
        position: absolute;
        transform: translate(0, -50%) rotate(90deg);
        right: 16px;
    }
}

.drop-menu__col {
    width: 33.3%;
    height: 100%;

    @include tablets {
        width: 60%;
        height: initial;
    }

    @include phones-large {
        width: 100%;
    }
}

.drop-menu__subtitle {
    text-transform: uppercase;
    font-family: $r-r;
    font-size: rem(14px);
    color: $text_button;
    margin-bottom: rem(15px);
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        height: 1px;
        width: 100%;
        background: #fff;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        transform: translate(5px, 0);
    }

    @include desktop {
        margin-bottom: rem(10px);
        font-size: rem(13px);
    }

    @include tablets {
        font-size: rem(18px);
        margin-bottom: rem(19px);
        margin-top: rem(5px);
    }
}

.drop-menu__item {
    margin-bottom: rem(15px);

    &:last-child {
        margin-bottom: 0;
    }

    @include desktop {
        margin-bottom: rem(10px);
    }

    @include tablets {
        margin-bottom: rem(16px);
        &:last-child {
            margin-bottom: rem(16px);
        }
    }

    @include phones {
        margin-bottom: rem(8px);
    }
}

.drop-menu__link {
    color: #f5f7fc;
    font-size: rem(16px);
    font-family: $r-r;
    transition: .3s;

    &:hover {
        color: $text_button;
    }

    @include desktop {
        font-size: rem(14px);
    }

    @include tablets {
        font-size: rem(19px);
    }
}

// Header на внутренних страницах 
.header--within {
    padding-bottom: rem(35px);
    background-color: $bg_header;
    flex: 0 0 auto;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    @include tablets {
        height: rem(213px);
    }

    .hamburger {
        .hamburger__menu,
        .hamburger__menu::before,
        .hamburger__menu::after {
            background-color: $button_hover;
        }
    }

    .hamburger:hover {
        background-color: $button_hover;

        .hamburger__menu,
        .hamburger__menu::before,
        .hamburger__menu::after {
            background-color: $text_button;
        }
    }

    .hamburger.active {

        &:hover {
            background-color: $button_hover;
    
            .hamburger__menu::before,
            .hamburger__menu::after {
                background-color: $text_button;
            }
        }
    
        .hamburger__menu {
            background: none;
    
            &:before {
                background: $button_hover;
            }
    
            &:after {
                background: $button_hover;
            }
        }
    }

    .header__l:before,
    .header__l:after,
    .header__r:before,
    .header__r:after {
        background: #d3b47e;
    }

    .nav__search {
        &:hover {
            background-color: $button_hover;
            .nav__search-icon {
                fill: $text_button;
            }
        }
    }

    .nav__search-icon {
        fill: $text;
    }

    .lang__link {
        color: $text;

        &:hover {
            background-color: $button_hover;
            color: $text_button;
        }

        &.active {
            color: $text_button;
            background-color: #aa8534;
        }
    }

    .menu {
        @include tablets {
            background-color: #eee2c8;
            opacity: 1;
            top: calc(100% + 28px);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        }
    }

    .menu__list {
        @include tablets {
            border-top: 1px solid rgba($color: #d3b47e, $alpha: 0.3);
        }
    }
    .menu__list::after {
        @include tablets {
            background: #d3b47e;
        }
    }

    .menu__item.active {
        .menu__link:after {
            background-color: #aa8534;
        }
    }

    .menu__link {
        color: $text;

        &.active {
            color: #aa8534;

            &:after {
                background-color: #aa8534;
            }
        }

        &:hover {
            color: #aa8534;

            &:after {
                background-color: #aa8534;
            }
        }
    }

    .menu__link--drop:before {
        border-bottom-color: $text;
    }

    .drop-down {
        background-color: #f3e3c8;
        opacity: 1;
        padding-top: 0;
        top: rem(161px);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;

        &::before {
            height: rem(60px);
            top: rem(-55px);
        }

        @include desktop {
            top: rem(144px);
        }

        @include tablets {
            top: 0;
        }
    }

    .drop-menu__btn:hover {
        .drop-menu__btn-icon {
            fill: $text_hover;
        }
    }

    .drop-menu__btn-icon {
        fill: $text;
        transition: .3s;
    }

    .drop-menu__title {
        color: $text_hover;
        border-right: 1px solid rgba($color: $text_hover, $alpha: 0.3);
        transition: .3s;

        &:hover {
            color: $text;
        }
    }

    .drop-menu__title:after {
        border-bottom-color: $text;
    }

    .drop-menu {
        border-top: none;
        border-bottom: rem(1px) solid #d3b47e;
    }

    .drop-menu__link {
        color: #00132f;

        &:hover {
            color: #8e6b26;
        }
    }

    .drop-menu__subtitle {
        color: #87621a;

        &::after {
            background: #87621a;
        }
    }
}