.header {
    background-color: $w;
}

.header__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: rem(23px);
    padding-bottom: rem(10px);
}

.header__logo {
    width: 25%;
}

.header__pic {
    max-height: rem(82px);
}

.header__menu {
    width: 50%;
    padding-top: rem(25px);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu__item {
    margin-right: rem(40px);
    position: relative;

    &:hover {
        .dropdown {
            opacity: 1;
            z-index: 10;
        }

        .menu__link {
            color: $green;
        }

        .menu__link--dropdown:before {
            opacity: 1;
        }
    }
}

.menu__link {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    transition: .3s;
    text-transform: uppercase;
    position: relative;
}

.menu__link--dropdown {
    &:before {
        content: '';
        background-image: url('../images/icons/menu-icon.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: rem(24px);
        width: rem(30px);
        opacity: 0.3;
        transition: .5s;
        position: absolute;
        bottom: 100%;
        bottom: calc( 100% + 8px );
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    background-color: $w;
    border: 1px solid $green;
    padding: rem(40px);
    width: rem(292px);
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    top: calc(100% + 12px);
    transition: .4s;

    &:before {
        content: '';
        height: rem(22px);
        width: rem(90px);
        position: absolute;
        bottom: 100%;
        left: 0;
    }
}

.dropdown__item {
    margin-bottom: rem(15px);
}

.dropdown__link {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #7d888e;
    transition: .3s;

    &:hover {
        color: $green;
    }
}

.header__contacts {
    width: 25%;
}

.header__call {
    display: flex;
    align-content: stretch;
    flex-flow: column wrap;
    align-content: flex-end;
    max-height: rem(50px);

    &:hover {
        .header__icon-phone {
            fill: $blue;
        }

        .header__text {
            color: $blue;
        }
    }
}

.header__icon-phone {
    height: rem(45px);
    width: rem(32px);
    transform: rotateY(180deg);
    fill: $green;
    transition: .3s;
    margin-right: rem(22px);
}

.header__number {
    font-family: $m-r;
    font-size: rem(20px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #40c36b;
    transition: .3s;
}