.header {
    background-color: $w;
}

.header__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: rem(23px);
    padding-bottom: rem(10px);
}

.header__logo {
    width: 25%;
}

.header__pic {
    max-height: rem(82px);
}

.header__menu {
    width: 50%;
    padding-top: rem(25px);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu__item {
    margin-right: rem(40px);
    position: relative;

    &:hover {
        .dropdown {
            opacity: 1;
            z-index: 10;
        }

        .menu__link {
            color: $green;
        }

        .drop-btn {
            border-color: $green;
        }

        .drop-btn__box {
            background-color: $green;
        }

        .drop-btn__box:before,
        .drop-btn__box:after {
            background-color: $green;
        }
    }
}

.menu__link {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    transition: .3s;
    text-transform: uppercase;
    position: relative;
}

.drop-btn {
    background: none;
    height: rem(24px);
    width: rem(30px);
    border: 1px solid $grey;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: calc( 100% + 9px );
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.drop-btn__box {
    height: rem(2px);
    width: rem(14px);
    background-color: $grey;
    position: relative;
    transition: .3s;

    &::before {
        content: '';
        height: rem(2px);
        width: rem(14px);
        background-color: $grey;
        position: absolute;
        left: 0;
        bottom: calc(100% + 3px);
        transition: .3s;
    }

    &:after {
        content: '';
        height: rem(2px);
        width: rem(14px);
        background-color: $grey;
        position: absolute;
        left: 0;
        top: calc(100% + 3px);
        transition: .3s;
    }
}

.dropdown {
    background-color: $w;
    border: 1px solid $green;
    padding: rem(40px);
    width: rem(292px);
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    top: calc(100% + 12px);
    transition: .4s;

    &:before {
        content: '';
        height: rem(44px);
        width: rem(90px);
        position: absolute;
        bottom: 100%;
        left: 0;
    }
}

.dropdown__list {
    display: flex;
    flex-direction: column;
}

.dropdown__item {
    margin-bottom: rem(15px);
}

.dropdown__link {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #7d888e;
    transition: .3s;

    &:hover {
        color: $green;
    }
}

.header__contacts {
    width: 25%;
}

.header__call {
    display: flex;
    align-content: stretch;
    flex-flow: column wrap;
    align-content: flex-end;
    max-height: rem(50px);

    &:hover {
        .header__icon-phone {
            fill: $blue;
        }

        .header__text {
            color: $blue;
        }
    }
}

.header__icon-phone {
    height: rem(45px);
    width: rem(32px);
    transform: rotateY(180deg);
    fill: $green;
    transition: .3s;
    margin-right: rem(22px);
}

.header__number {
    font-family: $m-r;
    font-size: rem(20px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #40c36b;
    transition: .3s;
}