.info__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(21px);
}

.info__col-l {
    width: rem(805px);
    height: rem(601px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__desk {
    background-color: $grey;
    padding: rem(22px) rem(60px) rem(33px) rem(52px);
    height: rem(333px);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: rem(85px);
}

.block-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-title__number {
    font-family: $m-r;
    font-size: rem(40px);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c5cccd;   
    margin-right: rem(15px);
}

.block-title__text {
    font-family: $m-b;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    text-transform: uppercase;
}

.info__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: rem(25px);
}

.info__link {
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $b;
    transition: .3s;
    padding: rem(10px) rem(13px) rem(10px) rem(22px);
    position: absolute;
    bottom: rem(34px);

    &:hover {
        background-color: $green;
        border-color: $green;

        .info__btn-text {
            color: $w;
        }

        .info__btn-icon {
            fill: $w;
        }
    }
}

.info__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    transition: .3s;
}

.info__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $b;
    transition: .3s;
}

.info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantage {
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;

    &:hover .advantage__wrap {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.advantage__wrap {
    height: rem(248px);
    width: rem(255px);
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .6s linear;
    -moz-transition: .6s linear;
    -o-transition: .6s linear;
    transition: .6s linear;
}

.advantage__front {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(30px);
    background-color: $grey;
}

.advantage__back {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(30px);
    background: #3b444e;
}

.advantage__text {
    margin-top: rem(28px);
    text-align: center;
}

.advantage__desk {
    font-family: $m-r;
    font-size: rem(12px);
    line-height: rem(23px);
    color: $w;
}

.info__col-r {
    width: rem(455px);
    height: rem(601px);
}

.form {
    height: 100%;
    width: 100%;
    padding: rem(21px) rem(54px);
    position: relative;
    padding-bottom: rem(95px);
}

.form--green {
    background-color: $green;
}

.form--grey {
    background-color: $grey;
}

.form--calc {
    padding-bottom: rem(50px);
}

.block-title__number--light {
    color: rgba($color: $grey, $alpha: 0.4)
}

.block-title__text--light {
    color: $w;
    font-family: $m-r;
}

.form__row--flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(22px);
}

.form__box {
    padding-top: rem(31px);
    display: inline-block;
}

.form__block--flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;

    &:last-child {
        margin-bottom: rem(2px);
        margin-top: rem(8px);
    }
}

.form__block--no-flex {
    display: block;
}

.form__subtitle {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: rem(9px);
}

.form__subtitle--no-margin {
    margin-bottom: rem(-4px);
}

.form__subtitle--dark {
    color: #9dacb4;
}

.form__subtitle--radio {
    margin-bottom: 0;
    margin-right: rem(8px);
}

.form__subtitle--margin-left {
    margin-left: rem(8px);
    margin-bottom: 0;
    color: $b;
}

.form__input {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    padding: rem(17px) rem(25px);
    font-family: $m-r;
    font-size: rem(16px);
    letter-spacing: normal;
    transition: .3s;
    width: 100%;

    &:hover,
    &:focus {
        border: 1px solid $blue;
    }
}

.form__input--short {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    width: rem(225px);
    padding: rem(17px) rem(25px);
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 600;
    letter-spacing: normal;
    background-image: url('../images/icons/input-icon.png');
    background-repeat: no-repeat;
    background-position: 93%;
    transition: .3s;

    &:hover,
    &:focus {
        border: 1px solid $blue;
    }
}

.form__radio-fake {
    width: rem(22px);
    height: rem(22px);
    background: #fff;
    border-radius: 50%;
    position: relative;
}

.form__radio-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(12px);
    height: rem(12px);
    background-color: $blue;
    border-radius: 50%;
    display: none;
}

.form__radio-fake--green:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(12px);
    height: rem(12px);
    background-color: $green;
    border-radius: 50%;
    display: none;
}

.form__radio:checked + .form__radio-fake:after {
    display: block;
}

.form__select input
{
  display: none;
}

.form__select
{
  display: inline-block;
  width: 100%;
  position: relative;
}

.form__select:before
{
  content: "";
  background-image: url('../images/icons/select-icon.png');
  display: inline-block;
  position: absolute;
  top: rem(6px);
  right: rem(6px);
  z-index: 2;
  width: rem(39px);
  height: rem(39px);
  text-align: center;
  line-height: rem(39px);
  cursor: pointer;
}

.form__select input[name="list"]:not(:checked) ~ #text
{
  color: black;
  background: white;
}

.form__select input[name="list"]:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text
{
  background: #eee;
}

.items
{
  display: block;
  min-height: rem(30px);
  position: absolute;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  background: $w;
}

#select:not(:checked) ~ .items
{
  height: rem(52px);
}

.items label
{
  display: none;
  padding: rem(17px) rem(24px);
  padding-right: rem(45px);
  background: white;
  color: $b;
  border-bottom: 1px solid $grey;
  font-family: $m-s;

  &:last-child {
    border-bottom: none;
  }
}

.items label:hover
{
  background: $grey;
  cursor: pointer;
}

.items label.green:hover {
    background-color: $green;
    color: $w;
}

#select:checked ~ .items
{
  padding-top: rem(52px);
}

#select:checked ~ .items label
{
  display: block;
}

.items input:checked + label
{
  display: block!important;
  border: none;
  background: white;
}

#select:checked ~ .bg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.form__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.form__text--dark {
    color: $b;
    margin-top: rem(44px);
    margin-bottom: rem(29px);
}

.form__text--90 {
    width: 90%;
}

.form__text--margin {
    margin-top: rem(97px);
}

.form__link {
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    position: absolute;
    bottom: rem(34px);
    padding: rem(15px);

    &:hover {
        background-color: $w;
        border-color: $w;

        .form__btn-text {
            color: $green;
        }

        .form__btn-icon {
            fill: $green;
        }
    }
}

.form__button {
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    position: absolute;
    bottom: rem(34px);
    padding: rem(15px);
    background: none;
    cursor: pointer;

    &:hover {
        background-color: $w;
        border-color: $w;

        .form__btn-text {
            color: $green;
        }

        .form__btn-icon {
            fill: $green;
        }
    }
}

.form__button--calc {
    padding: rem(10px) rem(15px);
    bottom: rem(61px);
}

.form__button--dark {
    border: 1px solid $b;

    &:hover {
        background-color: $green;
        border-color: $green;

        .form__btn-text--dark {
            color: $w;
        }

        .form__btn-icon--dark {
            fill: $w;
        }
    }
}

.form__link--second {
    bottom: rem(50px);
}

.form__button--second {
    bottom: rem(50px);
}

.form__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;
}

.form__btn-text--dark {
    color: $b;
}

.form__btn-text--bold {
    font-family: $m-b;
}

.form__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;
}

.form__btn-icon--dark {
    fill: $b;
}

