.content__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(54px);
}

.regions {
    width: rem(805px);
    height: rem(498px);
    background-color: $grey;
    padding: rem(22px) rem(53px);
}

.regions__columns {
    display: flex;
    flex-direction: row;
    margin-top: rem(30px);
}

.regions__col {
    width: 25%;
    display: flex;
    justify-content: center;

    &:nth-child(1) {
        justify-content: flex-start;
    }
}

.regions__item {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(12px);
}

.regions__letter {
    font-family: $m-s;
    font-size: rem(14px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #9dacb4;
    text-transform: uppercase;
    margin-right: rem(12px);
}

.regions__city {
    display: flex;
    flex-direction: column;
    padding-top: rem(2px);
}

.regions__object {
    font-family: $m-r;
    font-size: rem(13px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid transparent;
    transition: .3s;

    &:hover {
        color: $green;
        border-color: $green;
    }
}

.reviews {
    width: rem(455px);
    height: rem(498px);
    background-color: $blue;
    padding: rem(21px) rem(28px) rem(20px) rem(55px);
}

.reviews__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reviews__desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: rem(35px);
    margin-bottom: rem(35px);
}

.reviews__image {
    margin-right: rem(22px);
}

.reviews__avatar {
    height: rem(107px);
    width: rem(107px);
    border-radius: 50%;
    background-image: url('../images/pic/avatar.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.reviews__name {
    font-family: $m-s;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: rem(10px);
}

.reviews__position {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.reviews__text {
    font-family: $m-i;
    font-size: rem(14px);
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-right: rem(25px);
}

.reviews__link {
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    padding: rem(10px) rem(13px) rem(10px) rem(22px);
    position: absolute;
    bottom: rem(34px);

    &:hover {
        background-color: $w;
        border-color: $w;

        .reviews__btn-text {
            color: $blue;
        }

        .reviews__btn-icon {
            fill: $blue;
        }
    }
}

.reviews__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;
}

.reviews__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;
}