.info__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(21px);

    @include laptop {
        flex-direction: column;
    }

    @include phones {
        padding-top: rem(12px);
    }
}

.info__col-l {
    width: rem(805px);
    height: rem(601px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
        width: rem(635px);
        height: rem(490px);
    }

    @include laptop {
        width: 100%;
        height: rem(528px);
        margin-bottom: rem(35px);
    }

    @include tablets {
        height: rem(475px);
    }

    @include phones-large {
        height: initial;
    }

    @include phones {
        padding-top: rem(19px);
        margin-bottom: rem(20px);
    }
}

.info__row {
    @include phones-large {
        &:first-child {
            margin-bottom: rem(15px);
        }
    }

    @include phones {
        &:first-child {
            margin-bottom: rem(21px);
        }
    }
}

.info__desk {
    background-color: $grey;
    padding: rem(22px) rem(60px) rem(33px) rem(52px);
    height: rem(333px);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: rem(85px);

    @include desktop {
        height: rem(273px);
        padding: rem(22px) rem(40px) rem(65px) rem(40px);
    }

    @include phones-large {
        height: initial;
        padding-bottom: rem(88px);
    }

    @include phones {
        padding: rem(24px) rem(25px) rem(101px) rem(30px);
    }
}

.block-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-title--hide {
    display: none;

    @include phones {
        display: flex;
    }
}

.block-title--visible {
    @include phones {
        display: none;
    }
}

.block-title--with-margin {
    margin-bottom: rem(50px);

    @include desktop {
        margin-bottom: rem(30px);
    }

    @include phones {
        margin-bottom: rem(50px);
    }
}

.block-title__number {
    font-family: $m-r;
    font-size: rem(40px);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c5cccd;   
    margin-right: rem(15px);

    &:empty {
        margin-right: 0;
    }

    @include desktop {
        font-size: rem(35px);
        margin-right: rem(10px);
    }

    @include phones {
        font-size: rem(40px);
    }
}

.block-title__text {
    font-family: $m-b;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: $b;
    text-transform: uppercase;

    @include desktop {
        font-size: rem(13px);
    }

    @include phones {
        font-size: rem(14px);
    }
}

.info__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: rem(25px);

    @include desktop {
        margin-top: rem(17px);
        height: rem(95px);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include phones {
        height: initial;
        font-size: rem(15px);
        line-height: 1.55;
        margin-top: rem(23px);
    }
}

.info__link {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $b;
    transition: .3s;
    padding: rem(10px) rem(13px) rem(10px) rem(22px);
    position: absolute;
    bottom: rem(34px);

    &:hover {
        background-color: $green;
        border-color: $green;

        .info__btn-text {
            color: $w;
        }

        .info__btn-icon {
            fill: $w;
        }
    }

    @include desktop {
        padding: rem(9px) rem(11px) rem(9px) rem(20px);
    }
}

.info__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    transition: .3s;
}

.info__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $b;
    transition: .3s;
}

.info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }
}

.info__item {
    @include phones {
        margin-bottom: rem(20px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.advantage {
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;

    &:hover .advantage__wrap {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);

        @include tablets {
            transform: none;
        }
    }

    @include tablets {
        &.active .advantage__wrap {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
    }
}

.advantage__wrap {
    height: rem(248px);
    width: rem(255px);
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .6s linear;
    -moz-transition: .6s linear;
    -o-transition: .6s linear;
    transition: .6s linear;

    @include desktop {
        width: rem(202px);
        height: rem(202px);
    }

    @include laptop {
        width: rem(240px);
        height: rem(240px);
    }

    @include tablets {
        width: rem(187px);
        height: rem(187px);
    }

    @include phones-large {
        width: rem(147px);
        height: rem(147px);
    }

    @include phones {
        width: 100%;
        height: rem(269px);
    }
}

.advantage__front {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(30px);
    background-color: $grey;

    @include desktop {
        padding: rem(25px);
    }
}

.advantage__icon {
    height: rem(92px);
    width: auto;

    @include desktop {
        height: rem(92px);
        width: auto;
    }

    @include tablets {
        height: rem(75px);
        width: auto;
    }

    @include phones-large {
        height: rem(60px);
    }

    @include phones {
        height: rem(92px);
        width: auto;
    }
}

.advantage__back {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(30px);
    background: #3b444e;

    @include desktop {
        padding: rem(25px);
    }

    @include phones-large {
        padding: rem(12px);
    }

    @include phones {
        padding: rem(30px);
    }
}

.advantage__text {
    margin-top: rem(28px);
    text-align: center;

    @include desktop {
        margin-top: rem(20px);
    }

    @include phones-large {
        margin-top: rem(10px);
        font-size: rem(12px);
    }

    @include phones {
        font-size: rem(17px);
        margin-top: rem(22px);
    }
}

.advantage__desk {
    font-family: $m-r;
    font-size: rem(12px);
    line-height: rem(23px);
    color: $w;

    @include desktop {
        line-height: rem(19px);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include tablets {
        font-size: rem(11px);
        line-height: rem(20px);
    }

    @include phones {
        font-size: rem(16px);
        line-height: rem(23px);
    }
}

.info__col-r {
    width: rem(455px);
    height: rem(601px);

    @include desktop {
        width: rem(320px);
        height: rem(490px);
    }

    @include laptop {
        width: 100%;
    }

    @include phones {
        order: -1;
        height: initial;
    }
}

.form {
    height: 100%;
    width: 100%;
    padding: rem(21px) rem(54px);
    position: relative;
    padding-bottom: rem(95px);

    @include desktop {
        padding: rem(21px) rem(40px); 
    }

    @include phones {
        padding: rem(23px) rem(25px) rem(131px) rem(29px);
    }
}

.form--green {
    background-color: $green;
}

.form--grey {
    background-color: $grey;
}

.form--calc {
    padding-bottom: rem(50px);

    @include desktop {
        padding: rem(21px) rem(30px) rem(40px) rem(30px); 
    }

    @include laptop {
        padding-bottom: rem(106px);
    }

    @include tablets {
        padding-bottom: rem(90px);
    }

    @include phones {
        padding-right: rem(25px);
        padding-bottom: rem(110px);
    }
}

.form--feedback {
    padding: rem(33px) rem(54px);
    padding-bottom: rem(133px);

    @include desktop {
        padding: rem(30px) rem(40px) rem(110px) rem(40px);
    }

    @include phones {
        padding: rem(34px) rem(25px) rem(123px) rem(28px);
    }
}

.block-title__number--light {
    color: rgba($color: $grey, $alpha: 0.4)
}

.block-title__text--light {
    color: $w;
    font-family: $m-r;
}

.form__row {
    position: relative;
}

.form__row--flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(22px);

    @include desktop {
        margin-bottom: rem(17px);
    }

    @include phones {
        margin-bottom: rem(23px);
    }
}

.form__row--flex-start {
    justify-content: flex-start;
}

.form__row--selects {
    margin-bottom: rem(68px);

    &:last-child {
        margin-bottom: 0;
    }
}

.form__row--application {
    padding-right: rem(252px);
    position: relative;

    @include laptop {
        padding-right: 0;

        .form__block:nth-child(2) {
            margin-right: 0;
        }
    }

    @include phones-large {
        flex-direction: column;

        .form__block {
            margin-bottom: rem(15px);
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }    
}

.form__row--check {

    @include phones-large {
        flex-flow: row wrap;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        .form__block {
            width: 35%;
            flex: initial;
            margin-right: 0;
            margin-bottom: rem(30px);
        }
    }

    @include phones {
        .form__block {
            width: 45%;
        }
    }
        
}

.form__box {
    padding-top: rem(31px);
    display: inline-block;

    @include desktop {
        padding-top: rem(15px);
    }
}

.form__box--100 {
    @include phones-large {
        width: 100%;
    }

    @include phones {
        padding-top: rem(31px);
    }
}

.form__box--hide {
    @include desktop {
        display: none;
    }

    @include laptop {
        display: block;
    }

    @include phones-large {
        display: none;
    }
}

.form__box--abs {
    display: none;
    position: absolute;
    padding-top: 0;
    flex-direction: row;
    bottom: rem(11px);
    right: rem(8px);

    @include desktop {
        display: flex;
    }

    @include laptop {
        display: none;
    }

    @include phones-large {
        display: flex;
    }
}

.form__block--flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;

    &:last-child {
        margin-bottom: rem(2px);
        margin-top: rem(8px);
    }
}

.form__block--no-flex {
    display: block;
}

.form__subtitle {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: rem(9px);
    
    @include desktop {
        margin-bottom: rem(5px);
    }
}

.form__subtitle--no-margin {
    margin-bottom: rem(-4px);
}

.form__subtitle--dark {
    color: #9dacb4;
}

.form__subtitle--radio {
    margin-bottom: 0;
    margin-right: rem(8px);
}

.form__subtitle--margin-left {
    margin-left: rem(8px);
    margin-bottom: 0;
    color: $b;
}

.form__subtitle--application {
    color: $b;
    font-size: rem(16px);

    @include phones {
        font-size: rem(15px);
    }
}

.form__subtitle--hide-mobile {
    @include phones-large {
        display: none;
    }
}

.form__input {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    padding: rem(17px) rem(25px);
    font-family: $m-r;
    font-size: rem(16px);
    letter-spacing: normal;
    transition: .3s;
    width: 100%;
    border-radius: 0;

    &:hover,
    &:focus {
        border: 1px solid $blue;
    }
}

.form__input--feedback {
    font-size: rem(13px);
    padding: rem(14px) rem(17px);

    @include phones {
        font-size: rem(15px);
    }
}

.wpcf7-form-control.wpcf7-text {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    padding: rem(17px) rem(25px);
    font-family: $m-r;
    font-size: rem(16px);
    letter-spacing: normal;
    transition: .3s;
    width: 100%;

    &:hover,
    &:focus {
        border: 1px solid $blue;
    }
}

.form__input--short {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    width: rem(225px);
    padding: rem(17px) rem(25px);
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 600;
    letter-spacing: normal;
    background-image: url('../images/icons/input-icon.png');
    background-repeat: no-repeat;
    background-position: 93%;
    transition: .3s;

    &:hover,
    &:focus {
        border: 1px solid $blue;
    }

    @include desktop {
        width: 100%;
        background-image: none;
        padding-right: rem(110px);
    }

    @include laptop {
        background-image: url('../images/icons/input-icon.png');
    }

    @include phones-large {
        background-image: none;
    }
}

.form__radio-fake {
    width: rem(22px);
    height: rem(22px);
    background: #fff;
    border-radius: 50%;
    position: relative;
}

.form__radio-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(12px);
    height: rem(12px);
    background-color: $blue;
    border-radius: 50%;
    display: none;
}

.form__radio-fake--abs {
    height: rem(38px);
    width: rem(38px);
    background: $grey;
    border-radius: 0;
    font-family: $m-s;
    font-size: rem(17px);
    color: #7d888e;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: 'ар';
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-family: $m-s;
        font-size: rem(17px);
        color: $w;
        text-align: center;
        line-height: rem(38px);
    }
}

.form__radio-fake--abs2 {
    height: rem(38px);
    width: rem(38px);
    background: $grey;
    border-radius: 0;
    font-family: $m-s;
    font-size: rem(17px);
    color: #7d888e;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: 'м';
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-family: $m-s;
        font-size: rem(17px);
        color: $w;
        text-align: center;
        line-height: rem(38px);
    }
}

.form__radio-fake--m

.form__radio-fake--green:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(12px);
    height: rem(12px);
    background-color: $green;
    border-radius: 50%;
    display: none;
}

.form__radio-fake--square {
    line-height: rem(52px);
    width: rem(52px);
    height: rem(52px);
    border-radius: 0;
    text-align: center;
    color: $b;
    font-family: $m-s;
    font-size: rem(16px);
    font-weight: normal;
    z-index: 1;
}

.form__radio:checked + .form__radio-fake--square {
    color: $w;
}

.form__radio:checked + .form__radio-fake--square:after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: $green;
    z-index: -1;
}

.form__radio:checked + .form__radio-fake:after {
    display: block;
}
// select fence-type
.form__select input {
  display: none;
}

.form__select {
  display: inline-block;
  width: 100%;
  position: relative;
}

.form__select:before {
  content: "";
  background-image: url('../images/icons/select-icon.png');
  display: inline-block;
  position: absolute;
  top: rem(6px);
  right: rem(6px);
  z-index: 2;
  width: rem(39px);
  height: rem(39px);
  text-align: center;
  line-height: rem(39px);
  cursor: pointer;

  @include desktop {
      width: rem(38px);
      height: rem(38px);
      top: rem(7px);
      right: rem(5px);
  }
}

.form__select input[name="fence-type"]:not(:checked) ~ #text {
  color: black;
  background: white;
}

.form__select input[name="fence-type"]:checked ~ #text {
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text {
  background: #eee;
}

.items {
  display: block;
  min-height: rem(30px);
  position: absolute;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  background: $w;
  z-index: 1;
}

#select:not(:checked) ~ .items {
  height: rem(52px);
}

.items label {
  display: none;
  padding: rem(17px) rem(24px);
  padding-right: rem(45px);
  background: white;
  color: $b;
  border-bottom: 1px solid $grey;
  font-family: $m-s;

  &:last-child {
    border-bottom: none;
  }

  @include desktop {
      font-size: rem(12px);
      padding-right: rem(40px);
      padding-left: rem(15px);
  }
}

.text {
  padding: rem(17px) rem(24px);
  padding-right: rem(45px);
  background: white;
  color: $b;
  font-family: $m-s;
  position: absolute;
  width: 100%;
  display: block;
  top: 0;

  @include desktop {
    font-size: rem(12px);
    padding-right: rem(40px);
    padding-left: rem(15px);
  }
}

.items label:hover {
  background: $grey;
  cursor: pointer;
}

#select:checked ~ .items {
  padding-top: rem(52px);
  max-height: rem(320px);
  overflow: auto;

  @include desktop {
    max-height: rem(210px);
  }
}

#select:checked ~ .items label {
  display: block;
}

.items input:checked + label {
  display: block!important;
  border: none;
  background: white;
}

#select:checked ~ .bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
// select fence-type end

.form__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;


}

.form__text--dark {
    color: $b;
    margin-top: rem(44px);
    margin-bottom: rem(29px);

    @include desktop {
        margin-top: rem(30px);
        margin-bottom: rem(29px);
    }
}

.form__text--90 {
    padding-right: rem(90px);

    @include desktop {
        padding-right: 0;
    }

    @include phones-large {
        margin-top: 0;
    }

    @include phones {
        font-size: rem(15px);
    }
}

.form__text--margin {
    margin-top: rem(97px);

    @include desktop {
        margin-top: rem(70px);
        height: rem(95px);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include phones {
        margin-top: rem(93px);
        height: initial;
        font-size: rem(15px);
    }
}

.form__text--resize {
    padding-left: rem(52px);

    @include desktop {
        padding-left: rem(40px);
    }

    @include laptop {
        padding-left: 0;
    }

    @include phones {
        display: none;
    }
}

.form__link {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    position: absolute;
    bottom: rem(34px);
    padding: rem(15px);
    max-width: rem(277px);

    &:hover {
        background-color: $w;
        border-color: $w;

        .form__btn-text {
            color: $green;
        }

        .form__btn-icon {
            fill: $green;
        }
    }

    @include desktop {
        padding: rem(12px) rem(8px);
    }

    @include phones {
        padding: rem(15px) rem(26px);
        background-color: $w;
        border-color: $w;

        .form__btn-text {
            color: $green;
        }

        .form__btn-icon {
            fill: $green;
        }
    }
}

.form__button {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    position: absolute;
    bottom: rem(34px);
    padding: rem(15px);
    background: none;
    cursor: pointer;

    &:hover {
        background-color: $w;
        border-color: $w;

        .form__btn-text {
            color: $green;
        }

        .form__btn-icon {
            fill: $green;
        }
    }

    @include desktop {
        padding: rem(10px) rem(17px);
    }

    @include phones {
        padding: rem(14px) rem(14px);
    }
}

.lenght__button {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    position: absolute;
    bottom: rem(34px);
    padding: rem(10px) rem(17px);
    background: none;
    cursor: pointer;

    &:hover {
        background-color: $w;
        border-color: $w;

        .lenght__btn-text {
            color: $blue;
        }

        .lenght__btn-icon {
            fill: $blue;
        }
    }

    @include phones {
        bottom: rem(40px);
    }
}

.wpcf7-form-control.wpcf7-submit {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    position: absolute;
    bottom: rem(34px);
    padding: rem(15px);
    background: none;
    cursor: pointer;
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;

    &:hover {
        background-color: $w;
        border-color: $w;
        color: $green;
    }
}

.wpcf7 form .wpcf7-not-valid-tip {
    display: none;
}

.wpcf7 form .wpcf7-not-valid {
    border: 1px solid #F81111 !important;
}

.action_wrap div.wpcf7-response-output{
    margin-top: 85px !important;
}

div.wpcf7-response-output {
    font: 16px 'OpenSans';
    position: absolute;
    margin: 0 !important;
    background: #fff;
}

div.wpcf7 img.ajax-loader {
    position: absolute;
}

.form__button--calc {
    padding: rem(10px) rem(15px);
    bottom: rem(61px);

    @include laptop {
        bottom: rem(41px);
    }
}

.form__button--dark {
    border: 1px solid $b;

    &:hover {
        background-color: $green;
        border-color: $green;

        .form__btn-text--dark {
            color: $w;
        }

        .form__btn-icon--dark {
            fill: $w;
        }
    }
}

.form__link--second {
    bottom: rem(50px);
}

.form__button--second {
    bottom: rem(50px);
}

.form__button--feedback {
    bottom: rem(42px);
}

.form__button--application {
    right: 0;
    bottom: 0;
    border: 1px solid $b;
    padding: rem(17px) rem(23px);

    &:hover {
        background-color: $green;
        border-color: $green;

        .form__btn-text--dark {
            color: $w;
        }

        .form__btn-icon--dark {
            fill: $w;
        }
    }

    @include laptop {
        bottom: rem(-70px);
    }

    @include tablets {
        padding: rem(12px) rem(23px);
        bottom: rem(-60px);
    }

    @include phones-large {
        right: initial;
        left: 0;
    }
}

.form__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;
}

.lenght__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;
}

.form__btn-text--dark {
    color: $b;
}

.form__btn-text--bold {
    font-family: $m-b;
}

.form__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;

    @include phones {
        height: rem(17px);
    }
}

.lenght__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;
}

.form__btn-icon--dark {
    fill: $b;
}

