.hero__wrap {
    width: 50%;
    padding-top: rem(115px);
}

.section__title {
    font-family: $m-r;
    font-size: rem(50px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.hero__desk {
    font-family: $m-r;
    font-size: rem(25px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: rem(49px);
}