.section__under {
    width: 100%;
    height: rem(688px);
    position: absolute;
    top: 0;

    @include desktop {
        height: rem(600px);
    }

    @include laptop {
        height: rem(440px);
    }

    @include phones {
        height: rem(380px);
    }
}

.section__under--contacts {
    height: rem(491px);
}

.section__under-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.section__image-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: $blue, $alpha: 0.2)
}

.section__image-wrap--darken {
    background-color: rgba(59, 68, 78, 0.5);
}