.content__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: rem(54px);

    @include laptop {
        flex-direction: column;
    }

    @include tablets {
        padding-top: rem(35px);
    }
}

.regions {
    width: rem(805px);
    height: rem(498px);
    background-color: $grey;
    padding: rem(22px) rem(53px);

    @include desktop {
        padding: rem(22px) rem(40px);
        height: rem(450px);
    }

    @include laptop {
        width: 100%;
        margin-bottom: rem(35px);
        height: initial;
    }
}

.regions__columns {
    display: flex;
    flex-direction: row;
    margin-top: rem(30px);

    @include desktop {
        margin-top: rem(8px);
    }

    @include phones-large {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        display: inline-block;
    }
}

.regions__col {
    width: 25%;
    display: flex;
    justify-content: center;

    &:nth-child(1) {
        justify-content: flex-start;
    }

    @include phones-large {
        display: inline-block;
        width: 50%;
    }
}

.regions__item {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(12px);

    @include desktop {
        margin-bottom: rem(10px);
    }
}

.regions__letter {
    font-family: $m-s;
    font-size: rem(14px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #9dacb4;
    text-transform: uppercase;
    margin-right: rem(12px);
}

.regions__city {
    display: flex;
    flex-direction: column;
    padding-top: rem(2px);
}

.regions__object {
    font-family: $m-r;
    font-size: rem(13px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid transparent;
    transition: .3s;
    //width: intrinsic;
    //width: -moz-max-content;
    //width: -webkit-max-content;

    &:hover {
        color: $green;
        border-color: $green;
    }
}

.reviews {
    width: rem(455px);
    height: rem(498px);
    background-color: $blue;
    padding: rem(21px) rem(28px) rem(85px) rem(55px);

    @include desktop {
        padding: rem(21px) rem(28px) rem(85px) rem(40px);
        height: rem(450px);
    }

    @include laptop {
        width: 100%;
        height: initial;
        padding-bottom: rem(100px);
    }

    @include phones {
        padding: rem(23px) rem(26px) rem(100px) rem(28px);
    }
}

.reviews__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reviews__item {
    display: none;
    flex-direction: column;

    &.selected {
        display: flex;
    }

    @include laptop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @include phones-large {
        flex-direction: column;
    }
}

.reviews__desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: rem(35px);
    margin-bottom: rem(35px);

    @include desktop {
        margin-top: rem(15px);
        margin-bottom: rem(15px);
    }

    @include laptop {
        order: 1;
        width: 32%;
        margin-top: rem(25px);
        margin-bottom: rem(25px);
    }

    @include tablets {
        width: 40%;
    }

    @include phones-large {
        order: 0;
        width: 100%;
        margin-top: rem(35px);
        margin-bottom: rem(35px);
    }

    @include phones {
        margin-bottom: rem(27px);
    }
}

.reviews__image {
    margin-right: rem(22px);
    height: rem(107px);
    width: rem(107px);
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.reviews__avatar {
    height: rem(107px);
    width: rem(107px);
    border-radius: 50%;
    position: relative;
}

.reviews__name {
    font-family: $m-s;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: rem(10px);
}

.reviews__position {
    font-family: $m-r;
    font-size: rem(14px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.reviews__text {
    font-family: $m-i;
    font-size: rem(14px);
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-right: rem(25px);

    @include desktop {
        padding-right: 0;
    }

    @include laptop {
        width: 68%;
        padding-right: rem(50px);
    }

    @include tablets {
        width: 60%;
        padding-right: rem(35px);
        padding-top: rem(15px);
    }

    @include phones-large {
        width: 100%;
        padding-top: 0;
    }

    @include phones {
        line-height: 1.715;
    }
}

.reviews__link {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    padding: rem(10px) rem(13px) rem(10px) rem(22px);
    position: absolute;
    bottom: rem(34px);

    &:hover {
        background-color: $w;
        border-color: $w;

        .reviews__btn-text {
            color: $blue;
        }

        .reviews__btn-icon {
            fill: $blue;
        }
    }
}

.feedback__link {
    //width: intrinsic;         
    //width: -moz-max-content;  
    //width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $b;
    transition: .3s;
    padding: rem(10px) rem(13px) rem(10px) rem(22px);
    margin-top: rem(32px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    
    &:hover {
        background-color: $green;
        border-color: $green;

        .feedback__btn-text {
            color: $w;
        }

        .feedback__btn-icon {
            fill: $w;
        }
    }
}

.reviews__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;
}

.feedback__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $b;
    transition: .3s;
}

.reviews__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;
}

.feedback__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $b;
    transition: .3s;
}