.projects {

}

.projects__wrap {
    display: flex;
    flex-direction: row;
    margin-top: rem(54px);
    height: rem(496px);
}

.projects__col-l {
    width: rem(530px);
    height: 100%;
}

.projects__box {
    padding-top: rem(22px);
    padding-left: rem(53px);
    padding-right: rem(26px);
    padding-bottom: rem(22px);
    height: 50%;
}

.projects__box--blue {
    background-color: $blue;
}

.projects__box--no-padings {
    padding: 0;
}

.projects__box-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-right: rem(83px);
    margin-top: rem(30px);
}

.carousel {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel__list {
    height: 100%;
    width: 100%;
}

.carousel__item {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel__image {
    height: 100%;
    width: 100%;
}

.carousel__image-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 68, 78, 0.55);
    padding: rem(28px) rem(25px) rem(20px) rem(53px);
}

.carousel__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: rem(33px);
}

.carousel__question {
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: rem(10px);
}

.carousel__question-color {
    color: $green;
    font-weight: 600;
}

.carousel__sticky-inner {

}

.carousel__sticky-inner {
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding: rem(8px) rem(18px);
    background-color: $green;
}

.carousel__title {
    font-family: $m-b;
    font-size: rem(22px);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.carousel__title-color {
    color: $green;
}

.carousel__link {
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $w;
    transition: .3s;
    position: absolute;
    bottom: rem(29px);
    padding: rem(9px) rem(17px);

    &:hover {
        background-color: $green;
        border-color: $green;

        .carousel__btn-text {
            color: $w;
        }

        .carousel__btn-icon {
            fill: $w;
        }
    }
}

.carousel__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $w;
    transition: .3s;
}

.carousel__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;
}

.projects__col-r {
    width: rem(750px);
    height: 100%;
}

.projects__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    display: none;

    &.selected {
        display: flex;
    }
}

.projects__item {
    width: 33.33%;
    height: 50%;
    position: relative;
}

.gallery {
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: .7s;
    top: 0;
    left: 0;

    &:hover .gallery__wrap {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.gallery--visible {
    z-index: 1;
    opacity: 1;
    position: absolute;

    &.hide {
        z-index: -1;
        opacity: 0;
    }
}

.gallery--hide {
    z-index: -1;
    opacity: 0;

    &.visible {
        z-index: 1;
        opacity: 1;
    }
}

.gallery--instagram {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: rem(20px) rem(30px);

    &:before {
        content: '';
        position: absolute;
        width: 88%;
        height: 88%;
        background: transparent;
        border: 1px solid #fff;
        transition: .3s;
    }

    &:hover { 
        &:before {
            border-color: #fbf200;
        }
        .gallery__text--instagram {
            color: #fbf200;
        }

        .gallery__icon--instagram {
            fill: #fbf200;
        }
    }
}

.gallery__wrap {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .6s linear;
    -moz-transition: .6s linear;
    -o-transition: .6s linear;
    transition: .6s linear;
}

.gallery__front {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(29px) rem(35px);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.gallery__back {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(29px) rem(35px);
    background: #3b444e;
}

.gallery__pic {
    text-align: center;
}

.gallery__icon {
    height: rem(63px);
    width: rem(60px);
    fill: #7d888e;
}

.gallery__icon--instagram {
    height: rem(50px);
    width: rem(50px);
    margin-bottom: rem(15px);
    fill: $w;
    transition: .3s;
}

.gallery__text {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.gallery__text--instagram {
    text-align: center;
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 500;
    line-height: 1.25;
    transition: .3s;
}

.gallery__meta {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: rem(38px);
}

.gallery__object {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #7d888e;
    margin-right: rem(22px);
}

.gallery__view {
    width: intrinsic;         
    width: -moz-max-content;  
    width: -webkit-max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;

    &:hover {
        border-color: $blue;

        .gallery__btn-text {
            color: $blue;
        }

        .gallery__btn-icon {
            fill: $blue;
        }
    }
}

.gallery__btn-text {
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: $green;
    transition: .3s;
}

.gallery__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $green;
    transition: .3s;
}
