.hero {
    @include phones {
        height: rem(381px);
        padding-top: rem(113px);
    }
}

.hero__wrap {
    width: 50%;

    @include laptop {
        width: 60%;
    }

    @include tablets {
        width: 80%;
    }

    @include phones-large {
        width: 100%;
    }

    @include phones {
        padding-top: rem(18px);
    }
}

.hero__wrap--fullwidth {
    width: 100%;
    padding-top: rem(57px);

    .hero__desk--feed {
        width: 45%;

        @include tablets {
            width: 100%;
        }
    }

    @include phones {
        padding-top: rem(30px);
    }
}

.section__title {
    font-family: $m-r;
    font-size: rem(50px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    @include desktop {
        font-size: rem(48px);
    }

    @include laptop {
        font-size: rem(42px);
    }

    @include phones {
        font-size: rem(33px);
    }
}

.section__title--bold {
    font-family: $m-b;

    @include desktop {
        font-size: rem(42px);
    }

    @include laptop {
        font-size: rem(41px);
    }

    @include tablets {
        font-size: rem(31px);
    }

    @include phones-large {
        font-size: rem(40px);
    }

    @include phones {
        font-size: rem(33px);
        position: relative;
    }
}

.section__title--wood {
    @include phones-large {
        font-size: rem(44px);

        .lenght {
            left: 0;
            right: initial;
            transform: translate(0%, 0);

            &:after {
                left: rem(30px);
                transform: translate(-50%, 0);
            }
        }
    }

    @include phones {
        font-size: rem(33px);

        .tooltip {
            left: 0;
            transform: translate(0, 0);

            &::after {
                left: rem(20px);
                right: initial;
            }
        }
    }
}

.section__title--short {
    @include phones-large {
        .lenght {
            left: 0;
            right: initial;
            transform: translate(0%, 0);

            &:after {
                left: rem(165px);
                transform: translate(-50%, 0);
            }
        }
    }

    @include phones {
        .tooltip {
            left: 0;
            transform: translate(0, 0);

            &::after {
                left: rem(165px);
                right: initial;
            }
        }
    }
}

.section__title--long {
    @include laptop {
        font-size: rem(39px);
    }

    @include tablets {
        font-size: rem(31px);
    }

    @include phones-large {
        font-size: rem(40px);
    }

    @include phones {
        font-size: rem(33px);
    }
}

.section__title--blue {
    color: $blue;
    border-bottom: 3px solid $blue; 
    position: relative;
    display: inline-block;

    @include phones {
        position: initial;
    }
}

.type {
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: $blue;
    top: 100%;
    top: calc(100% + 43px);
    padding: rem(20px) rem(117px) rem(20px) rem(33px);
    width: rem(418px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 100;

    &:after {
        content: '';
        height: 0;
        width: 0;
        border: 20px solid transparent;
        border-bottom-color: $blue;
        border-top-width: 0;
        position: absolute;
        bottom: 100%;
        left: rem(50px);
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    @include desktop {
        width: rem(380px);
        padding: rem(20px) rem(107px) rem(20px) rem(33px);
    }

    @include phones-large {
        top: calc(100% + 24px);
    }

    @include phones {
        top: calc(100% + -14px);
        width: 100%;
    }
}

.type__btn {
    position: absolute;
    background: none;
    border: initial;
    padding: 0;
    outline: none;
    right: 20px;
    cursor: pointer;

    &:hover {
        .type__icon {
            opacity: .6;
        }
    }
}

.type__icon {
    height: rem(28px);
    width: rem(28px);
    fill: $w;
    transition: .3s;
}

.type__item {
    line-height: initial;
    font-size: initial;
}

.type__link {
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $w;
    transition: .3s;
    padding: rem(13px) rem(20px);
    width: 100%;
    display: block;

    &:hover {
        background-color: $w;
        color: $green;
    }

    @include desktop {
        padding: rem(11px) rem(20px);
    }
}

.tooltip {
    padding: rem(14px) rem(16px);
    background-color: #f54a4a;
    color: $w;
    font-family: $m-r;
    font-size: rem(12px);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    position: absolute;
    left: 100%;
    left: calc(100% + 40px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    top: 50%;
    transform: translate(0, -50%);
    width: rem(245px);
    line-height: rem(18px);
    z-index: 100;

    &:after {
        content: '';
        height: 0;
        width: 0;
        border: 12px solid transparent;
        border-right-color: #f54a4a;
        border-left-width: 0;
        position: absolute;
        bottom: 100%;
        right: 100%;
        top: 50%;
        transform: translate(0, -50%);
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    @include desktop {
        left: 50%;
        top: initial;
        transform: translate(-50%, 0%);
        bottom: calc(100% + 15px);

        &:after {
            transform: translate(0, 0) rotate(-90deg);
            right: 50%;
            top: calc(100% - 7px);
        }
    }

    @include laptop {
        left: initial;
        right: 0;
        transform: translate(0%, 0%);

        &:after {
            right: rem(35px);
        }
    }

    @include tablets {
        bottom: calc(100% + 40px); 
    }

    @include phones-large {
        bottom: initial;
        top: calc(100% + 25px);
        right: initial;
        left: 0;

        &::after {
            transform: translate(0, 0) rotate(90deg);
            top: initial;
            bottom: calc(100% + -6px);
            right: initial;
            left: 25px;
        }
    }

    @include phones {
        left: 50%;
        transform: translate(-50%, 0);
        top: calc(100% + 17px);
        width: rem(250px);

        &:after {
            left: initial;
            right: 115px;
        }
    }
}

.lenght {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    width: rem(540px);
    height: rem(218px);
    left: 0;
    top: 100%;
    top: calc(100% + 43px);
    padding: rem(36px) rem(117px) rem(88px) rem(55px);
    line-height: initial;
    font-size: initial;
    z-index: 100;

    &:after {
        content: '';
        height: 0;
        width: 0;
        border: 20px solid transparent;
        border-bottom-color: $blue;
        border-top-width: 0;
        position: absolute;
        bottom: 100%;
        left: rem(25px);
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    @include desktop {
        width: rem(320px);
        height: initial;
        padding: rem(36px) rem(50px) rem(97px) rem(30px);
    }

    @include laptop {
        left: initial;
        right: 0;
        width: rem(380px);

        &:after {
            right: rem(25px);
            left: initial;
        }
    }

    @include phones-large {
        right: 50%;
        transform: translate(50%, 0);
        top: calc(100% + 24px);

        &:after {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    @include phones {
        width: 100%;
        padding: rem(60px) rem(60px) rem(105px) rem(30px);
    }
}

.lenght__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include desktop {
        flex-flow: row wrap;
    }
}

.lenght__text {
    @include desktop {
        width: 100%;
        margin-bottom: rem(15px);
    } 

    @include phones {
        width: 50%;
    }
}

.lenght__text-line {
    font-family: $m-r;
    font-size: rem(16px);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $w;

    @include phones {
        font-size: rem(14px);
    }
}

.lenght__box {
    @include phones {
        width: 50%;
    }
}

.lenght__input {
    background-color: $w;
    color: $b;
    border: 1px solid $w;
    outline: none;
    padding: rem(17px) rem(25px);
    font-family: $m-r;
    font-size: rem(16px);
    letter-spacing: normal;
    transition: .3s;
    width: rem(118px);
    border-radius: 0;

    &:hover,
    &:focus {
        border: 1px solid $green;
    }

    @include desktop {
        width: rem(110px);
    }

    @include laptop {
        width: rem(160px);
    }

    @include phones {
        width: 100%;
    }
}

.lenght__block {
    display: flex;
    align-items: center;

    @include phones {
        margin-bottom: rem(5px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.lenght__radio-fake {
    width: 34px;
    height: 27px;
    background: #fff;
    position: relative;
}

.lenght__radio-fake:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px;
    height: 24px;
    background-color: $green;
    display: none;
}

.lenght__radio:checked + .lenght__radio-fake:after {
    display: block;
}

.lenght__subtitle {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $w;
    margin-left: rem(9px);
}

.lenght__btn {
    position: absolute;
    background: none;
    border: initial;
    padding: 0;
    outline: none;
    right: rem(20px);
    cursor: pointer;
    top: rem(19px);

    &:hover {
        .lenght__icon {
            opacity: .6;
        }
    }
}

.lenght__icon {
    height: rem(28px);
    width: rem(28px);
    fill: $w;
    transition: .3s;
}

.section__title--red {
    color: #f54a4a;
    border-bottom: 3px solid #f54a4a; 
    position: relative;
    display: inline-block;
}

.hero__desk {
    font-family: $m-r;
    font-size: rem(25px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: rem(49px);

    @include desktop {
        font-size: rem(19px);
        margin-top: rem(39px);
    }

    @include laptop {
        font-size: rem(17px);
        margin-top: rem(30px);
    }

    @include phones {
        margin-top: rem(45px);
        padding-right: rem(10px);
    }
}