.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: rem(1px) solid #d4c29a;
    padding-bottom: rem(12px);
}

.pagination__btn {
    display: flex;
    align-items: center;
    height: rem(36px);
    padding: 0 rem(9px) 0 rem(13px);
    transition: .3s;

    &:last-child {
        justify-content: flex-end;
        padding: 0 rem(13px) 0 rem(9px);

        .pagination__icon {
            transform: rotate(180deg);
            margin-right: 0;
            margin-left: rem(13px);
        }
    }

    &:hover {
        background-color: $button_hover;

        .pagination__icon {
            fill: $text_button;
        }

        .pagination__desk {
            color: $text_button;
        }
    }
}

.pagination__icon {
    height: rem(12px);
    width: rem(12px);
    fill: $text;
    transition: .3s;
    margin-right: rem(13px);
}

.pagination__desk {
    font-family: $a;
    font-size: rem(12px);
    color: $text;
    text-transform: uppercase;
    transition: .3s;
}