.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: rem(357px);
    height: 100%;
    max-height: 100%;
    min-height: rem(872px);
    display: flex;
    flex-direction: column;
    z-index: 101;
    background-color: #48494f;
    //display: none;////////

    @include --xxl {
        width: rem(282px);
    }
}

.logo {
    width: 100%;
    height: rem(105px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9ea;

    @include --lg {
        height: rem(95px);
    }
}

.logo__img {
    max-height: rem(65px);
    width: auto;
}

.menu {
    width: 100%;
    padding: rem(27px) 0;
    position: relative;

    @include --xl {
        padding: rem(17px) 0;
    }
}

.menu__item {
    width: 100%;
    padding: 0 rem(26px);
    transition: .35s;
    border-left: rem(7px) solid transparent;
}

.menu__link {
    width: 100%;
    display: block;
    padding: rem(13px) rem(65px) rem(13px) rem(55px);
    line-height: rem(18px);
    transition: .35s;
    position: relative;

    &:after {
        content: '';
        width: 30px;
        height: 50%;
        position: absolute;
        background: #1f5984;
        bottom: 0;
        left: 100%;
        transform: skew(-20deg)translate(-50%,0);
        z-index: -1;
        transition: .35s;
    }

    &:before {
        content: '';
        width: 30px;
        height: 50%;
        position: absolute;
        background: #1f5984;
        top: 0;
        left: 100%;
        transform: skew(20deg)translate(-50%,0);
        z-index: -1;
        transition: .35s;
    }

    @include --xxl {
        padding: rem(13px) rem(13px);
    }

    @include --xl {
        padding: rem(11px) rem(13px);
    }
}

.menu--top {
    background-color: #246493;
    
    .menu__link {
        color: $w;
        border-top: 1px solid #3777a7;
        border-bottom: 1px solid #1f5984;
        display: inline-block;
        vertical-align: middle;
    }

    .menu__item:hover .sub-menu{
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }
    .menu__item:hover .icon--arrow:after{
        opacity: 1;
    }

    .menu__item {
        padding-right: rem(38px);
        &:hover {
            background-color: #1f5984;
            border-left: rem(7px) solid #168ce3;

            .menu__link {
                border-color: #1f5984;
            }

            .menu__link:before {
                transform: skew(20deg)translate(0, 0);
            }

            .menu__link:after {
                transform: skew(-20deg)translate(0, 0);
            }
        }

        &:first-child .menu__link {
            border-top: transparent;
        }

        &:last-child .menu__link {
            border-bottom: transparent;
        }
    }
}

.menu--bottom {
    background-color: #48494f;

    .menu__link {
        color: #aaacb8;
        border-top: 1px solid #56575c;
        border-bottom: 1px solid #3f4047;
        padding: rem(13px) rem(50px) rem(13px) rem(77px);

        @include --xxl {
            padding: rem(13px) rem(36px);
        }

        @include --xl {
            padding: rem(11px) rem(36px);
        }
    }

    .menu__item {
        position: relative;

        &:before {
            content: '';
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: #aaacb8;
            position: absolute;
            top: 18px;
            left: 82px;

            @include --xxl {
                left: 40px;
            }
        }

        &:hover {
            background-color: #1f5984;
            border-left: 0.46667rem solid #168ce3;
            

            .menu__link {
                color: $w;
                border-color: #1f5984;

                &:before,
                &:after {
                    background-color: #1f5984;
                }
            }

            .menu__link:before {
                transform: skew(20deg)translate(0, 0);
            }

            .menu__link:after {
                transform: skew(-20deg)translate(0, 0);
            }
        }

        &:first-child .menu__link {
            border-top: transparent;
        }

        &:last-child .menu__link {
            border-bottom: transparent;
        }
    }
}

.icon--arrow {
    position: relative;
    margin-right: rem(-50px);

    &:after {
        content: '\e801';
        font-family: $f;
        color: $w;
        position: relative;
        right: 0;
        opacity: 0;
        transition: .35s;
    }
}

.sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: .25s;
    background-color: #252527;
    padding: rem(38px) 0;
    width: rem(335px);
    visibility: hidden;

    @include --xl {
        padding: rem(28px) 0;
    }
}

.sub-menu__title {
    text-transform: uppercase;
    color: #919191;
    margin-bottom: rem(5px);
    padding: 0 rem(55px);

    @include --xxl {
        padding: 0 rem(30px);
    }
}

.sub-menu__list {
    margin-bottom: rem(40px);

    &:last-child {
        margin-bottom: 0;
    }

    @include --xxl {
        margin-bottom: rem(30px);
    }
}

.sub-menu__item {
    padding: 0 rem(55px);
    transition: .35s;
    border-left: 0.46667rem solid transparent;

    &:hover {
        background-color: #1f5984;
        border-left: 0.46667rem solid #168ce3;

        .sub-menu__link {
            border-color: #1f5984;
        }

        .sub-menu__link:before {
            transform: skew(20deg)translate(0, 0);
            background-color: #1f5984;
        }

        .sub-menu__link:after {
            transform: skew(-20deg)translate(0, 0);
            background-color: #1f5984;
        }
    }

    @include --xxl {
        padding: 0 rem(30px);
    }
}

.sub-menu__item:first-child .sub-menu__link {
    border-top: transparent;
}

.sub-menu__item:last-child .sub-menu__link {
    border-bottom: 1px solid #3f3f40;
}

.sub-menu__link {
    color: $w;
    display: block;
    padding: rem(11px) rem(17px);
    border-top: 1px solid #3f3f40;
    border-bottom: 1px solid #1f1e20;
    position: relative;

    &:after {
        content: '';
        width: 30px;
        height: 50%;
        position: absolute;
        background: #252527;
        bottom: 0;
        left: calc(100% + 29px);
        transform: skew(-20deg)translate(-50%,0);
        z-index: -1;
        transition: .35s;

        @include --xxl {
            left: calc(100% + 5px);
        }
    }

    &:before {
        content: '';
        width: 30px;
        height: 50%;
        position: absolute;
        background: #252527;
        top: 0;
        left: calc(100% + 29px);
        transform: skew(20deg)translate(-50%,0);
        z-index: -1;
        transition: .35s;

        @include --xxl {
            left: calc(100% + 5px);
        }
    }
}