.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
    
    * {
      outline: none;
    }
    
    .item {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;
      
      .text {
        display: none;
      }
      
      .item__img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  .slick-dots {
    position: fixed;
    z-index: 100;
    width: auto;
    height: rem(30px);
    bottom: rem(205px);
    right: 50%;
    transform: translate(50%, -50%);
    left: auto;
    color: #fff;
    display: flex;

    @include phones {
      bottom: rem(256px);
    }

    @include small3 {
      bottom: rem(240px);
    }

    li {
      width: auto;
      height: 100%;
      
      & button {
        position: relative;
        width: rem(32px);
        height: rem(20px);
        text-align: center;
        background: none;
        border: initial;
        color: transparent;

        
        &:before {
          content: '';
          background: #fff;
          color: #fff;
          height: rem(4px);
          width: rem(4px);
          border-radius: 0;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          opacity: 1;
        }
      }
      
      &:first-child button {
        width: 0;
        padding-left: 0;
      }
      
      &.slick-active {
        button {
          &:before {
            height: rem(18px);
            opacity: 1;
          }
        }
      }
    }
  }
  
  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
    
    .slider {
      left: 0;
      position: absolute;
    }
  }
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  z-index: 2;
  font-size: rem(18px);
  width: rem(290px);
  color: #fff;
  pointer-events: none;
  line-height: 1.4;
  overflow: hidden;
  text-align: right;

  @include tablets {
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @include phones {
    text-align: right;
    top: 45%;
  }
}

.slideshow-text__title {
  font-size: rem(24px);
  color: #ffffff;

  @include tablets {
    font-size: rem(29px);
  }
}

.slideshow-text__subtitle {
  font-size: rem(20px);

  @include tablets {
    font-size: rem(24px);
  }
}

.slick-arrow {
  position: fixed;
  z-index: 1;
  background: transparent;
  border: initial;
  color: transparent;
  height: rem(36px);
  width: rem(36px);
  cursor: pointer;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  line-height: 1rem;

  &:hover {
    background-color: #f5f7fc;

    &:after {
      color: #393c42;
    }
  }
}

.slick-prev {
  top: calc(50% - 1.875rem);
  left: calc(50% - 19.9375rem);
  transform: translate(-50%, 0);

  &::before {
    content: '';
    width: 1px;
    height: rem(356px);
    background-color: #fff;
    position: absolute;
    right: rem(-2px);
    opacity: 0.3;

    @include small {
      height: rem(220px);
    }

    @include small2 {
      height: rem(180px);
    }

    @include small3 {
      height: rem(140px);
    }
  }

  &::after {
    content: '\2039';
    font-family: $a;
    font-size: 1.7rem;
    color: #f4f6fb;
    position: fixed;
  }

  @include phones-large {
    left: calc(50% - 15rem);
  }

  @include phones {
    top: calc(45% - 1.875rem);
    left: calc(50% - 11rem);
  }
}

.slick-next {
  top: calc(50% - 1.875rem);
  right: calc(50% - 19.9375rem);
  transform: translate(50%, 0);

  &::before {
    content: '';
    width: 1px;
    height: rem(356px);
    background-color: #fff;
    position: absolute;
    left: rem(-2px);
    opacity: 0.3;

    @include small {
      height: rem(220px);
    }

    @include small2 {
      height: rem(180px);
    }

    @include small3 {
      height: rem(140px);
    }
  }

  &::after {
    content: '\203a';
    font-family: $a;
    font-size: 1.7rem;
    color: #f4f6fb;
    position: fixed;
  }

  @include phones-large {
    right: calc(50% - 15rem);
  }

  @include phones {
    top: calc(45% - 1.875rem);
    right: calc(50% - 11rem);
  }
}