.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
    
    * {
      outline: none;
    }
    
    .item {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;
      
      .text {
        display: none;
      }
      
      .item__img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  .slick-dots {
    position: fixed;
    z-index: 100;
    width: auto;
    height: 40px;
    bottom: 50px;
    right: 50%;
    transform: translate(50%, -50%);
    left: auto;
    color: #fff;
    display: flex;
    
    li {
      width: auto;
      height: 100%;
      
      & button {
        position: relative;
        width: 32px;
        height: 20px;
        text-align: center;
        background: none;
        border: initial;
        color: transparent;

        
        &:before {
          content: '';
          background: #fff;
          color: #fff;
          height: 4px;
          width: 4px;
          border-radius: 0;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          opacity: 1;
        }
      }
      
      &:first-child button {
        width: 0;
        padding-left: 0;
      }
      
      &.slick-active {
        button {
          &:before {
            height: 18px;
            opacity: 1;
          }
        }
      }
    }
  }
  
  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
    
    .slider {
      left: 0;
      position: absolute;
    }
  }
}

.slideshow-left {
  .slick-prev {
    left: 0;
    top: 50%;
  }
  .slick-next {
    top: 50%;
    right: 0;
  }
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  z-index: 100;
  font-size: 18px;
  width: 265px;
  color: #fff;
  pointer-events: none;
  line-height: 1.4;
  overflow: hidden;
  text-align: right;
}

.slideshow-text__title {
  font-size: 24px;
  color: #ffffff;
}

.slideshow-text__subtitle {
  font-size: 20px;
}

.slick-arrow {
  position: fixed;
  background: #fff;
  z-index: 1;
}

.slick-prev {

}

.slick-next {

}