.video {
    padding-top: rem(50px);
    padding-bottom: rem(60px);
    z-index: 1;
}

.video__content {
    border-top: 1px solid #d4c29a;
    border-bottom: 1px solid #d4c29a;
    padding: 0 rem(15px);
    margin-top: rem(49px);
    padding-top: rem(30px);
}

.video__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: rem(64px);

    @include tablets {
        justify-content: space-around;
    }

    @include phones-large {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}

.video__block {
    width: rem(540px);

    @include desktop {
        width: rem(462px);
    }

    @include laptop {
        width: rem(398px);
    }

    @include tablets {
        width: rem(318px);
    }

    @include phones-large {
        width: rem(480px);
        margin-bottom: rem(40px);
    }

    @include phones {
        width: rem(332px);
    }
}

.video__block iframe {
    width: rem(540px);
    height: rem(304px);

    @include desktop {
        width: rem(462px);
        height: rem(260px);
    }

    @include laptop {
        width: rem(398px);
        height: rem(224px);
    }

    @include tablets {
        width: rem(318px);
        height: rem(176px);
    }

    @include phones-large {
        width: rem(480px);
        height: rem(270px);
    }

    @include phones {
        width: rem(332px);
        height: rem(183px);
    }
}

.video__title {
    font-size: rem(18px);
    font-weight: 700;
    color: #2b3345;
    line-height: rem(24px);
    margin-top: rem(35px);

    @include phones-large {
        margin-top: rem(15px);
    }
}