.categories {
    background-color: $blue;

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 10;

        .block-title {
            display: none;
        }

        .categories__row {
            padding-top: rem(15px);
        }
    }
}

.categories__wrap {
    padding: rem(21px) rem(53px) rem(15px) rem(53px);
}

.categories__row {
    width: 100%;
    padding-top: rem(37px);
}

.categories__list {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.categories__link {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: $w;
    transition: .3s;
    border: 1px solid $w;
    padding: rem(10px) rem(18px);
    display: block;
    margin: 0 rem(21px) rem(19px) 0;

    &:hover {
        background-color: $w;
        border-color: $w;
        color: $green;
    }

    &.active {
        background-color: $w;
        border-color: $w;
        color: $green;
    }
}

.works {
    &.scroll {
        padding-top: rem(249px);
    }
}

.works__list {
    padding-top: rem(53px);
}

.works__item {
    margin-bottom: rem(53px);

    &:last-child {
        margin-bottom: 0;
    }
}

.photo--with-padding {
    padding-top: rem(53px);

    @include phones {
        padding-top: rem(19px);
    }
}

.photo__columns {
    display: flex;
    flex-direction: row;
    height: rem(496px);

    @include desktop {
        height: rem(400px);
    }

    @include laptop {
        height: rem(375px);
    }

    @include laptop {
        height: rem(295px);
    }

    @include phones-large {
        height: initial;
        flex-direction: column;
    }
}

.photo__col-l {
    width: rem(530px);
    height: 100%;

    @include desktop {
        width: rem(388px);
    }

    @include laptop {
        width: 50%;
    }

    @include phones-large {
        width: 100%;
        height: rem(470px);
    }

    @include phones {
        height: rem(310px);
    }
}

.photo__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.photo__image-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(59, 68, 78, 0.5);
}

.photo__content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: rem(20px) rem(43px) rem(20px) rem(52px);

    &:before {
        content: '';
        width: 94%;
        height: 94%;
        border: 1px solid $w;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include desktop {
        padding: rem(20px) rem(33px) rem(20px) rem(33px);
    }

    @include tablets {
        padding: rem(20px) rem(25px) rem(20px) rem(25px);
    }

    @include phones-large {
        padding: rem(20px) rem(43px) rem(20px) rem(52px);  
    }

    @include phones {
        padding: rem(20px) rem(28px) rem(20px) rem(28px);   
    }
}

.photo__title {
    text-transform: uppercase;
    color: $w;
    font-family: $m-b;
    font-size: rem(30px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;

    @include desktop {
        font-size: rem(25px);
    }

    @include tablets {
        font-size: rem(18px);
    }

    @include phones-large {
        font-size: rem(30px);
    }

    @include phones {
        font-size: rem(21px);
    }
}

.photo__obj {
    color: $w;
    font-family: $m-s;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    position: absolute;
    bottom: rem(53px);
    left: rem(55px);

    @include desktop {
        left: rem(33px);
    }

    @include tablets {
        font-size: rem(13px);
        left: rem(25px);
    }

    @include phones-large {
        font-size: rem(14px);
        left: rem(55px);
    }

    @include phones {
        left: rem(28px);
        bottom: rem(39px);
    }
}

.photo__col-r {
    width: rem(750px);
    height: 100%;

    @include desktop {
        width: rem(582px);
    }

    @include laptop {
        width: 50%;
    }

    @include phones-large {
        width: 100%;
        height: rem(470px);
    }

    @include phones {
        height: rem(330px);
    }
}

.photo__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.photo__fake-list {
    width: 100%;
    height: 100%;
}

.photo__item {
    width: 33.3333%;
    height: 50%;
    position: relative;

    @include laptop {
        width: 50%;

        &:nth-child(5) {
            display: none;
        }
        &:nth-child(6) {
            display: none;
        }
    }
}

.photo__fake-item {
    width: 100%;
    height: 100%;
}

.photo__sub-list {
    height: 100%;
    width: 100%;
}

.photo__sub-item {
    display: none;
    height: 100%;
    width: 100%;

    &.visible {
        display: block;
    }
}

.photo__link {
    &:hover {
        .photo__icon {
            opacity: 1;
        }
    }
}

.photo__pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.photo__pic--more {
    &:before {
        content: '';
        background-image: url(../images/icons/more-photo.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: rem(28px);
        right: rem(26px);
        width: rem(28px);
        height: rem(27px);

        @include tablets {
            width: rem(22px);
            height: rem(20px); 
        }

        @include phones {
            bottom: rem(23px);
            right: rem(19px);
        }
    }
}

.photo__img {
    @include desktop {
        height: 100%;
        width: 100%;
    }
}

.photo__icon {
    height: rem(64px);
    width: rem(77px);
    fill: $w;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;

    @include tablets {
        height: rem(54px);
        width: rem(67px);
    }
}