.categories {
    background-color: $blue;

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 10;

        .block-title {
            display: none;
        }

        .categories__row {
            padding-top: rem(15px);

            @include desktop {
                padding-top: rem(5px);
            }
        }

        .categories__wrap {
            @include tablets {
                padding-top: rem(2px);
                padding-bottom: rem(20px);
            }
        }

        .cat-mobile__title {
            display: none;
        }
    }
}

.categories__wrap {
    padding: rem(21px) rem(53px) rem(15px) rem(53px);

    @include desktop {
        padding: rem(20px) rem(35px);
    }

    @include laptop {
        padding: rem(20px) rem(30px);
    }

    @include phones {
        padding-bottom: rem(46px);
    }
}

.categories__row {
    width: 100%;
    padding-top: rem(37px);

    @include desktop {
        padding-top: rem(20px);
    }

    @include phones {
        padding-top: rem(28px);
    }
}

.categories__list {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;

    @include tablets {
        display: none;
    }
}

.cat-mobile {
    display: none;

    @include tablets {
        display: block;
        padding-bottom: rem(55px);
        width: rem(590px);
        max-width: 100%;
    }
}

.cat-mobile__title {
    font-family: $m-r;
    font-size: rem(15px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: $w;
}


.categories__link {
    font-family: $m-r;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: $w;
    transition: .3s;
    border: 1px solid $w;
    padding: rem(10px) rem(18px);
    display: block;
    margin: 0 rem(21px) rem(19px) 0;

    &:hover {
        background-color: $w;
        border-color: $w;
        color: $green;
    }

    &.active {
        background-color: $w;
        border-color: $w;
        color: $green;
    }

    @include desktop {
        margin: 0 rem(10px) rem(10px) 0;
    }

    @include laptop {
        padding: rem(6px) rem(10px);
        margin: 0 rem(6px) rem(6px) 0;
    }
}

.works {
    &.scroll {
        padding-top: rem(249px);

        @include tablets {
            padding-top: rem(215px);
        }

        @include phones-large {
            padding-top: rem(200px);
        }
    }
}

.works__list {
    padding-top: rem(53px);

    @include phones {
        padding-top: rem(20px);;
    }
}

.works__item {
    margin-bottom: rem(53px);

    &:last-child {
        margin-bottom: 0;
    }

    @include phones {
        margin-bottom: rem(20px);

        &:last-child {
            margin-bottom: 0;
        } 
    }
}

.photo--with-padding {
    padding-top: rem(53px);

    @include phones {
        padding-top: rem(19px);
    }
}

.photo__columns {
    display: flex;
    flex-direction: row;
    height: rem(496px);

    @include desktop {
        height: rem(400px);
    }

    @include laptop {
        height: rem(375px);
    }

    @include laptop {
        height: rem(295px);
    }

    @include phones-large {
        height: initial;
        flex-direction: column;
    }
}

.photo__col-l {
    width: rem(530px);
    height: 100%;

    @include desktop {
        width: rem(388px);
    }

    @include laptop {
        width: 50%;
    }

    @include phones-large {
        width: 100%;
        height: rem(470px);
    }

    @include phones {
        height: rem(310px);
    }
}

.photo__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.photo__image-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(59, 68, 78, 0.5);
}

.photo__content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: rem(20px) rem(43px) rem(20px) rem(52px);

    &:before {
        content: '';
        width: 94%;
        height: 94%;
        border: 1px solid $w;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include desktop {
        padding: rem(20px) rem(33px) rem(20px) rem(33px);
    }

    @include tablets {
        padding: rem(20px) rem(25px) rem(20px) rem(25px);
    }

    @include phones-large {
        padding: rem(20px) rem(43px) rem(20px) rem(52px);  
    }

    @include phones {
        padding: rem(20px) rem(28px) rem(20px) rem(28px);   
    }
}

.photo__title {
    text-transform: uppercase;
    color: $w;
    font-family: $m-b;
    font-size: rem(30px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;

    @include desktop {
        font-size: rem(25px);
    }

    @include tablets {
        font-size: rem(18px);
    }

    @include phones-large {
        font-size: rem(30px);
    }

    @include phones {
        font-size: rem(21px);
    }
}

.photo__obj {
    color: $w;
    font-family: $m-s;
    font-size: rem(14px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    position: absolute;
    bottom: rem(53px);
    left: rem(55px);

    @include desktop {
        left: rem(33px);
    }

    @include tablets {
        font-size: rem(13px);
        left: rem(25px);
    }

    @include phones-large {
        font-size: rem(14px);
        left: rem(55px);
    }

    @include phones {
        left: rem(28px);
        bottom: rem(39px);
    }
}

.photo__col-r {
    width: rem(750px);
    height: 100%;

    @include desktop {
        width: rem(582px);
    }

    @include laptop {
        width: 50%;
    }

    @include phones-large {
        width: 100%;
        height: rem(470px);
    }

    @include phones {
        height: rem(330px);
    }
}

.photo__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.photo__fake-list {
    width: 100%;
    height: 100%;
}

.photo__item {
    width: 33.3333%;
    height: 50%;
    position: relative;

    @include laptop {
        width: 50%;

        &:nth-child(5) {
            display: none;
        }
        &:nth-child(6) {
            display: none;
        }
    }
}

.photo__fake-item {
    width: 100%;
    height: 100%;
}

.photo__sub-list {
    height: 100%;
    width: 100%;
}

.photo__sub-item {
    display: none;
    height: 100%;
    width: 100%;

    &.visible {
        display: block;
    }
}

.photo__link {
    &:hover {
        .photo__icon {
            opacity: 1;
        }
    }
}

.photo__pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.photo__pic--more {
    &:before {
        content: '';
        background-image: url(../images/icons/more-photo.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: rem(28px);
        right: rem(26px);
        width: rem(28px);
        height: rem(27px);

        @include tablets {
            width: rem(22px);
            height: rem(20px); 
        }

        @include phones {
            bottom: rem(23px);
            right: rem(19px);
        }
    }
}

.photo__img {
    @include desktop {
        height: 100%;
        width: 100%;
    }
}

.photo__icon {
    height: rem(64px);
    width: rem(77px);
    fill: $w;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;

    @include tablets {
        height: rem(54px);
        width: rem(67px);
    }
}

// select categories photo
.form-calc-photo input {
    display: none;
}

.form-calc-photo {
    display: inline-block;
    width: 100%;
    position: relative;
}

.form-calc-photo:before {
    content: "";
    background-image: url('../images/icons/select-icon.png');
    display: inline-block;
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    z-index: 4;
    width: rem(39px);
    height: rem(39px);
    text-align: center;
    line-height: rem(39px);
    cursor: pointer;
}

.form-calc-photo input[name="photo-of-gates"]:not(:checked) ~ #text-photo {
    color: black;
    background: white;
}

.form-calc-photo input[name="photo-of-gates"]:checked ~ #text-photo {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select-photo:disabled ~ .items-calc-photo #text-photo {
    background: #eee;
}

.items-calc-photo {
    display: block;
    min-height: rem(30px);
    position: absolute;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    background: $w;
    z-index: 1;
}

#select-photo:not(:checked) ~ .items-calc-photo {
    height: rem(52px);
}

.items-calc-photo label {
    display: none;
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    border-bottom: 1px solid $grey;
    font-family: $m-s;

    &:last-child {
        border-bottom: none;
    }
}

.text-photo {
    padding: rem(17px) rem(24px);
    padding-right: rem(45px);
    background: white;
    color: $b;
    font-family: $m-s;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
}

.items-calc-photo label:hover {
    background-color: $green;
    color: $w;
}

#select-photo:checked ~ .items-calc-photo {
    padding-top: rem(52px);
    z-index: 3;
    max-height: rem(320px);
    overflow: auto;
}

#select-photo:checked ~ .items-calc-photo label {
    display: block;
}

.items-calc-photo input:checked + label {
    display: block!important;
    border: none;
    background: white;
    color: $b;
}

#select-photo:checked ~ .bg-photo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
// select categories photo end