// Responsive
$big-desktop: 1800px; //max-width: 1280px;
$desktop: 1300px; //max-width: 970px;
$laptop: 992px; //max-width: 750px;
$tablets: 768px; //max-width: 590px;
$phones-large: 600px; //max-width: 470px;
$phones: 480px; //max-width: 330px;

// Colors
$blue: #49b7ef;
$green: #40c36b;
$grey: #e3ebed;
$b: #000000;
$w: #ffffff;
$text: #7d888e;


// Fonts
$gopro: 'Gotham Pro';
$goprob: 'Gotham Pro Bold';
$goprom: 'Gotham Pro Medium';
$f: 'Fontello';