// Responsive
$big-desktop: 1800px; //max-width: 1170px;
$desktop: 1200px; //max-width: 940px;
$laptop: 992px; //max-width: 750px;
$tablets: 768px; //max-width: 90%;
$phones-large: 640px; //max-width: 90%;
$phones: 480px; //max-width: 90%;
$small: 750px; //height
$small2: 650px; //height
$small3: 550px; //height

// Colors
$blue: #49b7ef;
$green: #40c36b;
$grey: #e3ebed;
$b: #000000;
$w: #ffffff;
$text: #7d888e;


// Fonts
$gopro: 'Gotham Pro';
$goprob: 'Gotham Pro-bold';
$m-r: 'Montserrat-Regular';
$m-m: 'Montserrat-Medium';
$m-i: 'Montserrat-Italic';
$m-b: 'Montserrat-Bold';
$m-s: 'Montserrat-SemiBold'; 