.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*.wrapper_no-scroll {
    overflow: hidden;
}*/

.section {
    position: relative;
    min-height: 650px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

    @include desktop {
        max-width: 940px;
    }

    @include laptop {
        max-width: 750px;
    }

    @include tablets {
        max-width: 90%;
    }
}