.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    position: relative;
    flex: 1 0 auto;
    padding-top: rem(115px);
    padding-bottom: rem(101px);

    @include phones {
        padding-bottom: rem(35px);
        padding-top: 0;
    }
}

.section--works {
    padding-top: rem(53px);

    @include desktop {
        padding-top: rem(33px);
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;

    @include desktop {
        max-width: 970px;
    }

    @include laptop {
        max-width: 750px;
    }

    @include tablets {
        max-width: 590px;
    }

    @include phones-large {
        max-width: 470px;
    }

    @include phones {
        max-width: 330px;
    }
}

.image-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    flex: 0 0 auto;
}

// Custom ScrollBar

.custom-scroll {
           
    &::-webkit-scrollbar-track {
        background-color: darken($grey, 10%);;
    }
        
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0;
        border-radius: 0px;
        background-color: #9dacb4;
    }
        
    &::-webkit-scrollbar-thumb:hover{
        background-color: darken(#9dacb4, 10%);
    }
        
    &::-webkit-scrollbar{
        width: 5px;
    }
}