.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper--overflow {
    overflow: hidden;
}

.section {
    position: relative;
    flex: 1 0 auto;
}

.section--slider {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 650px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    @include desktop {
        max-width: 940px;
    }

    @include laptop {
        max-width: 750px;
    }

    @include tablets {
        max-width: 90%;
    }
}

.container--flex {
    display: flex;
}

.image-wrap {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    flex: 0 0 auto;
}