.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.wrapper--overflow {
    overflow: hidden;
    position: fixed;
}

.section {
    position: relative;
    flex: 1 0 auto;
}

.section--slider {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    @include desktop {
        max-width: 940px;
    }

    @include laptop {
        max-width: 750px;
    }

    @include tablets {
        max-width: 90%;
    }
}

.container--flex {
    display: flex;
}

.container--footer-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}

.image-wrap {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    flex: 0 0 auto;
}