@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/subset-GothamPro.woff2') format('woff2'),
        url('../fonts/subset-GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro-bold';
    src: url('../fonts/subset-GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/subset-GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/subset-Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../fonts/subset-Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}